<template>
<Nuxt id="twind" />
</template>

<!-- style lang="postcss" scoped>
/*! Tailwind Styles */
@import '~/tailwind.css';
</style -->

<script>
export default {
  data() {
    return {
      name: "default",
    };
  },
};
</script>
