<template>
<div id="wordpress">
  <header class="site-header header-scroll-top">
    <div class="desktop-nav">
      <div class="container-full">
        <div class="row align-items-center justify-content-between">
          <div class="logo">
            <a href="javascript:void(0)" rel="home">
              <BrandLogoH class="mr-3 h-[40px]" alt="1WorldSync" />
            </a>
          </div>
          <nav id="desktop-main-menu" class="header-primary-secondary">
            <div class="language-menu">
              <div class="header-language">
                <ul class="menu flex-row items-center">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-has-children">
                    <a href="javascript:void(0)" tabindex="0">
                      <div class="title-description selected-language"><i aria-hidden="true" class="fal fa-globe"></i>&nbsp; English</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-secondary">
              <ul class="menu flex-row items-center">
                <li id="menu-item-49165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49165">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Blog</div>
                  </a>
                </li>
                <li id="menu-item-49170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item menu-item-49170">
                  <a href="javascript:void(0)" tabindex="0"><i class="fas fa-bell -ml-2" aria-hidden="true"></i>
                    <div class="title-description">Subscribe</div>
                  </a>
                </li>
                <li id="menu-item-49171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49171">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Login</div>
                  </a>
                </li>
                <li id="menu-item-49161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item menu-item-49161">
                  <form role="search" class="menu-search-form">
                    <label for="menu-search-6215882a828aa" style="display: flex; align-items: center"><i class="far fa-search" aria-hidden="true"></i> <span class="screen-reader-text">Search</span></label> <input id="menu-search-6215882a828aa" name="s" type="search" placeholder="Search..." tabindex="0" />
                  </form>
                </li>
              </ul>
            </div>
            <div class="header-primary">
              <ul class="menu flex-row items-center">
                <li id="menu-item-49174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49174 menu-item-has-children">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Products</div>
                  </a>
                </li>
                <li id="menu-item-49160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49160 menu-item-has-children">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Solutions</div>
                  </a>
                </li>
                <li id="menu-item-49194" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49194 menu-item-has-children">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Resource Center</div>
                  </a>
                </li>
                <li id="menu-item-49196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49196 menu-item-has-children">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Community</div>
                  </a>
                </li>
                <li id="menu-item-49195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49195 menu-item-has-children">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">About Us</div>
                  </a>
                </li>
                <li id="menu-item-49197" class="button menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49197">
                  <a href="javascript:void(0)" tabindex="0">
                    <div class="title-description">Contact Us</div>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="font-sans">
    <Nuxt id="twind" />
  </main>
  <footer class="site-footer">
    <div class="primary-footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="footer-primary">
              <ul class="menu">
                <li id="menu-item-49166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49166">
                  <a href="javascript:void(0)">
                    <div class="title-description">Products</div>
                  </a>
                </li>
                <li id="menu-item-49162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49162">
                  <a href="javascript:void(0)">
                    <div class="title-description">Solutions</div>
                  </a>
                </li>
                <li id="menu-item-49164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49164">
                  <a href="javascript:void(0)">
                    <div class="title-description">About Us</div>
                  </a>
                </li>
                <li id="menu-item-49163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49163">
                  <a href="javascript:void(0)">
                    <div class="title-description">Resource Center</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 right-align">
            <BrandLogoH class="mr-3 h-[40px]" alt="1WorldSync" />
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-footer has-dark-blue-background-color has-white-color">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="footer-secondary">
              <ul class="menu flex-row items-center">
                <li id="menu-item-49167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49167">
                  <a href="javascript:void(null)">
                    <div class="title-description">Community</div>
                  </a>
                </li>
                <li id="menu-item-49172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item menu-item-49172">
                  <a href="javascript:void(null)">
                    <div class="title-description">Subscribe</div>
                  </a>
                </li>
                <li id="menu-item-49168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49168">
                  <a href="javascript:void(null)">
                    <div class="title-description">Contact Us</div>
                  </a>
                </li>
                <li id="menu-item-49169" class="menu-item menu-item-type-custom menu-item-object-custom menu-item menu-item-49169">
                  <a href="javascript:void(null)">
                    <div class="title-description">Search</div>
                  </a>
                </li>
                <li id="menu-item-49173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item menu-item-49173">
                  <a href="javascript:void(null)">
                    <div class="title-description">Login</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 right-align">
            <div class="wp-block-ws-social-links gap-8 flex min-w-[136px] justify-between">
              <a href="javascript:void(null)" target="_blank" class="has-dark-green-color text-xl" rel="noopener noreferrer" aria-label="Visit Facebook">
                <i class="fab fa-facebook-f fa-lg"></i>
              </a>
              <a href="javascript:void(null)" target="_blank" class="has-dark-green-color text-xl" rel="noopener noreferrer" aria-label="Visit Twitter">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
              <a href="javascript:void(null)" target="_blank" class="has-dark-green-color text-xl" rel="noopener noreferrer" aria-label="Visit Linkedin">
                <i class="fab fa-linkedin-in fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="legal has-dark-blue-background-color has-white-color">
      <div class="container">
        <ul class="widgets">
          <li id="block-7" class="widget widget_block">
            <div class="textwidget">
              <p>
                {{ new Date().getFullYear() }} Copyright &nbsp;
                <a href="javascript:void(0)">Privacy Policy</a>
                <a href="javascript:void(0)">Terms of Use</a>
                <a href="javascript:void(0)">Security</a>
                <a href="javascript:void(0)">Antitrust Statement</a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</template>

<style lang="css">
.desktop-nav .menu,
.desktop-nav .menu .menu-item > a {
  flex-direction: row;
}
.desktop-nav .menu > .menu-item.button {
  justify-content: center;
}
.desktop-nav .header-primary .menu .menu-item > a:active {
  background: white;
}
</style>

<script>
import BrandLogoH from "@@/static/images/logo-horizontal.svg?inline";
export default {
  head: {
    bodyAttrs: {
      class: "debug-screens home page-template-default page page-id-7 wp-embed-responsive light-header",
      "x-data": "{open: false}",
      "data-theme": "light",
    },
    link: [
      {
        rel: "stylesheet",
        id: "wp-block-library-css",
        href: "https://1worldsync.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8.3",
        media: "all"
      },
      {
        rel: "stylesheet",
        id: "front-css-css",
        href: "https://1worldsync.com/wp-content/themes/_ws/dist/front-css.64f21da6ac62ce6d35a6.min.css",
        media: "all"
      },
      {
        rel: "stylesheet",
        id: "front-css-layout-row-css",
        href: "https://1worldsync.com/wp-content/themes/_ws/dist/front-css-layout-row.e607dca44aa56fdcb2a7.min.css",
        media: "all"
      },
      {
        rel: "stylesheet",
        id: "front-css-section-css",
        href: "https://1worldsync.com/wp-content/themes/_ws/dist/front-css-section.4cedaf351b14c3010288.min.css",
        media: "all"
      },
      {
        rel: "stylesheet",
        id: "front-css-spacer-css",
        href: "https://1worldsync.com/wp-content/themes/_ws/dist/front-css-spacer.4a3aef68e7ff023ed014.min.css",
        media: "all"
      },
      {
        rel: "stylesheet",
        id: "front-css-split-css",
        href: "https://1worldsync.com/wp-content/themes/_ws/dist/front-css-split.44b5987e4bbc73974383.min.css",
        media: "all"
      },
    ],
    script: [{
      src: "https://kit.fontawesome.com/e8c799d635.js",
      crossorigin: "anonymous"
    }],
  },
  components: {
    BrandLogoH,
  },
  data() {
    return {
      name: "website",
    };
  },
};
</script>
