<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
  <tr>
    <td align="center" bgcolor="transparent" role="presentation" style="border:none;border-radius:60px;cursor:auto;mso-padding-alt:0;background:transparent;" valign="middle">
      <a href="javascript:void(0)" style="display:inline-block;background:transparent;color:#008855;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:0;mso-padding-alt:0px;border-radius:60px;"> Tertiary<img alt="alt" height="32" src="https://static.basedcdn.com/1ws/src/assets/arrow.png" style="vertical-align: middle; display: inline; margin-left: 6px" width="32" /></a>
    </td>
  </tr>
</table>