<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
  <tr>
    <td align="center" bgcolor="#E7E8E9" role="presentation" style="border:none;border-radius:60px;cursor:auto;mso-padding-alt:10px 24px;background:#E7E8E9;" valign="middle">
      <a href="javascript:void(0)" style="display:inline-block;background:#E7E8E9;color:#343638;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:10px 24px;mso-padding-alt:0px;border-radius:60px;"> Secondary </a>
    </td>
  </tr>
</table>