<link href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700" rel="stylesheet" type="text/css">
<style type="text/css"> @import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700)</style>
<style type="text/css"> @media only screen and (min-width:480px) { .mj-column-per-100 { width: 100% !important; max-width: 100% }}</style>
<style media="screen and (min-width:480px)"> .moz-text-html .mj-column-per-100 { width: 100% !important; max-width: 100% }</style>
<style type="text/css">
  #outlook a { padding: 0 }
  body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100% }
  a { color: inherit; text-decoration: none }
  a:hover { text-decoration: underline }
  p { display: block; margin: 13px 0 }
  img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline-block }
  table, td { border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt }
  @media all and (max-width: 480px) {
    .mobile-center, .mj-column-per-50, .mj-column-per-30, .mj-column-px-144 { text-align: center !important; margin: auto !important; width: 100% !important; max-width: 100% !important }
    .mobile-center div, .mobile-center table { text-align: center !important; margin: auto; max-width: 100%; width: auto }
  }
  @media all and (max-width: 599px) {
    .mobile-46>table { margin: auto }
    .mobile-46>div { text-align: center !important }
  }
</style>