<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;line-height:100%;">
  <tr>
    <td align="center" bgcolor="#787D84" style="border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#787D84;" valign="middle">
      <a href="javascript:void(0)" style="display:inline-block;background:#787D84;color:#ffffff;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;"> Default </a>
    </td>
  </tr>
</table>