<!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
<div style="margin:0px auto;max-width:600px;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
      <td style="direction:ltr;font-size:0px;padding:8px 0;text-align:center;">
        <!--[if mso | IE]><table border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:300px;" ><![endif]-->
        <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="vertical-align:top;padding:8px 12px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td align="right" vertical-align="middle" class="mobile-center" style="font-size:0px;padding:0;word-break:break-word;">
                      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;line-height:100%;">
                        <tr>
                          <td align="center" bgcolor="#E7E8E9" style="border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#E7E8E9;" valign="middle">
                            <a href="javascript:void(0)" style="display:inline-block;background:#E7E8E9;color:#343638;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;" target="_top"> Learn More </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!--[if mso | IE]></td><td style="vertical-align:top;width:300px;" ><![endif]-->
        <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="vertical-align:top;padding:8px 12px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td align="left" vertical-align="middle" class="mobile-center" style="font-size:0px;padding:0;word-break:break-word;">
                      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;line-height:100%;">
                        <tr>
                          <td align="center" bgcolor="transparent" style="border:none;border-radius:60px;cursor:auto;mso-padding-alt:4px 0;background:transparent;" valign="middle">
                            <a href="javascript:void(0)" style="display:inline-block;background:transparent;color:#008855;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:4px 0;mso-padding-alt:0px;border-radius:60px;" target="_top"> View All<img alt="alt" height="32" src="https://static.basedcdn.com/1ws/src/assets/arrow.png" style="vertical-align: middle; display: inline; margin-left: 6px" width="32" />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!--[if mso | IE]></td></tr></table><![endif]-->
      </td>
    </tr>
  </table>
</div>
<!--[if mso | IE]></td></tr></table><![endif]-->