<template lang="html">
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component" class="auto-rows">
    <p> WordPress (WP) Theme will contains input styles so styling from Marketo should not be nesssary.<br>
    </p>
    <!-- p class="p-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
    🗒️ <span class="font-semibold text-xs">NOTE:</span> more instructions for various applications soon...
    </p -->
    <p> Preview and test with this <NuxtLink to="forms" class="text-link" target="_blank">Plain Marketo Form</NuxtLink>. Current Live WP form input styles are contained within current page IDs and are tied to the WP theme classes. The Plain Marketo Test Form uses a stylesheet that can be repouposed for external application outlide of WP (i.e. Landing Pages or Support Forms). </p>
    <!-- p>
    If your having issues styling inputs update the tailwind plugin to <code>class</code> only strategy.
    This will remove all the global styles that are applied to the input's base.
    </p -->
<pre data-filename="tailwind.config.js">
  <code v-highlight class="javascript">
  plugins: [
    require("./assets/theme/inputs.js")({
      strategy: 'base',  // only generate global styles
      strategy: 'class', // only generate classes
    }),
  ],
  </code>
</pre>
    <p class="p-4 text-sm text-amber-800 bg-yellow-200/60 rounded-lg" role="alert">
      <i class="fas fa-thumbtack text-red-500 mr-1"></i>&nbsp;<span class="font-medium font-code">TODO:</span>
      Apply <samp class="text-purple-700">class</samp> strategy by default
    </p>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'InputExample',
  data() {
    return {
      name: null,
      code: null,
      mkto: null,
    }
  },
}
</script>
