<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component">
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Select</span>
        <select class="form-select block w-full mt-1" autofocus>
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
      </label>
      <label class="block w-full">
        <span class="text-label">Select (multiple)</span>
        <select class="form-multiselect block w-full mt-1" multiple>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
      </label>
    </div>
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Textarea</span>
        <textarea class="form-textarea mt-1 block w-full h-24" rows="3" placeholder="Enter some long form content."></textarea>
      </label>
    </div>
    <div class="auto-columns">
      <fieldset class="block w-full">
        <legend class="text-label">Checkboxes</legend>
        <div class="grid grid-flow-row">
          <label class="flex items-center">
            <input class="form-checkbox" type="checkbox" checked />
            <span class="text-label">Option 1</span>
          </label>
          <label class="flex items-center">
            <input class="form-checkbox" type="checkbox" />
            <span class="text-label">Option 2</span>
          </label>
          <label class="flex items-center">
            <input class="form-checkbox" type="checkbox" />
            <span class="text-label">Option 3</span>
          </label>
        </div>
      </fieldset>
      <fieldset class="block w-full">
        <legend class="text-label">Radio Buttons</legend>
        <div class="grid grid-flow-row">
          <label class="flex items-center">
            <input class="form-radio" type="radio" checked name="radio-direct" value="1" />
            <span class="text-label">Option 1</span>
          </label>
          <label class="flex items-center">
            <input class="form-radio" type="radio" name="radio-direct" value="2" />
            <span class="text-label">Option 2</span>
          </label>
          <label class="flex items-center">
            <input class="form-radio" type="radio" name="radio-direct" value="3" />
            <span class="text-label">Option 3</span>
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'InputSelect',
  data() {
    return {
      name: 'Select Types',
      code: `
<label class="block w-full">
  <span class="text-label">Select</span>
  <select class="form-select block w-full mt-1">
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
</label>

<label class="block w-full">
  <span class="text-label">Select (multiple)</span>
  <select class="form-multiselect block w-full mt-1" multiple>
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
</label>

<label class="block w-full">
  <span class="text-label">Textarea</span>
  <textarea class="form-textarea mt-1 block w-full h-24" rows="3" placeholder="Enter some long form content."></textarea>
</label>

<fieldset class="block w-full">
  <legend class="text-label">Checkboxes</legend>
  <div class="grid grid-flow-row">
    <label class="flex items-center">
      <input class="form-checkbox" type="checkbox" checked />
      <span class="text-label">Option 1</span>
    </label>
    <label class="flex items-center">
      <input class="form-checkbox" type="checkbox" />
      <span class="text-label">Option 2</span>
    </label>
  </div>
</fieldset>

<fieldset class="block w-full">
  <legend class="text-label">Radio Buttons</legend>
  <div class="grid grid-flow-row">
    <label class="flex items-center">
      <input class="form-radio" type="radio" checked name="radio-direct" value="1" />
      <span class="text-label">Option 1</span>
    </label>
    <label class="flex items-center">
      <input class="form-radio" type="radio" name="radio-direct" value="2" />
      <span class="text-label">Option 2</span>
    </label>
  </div>
</fieldset>
`,
      mkto: null,
    }
  },
}
</script>
