<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <!--TODO: Disabled Classes -->
  <div slot="component" class="auto-columns">
    <label class="block">
      <span class="text-label" for="input-text">Input</span>
      <input class="form-input" id="input-text" type="text" placeholder="some text..." />
    </label>
    <label class="block w-full">
      <span class="text-label" for="input-full">Input Full Width</span>
      <input class="w-full form-input" id="input-full" type="text" placeholder="some more text..." />
    </label>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'InputExample',
  data() {
    return {
      name: 'Text Inputs',
      code: `
<label class="block">
  <span class="text-label" for="input-text">Input (text)</span>
  <input class="form-input" id="input-text" type="text" placeholder="some text..." />
</label>

<label class="block w-full">
  <span class="text-label" for="input-full">Input Full Width (text)</span>
  <input class="w-full form-input" id="input-full" type="text" placeholder="some more text..." />
</label>
`,
      mkto: `
<!--- Html:Comment -----------------------------

      WordPress Theme:
        1: Select Plain (Modified with custom CSS)
        2: Save

      Custom Styles:
        1: Select Plain (Modified with custom CSS)
        2: Click the Gear Icon to edit
        3: Copy/Paste @import snippet below into the Plain Custom CSS Window
        4: Save

----------------------------------------------->

/**** CSS:Snippet: ****/
@import url("https://1worldsync.com/wp-content/uploads/mkto-forms.css");

`,
    }
  },
}
</script>
