<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component">
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Phone (tel)</span>
        <input type="tel" multiple class="block w-full form-input" placeholder="1 (234) 890-7654" />
      </label>
      <label class="block w-full">
        <span class="text-label">Website (url)</span>
        <input type="url" multiple class="block w-full form-input" placeholder="http://www.url.com" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (email, multiple)</span>
        <input type="email" multiple class="block w-full form-input" placeholder="john@example.com" />
      </label>
    </div>
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Input (password)</span>
        <input type="password" class="block w-full form-input" placeholder="****" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (date)</span>
        <input type="date" class="block w-full form-input" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (datetime-local)</span>
        <input type="datetime-local" class="block w-full form-input" />
      </label>
    </div>
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Input (month)</span>
        <input type="month" class="block w-full form-input" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (number)</span>
        <input type="number" class="block w-full form-input" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (search)</span>
        <input type="search" class="block w-full form-input" />
      </label>
    </div>
    <div class="auto-columns">
      <label class="block w-full">
        <span class="text-label">Input (time)</span>
        <input type="time" class="block w-full form-input" />
      </label>
      <label class="block w-full">
        <span class="text-label">Input (week)</span>
        <input type="week" class="block w-full form-input" />
      </label>
      <span class="block w-full">
        <!-- spacer -->
      </span>
    </div>
  </div>
</view-component>
</template>

<script>
export default {
  name: 'InputType',
  data() {
    return {
      name: 'Input Types',
      code: `
<label class="block">
  <span class="text-label">Input (tel)</span>
  <input type="tel" multiple class="block w-full form-input" placeholder="john@example.com" />
</label>
<label class="block">
  <span class="text-label">Input (url)</span>
  <input type="url" multiple class="block w-full form-input" placeholder="john@example.com" />
</label>
<label class="block">
  <span class="text-label">Input (email, multiple)</span>
  <input type="email" multiple class="block w-full form-input" placeholder="john@example.com" />
</label>
<label class="block">
  <span class="text-label">Input (password)</span>
  <input type="password" class="block w-full form-input" placeholder="john@example.com" />
</label>
<label class="block">
  <span class="text-label">Input (date)</span>
  <input type="date" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (datetime-local)</span>
  <input type="datetime-local" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (month)</span>
  <input type="month" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (number)</span>
  <input type="number" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (search)</span>
  <input type="search" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (time)</span>
  <input type="time" class="block w-full form-input" />
</label>
<label class="block">
  <span class="text-label">Input (week)</span>
  <input type="week" class="block w-full form-input" />
</label>
`,
      mkto: `
<!--
  Click the gear icon on the Form Theme screen to edit CSS styles
  Paste @import snippet in the Plain Custom CSS Window and click Save
-->
@import url("https://1worldsync.com/wp-content/uploads/mkto-forms.css");
`,
    }
  },
}
</script>
