@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url("inter-v8-latin-100.05c4c948.eot");
  src: local(""), url("inter-v8-latin-100.05c4c948.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-100.d2c0f8d8.woff2") format("woff2"), url("inter-v8-latin-100.ba0cea3e.woff") format("woff"), url("inter-v8-latin-100.a4d596ba.ttf") format("truetype"), url("inter-v8-latin-100.ce852a96.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url("inter-v8-latin-200.38dae981.eot");
  src: local(""), url("inter-v8-latin-200.38dae981.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-200.957fc083.woff2") format("woff2"), url("inter-v8-latin-200.9771add5.woff") format("woff"), url("inter-v8-latin-200.c48342b2.ttf") format("truetype"), url("inter-v8-latin-200.116aca16.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url("inter-v8-latin-300.d42a7252.eot");
  src: local(""), url("inter-v8-latin-300.d42a7252.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-300.2154a27b.woff2") format("woff2"), url("inter-v8-latin-300.0d867638.woff") format("woff"), url("inter-v8-latin-300.0449ce48.ttf") format("truetype"), url("inter-v8-latin-300.79bd9ff6.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("inter-v8-latin-regular.c6161304.eot");
  src: local(""), url("inter-v8-latin-regular.c6161304.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-regular.f174d74f.woff2") format("woff2"), url("inter-v8-latin-regular.d3ae1bb5.woff") format("woff"), url("inter-v8-latin-regular.357f1c02.ttf") format("truetype"), url("inter-v8-latin-regular.fad74329.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("inter-v8-latin-500.0834f2c1.eot");
  src: local(""), url("inter-v8-latin-500.0834f2c1.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-500.f2018649.woff2") format("woff2"), url("inter-v8-latin-500.b8976eb9.woff") format("woff"), url("inter-v8-latin-500.fdb17464.ttf") format("truetype"), url("inter-v8-latin-500.f88a9702.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url("inter-v8-latin-600.d5c32c14.eot");
  src: local(""), url("inter-v8-latin-600.d5c32c14.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-600.a2e771bc.woff2") format("woff2"), url("inter-v8-latin-600.1c69e44f.woff") format("woff"), url("inter-v8-latin-600.ad4b4eb5.ttf") format("truetype"), url("inter-v8-latin-600.b3578b53.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("inter-v8-latin-700.2c227fbb.eot");
  src: local(""), url("inter-v8-latin-700.2c227fbb.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-700.1d4d3540.woff2") format("woff2"), url("inter-v8-latin-700.65f7eb9a.woff") format("woff"), url("inter-v8-latin-700.a6669dfb.ttf") format("truetype"), url("inter-v8-latin-700.fb4ff636.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url("inter-v8-latin-800.f6bb5111.eot");
  src: local(""), url("inter-v8-latin-800.f6bb5111.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-800.cb450f28.woff2") format("woff2"), url("inter-v8-latin-800.05e33b56.woff") format("woff"), url("inter-v8-latin-800.b3bf1cef.ttf") format("truetype"), url("inter-v8-latin-800.391159bd.svg#Inter") format("svg");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("inter-v8-latin-900.c2ea0c9b.eot");
  src: local(""), url("inter-v8-latin-900.c2ea0c9b.eot#iefix") format("embedded-opentype"), url("inter-v8-latin-900.7bfc4e83.woff2") format("woff2"), url("inter-v8-latin-900.9fc5ec82.woff") format("woff"), url("inter-v8-latin-900.d02fb21b.ttf") format("truetype"), url("inter-v8-latin-900.b6975a60.svg#Inter") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 300;
  src: url("ibm-plex-mono-v11-latin-300.b923b27b.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-300.b923b27b.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-300.16ddcaa6.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-300.ef0c1811.woff") format("woff"), url("ibm-plex-mono-v11-latin-300.96ac54ec.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-300.89f9c2a4.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 300;
  src: url("ibm-plex-mono-v11-latin-300italic.703e30d1.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-300italic.703e30d1.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-300italic.298756eb.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-300italic.53ed0bd2.woff") format("woff"), url("ibm-plex-mono-v11-latin-300italic.61da860b.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-300italic.c82eb080.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 400;
  src: url("ibm-plex-mono-v11-latin-regular.ef7a7a9d.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-regular.ef7a7a9d.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-regular.4eccc928.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-regular.baba8908.woff") format("woff"), url("ibm-plex-mono-v11-latin-regular.4b10afc7.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-regular.6d4b33a0.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 400;
  src: url("ibm-plex-mono-v11-latin-italic.b36d5951.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-italic.b36d5951.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-italic.d394fbf6.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-italic.1253255f.woff") format("woff"), url("ibm-plex-mono-v11-latin-italic.9c7a45d3.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-italic.6a1ae0e1.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  src: url("ibm-plex-mono-v11-latin-500.550cff9f.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-500.550cff9f.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-500.919b7302.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-500.937de882.woff") format("woff"), url("ibm-plex-mono-v11-latin-500.704e65b2.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-500.0185916e.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 500;
  src: url("ibm-plex-mono-v11-latin-500italic.35f75595.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-500italic.35f75595.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-500italic.3248eabf.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-500italic.04c043e9.woff") format("woff"), url("ibm-plex-mono-v11-latin-500italic.32db037f.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-500italic.6ddcee8f.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 600;
  src: url("ibm-plex-mono-v11-latin-600.e6c78971.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-600.e6c78971.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-600.d729a1d3.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-600.29ff3710.woff") format("woff"), url("ibm-plex-mono-v11-latin-600.9fd7350d.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-600.4543ace1.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  src: url("ibm-plex-mono-v11-latin-700.cf1ceb8d.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-700.cf1ceb8d.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-700.49858b58.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-700.28ed673e.woff") format("woff"), url("ibm-plex-mono-v11-latin-700.123a4223.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-700.2809e6b5.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 600;
  src: url("ibm-plex-mono-v11-latin-600italic.c4ce9fb8.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-600italic.c4ce9fb8.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-600italic.fb967402.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-600italic.81ed37f2.woff") format("woff"), url("ibm-plex-mono-v11-latin-600italic.5171ef8d.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-600italic.82eb63e2.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 700;
  src: url("ibm-plex-mono-v11-latin-700italic.72ca796e.eot");
  src: local(""), url("ibm-plex-mono-v11-latin-700italic.72ca796e.eot#iefix") format("embedded-opentype"), url("ibm-plex-mono-v11-latin-700italic.8398e5ce.woff2") format("woff2"), url("ibm-plex-mono-v11-latin-700italic.c0924896.woff") format("woff"), url("ibm-plex-mono-v11-latin-700italic.64af60cd.ttf") format("truetype"), url("ibm-plex-mono-v11-latin-700italic.8440ae71.svg#IBMPlexMono") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: normal;
  font-weight: 300;
  src: url("ibm-plex-serif-v14-latin-300.903bc1d0.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-300.903bc1d0.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-300.aed92e78.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-300.b35cdb7d.woff") format("woff"), url("ibm-plex-serif-v14-latin-300.3fafa912.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-300.bd1492a8.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 300;
  src: url("ibm-plex-serif-v14-latin-300italic.369e0e1f.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-300italic.369e0e1f.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-300italic.707745a7.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-300italic.df8e590b.woff") format("woff"), url("ibm-plex-serif-v14-latin-300italic.a312969f.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-300italic.0dba442d.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: normal;
  font-weight: 400;
  src: url("ibm-plex-serif-v14-latin-regular.722e7e78.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-regular.722e7e78.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-regular.3bf9cd2d.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-regular.ef865d5d.woff") format("woff"), url("ibm-plex-serif-v14-latin-regular.c9de629a.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-regular.507378fe.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 400;
  src: url("ibm-plex-serif-v14-latin-italic.18f91776.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-italic.18f91776.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-italic.a28e1ddf.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-italic.43b9e1b8.woff") format("woff"), url("ibm-plex-serif-v14-latin-italic.593b6452.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-italic.a552e55e.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: normal;
  font-weight: 500;
  src: url("ibm-plex-serif-v14-latin-500.09ec8dd9.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-500.09ec8dd9.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-500.a4272459.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-500.d2449521.woff") format("woff"), url("ibm-plex-serif-v14-latin-500.6c3f53e8.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-500.0a2685d7.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 500;
  src: url("ibm-plex-serif-v14-latin-500italic.2055e427.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-500italic.2055e427.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-500italic.2e11c933.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-500italic.4f508790.woff") format("woff"), url("ibm-plex-serif-v14-latin-500italic.b3b96db0.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-500italic.090aa2fb.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: normal;
  font-weight: 600;
  src: url("ibm-plex-serif-v14-latin-600.cf10d0a6.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-600.cf10d0a6.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-600.d7fa7063.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-600.b9e47a2a.woff") format("woff"), url("ibm-plex-serif-v14-latin-600.10e063d7.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-600.b894e360.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 600;
  src: url("ibm-plex-serif-v14-latin-600italic.10a7c8a4.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-600italic.10a7c8a4.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-600italic.1e5a8341.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-600italic.e1e7141c.woff") format("woff"), url("ibm-plex-serif-v14-latin-600italic.05a6288f.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-600italic.b10af2c7.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: normal;
  font-weight: 700;
  src: url("ibm-plex-serif-v14-latin-700.1040f8a3.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-700.1040f8a3.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-700.139b2b48.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-700.ec81ad63.woff") format("woff"), url("ibm-plex-serif-v14-latin-700.555eed83.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-700.bfa0a2ed.svg#IBMPlexSerif") format("svg");
}

@font-face {
  font-family: IBM Plex Serif;
  font-style: italic;
  font-weight: 700;
  src: url("ibm-plex-serif-v14-latin-700italic.2797d64c.eot");
  src: local(""), url("ibm-plex-serif-v14-latin-700italic.2797d64c.eot#iefix") format("embedded-opentype"), url("ibm-plex-serif-v14-latin-700italic.0c9a30b6.woff2") format("woff2"), url("ibm-plex-serif-v14-latin-700italic.7cad84d9.woff") format("woff"), url("ibm-plex-serif-v14-latin-700italic.5651d397.ttf") format("truetype"), url("ibm-plex-serif-v14-latin-700italic.569ae72a.svg#IBMPlexSerif") format("svg");
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:after, :before {
  --tw-content: "";
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--tw-font-content), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  tab-size: 4;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  color: inherit;
  height: 0;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: var(--tw-font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

:-moz-focusring {
  outline: auto ;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre, fieldset {
  margin: 0;
}

fieldset, legend {
  padding: 0;
}

menu, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

[role="button"], button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio, canvas, embed, iframe, img, object, svg, video {
  vertical-align: middle;
  display: block;
}

img, video {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

:root {
  --tw-color-primary-dark: 0 102 102;
  --tw-color-primary-light: 0 178 85;
  --tw-color-primary: 0 136 85;
  --tw-color-accent-dark: 54 54 125;
  --tw-color-accent-light: 3 90 140;
  --tw-color-accent: 30 58 138;
  --tw-color-light: 226 233 232;
  --tw-color-dark: 15 20 50;
  --tw-font-content: "Inter";
  --tw-font-mono: "IBM Plex Mono";
  --tw-font-serif: "IBM Plex Serif";
  --tw-font-title: "Poppins";
  --tw-font-icon: "Font Awesome 5 Pro";
  --tw-font-scale: clamp(12px, 16px, 20px);
  --tw-input-background: #f1f5f9;
  --tw-input-border: #d4d4d8;
  --tw-input-border-width: .09375em;
  --tw-input-offset-size: .1875em;
  --tw-btn-focus-scale: .95;
  --tw-btn-text-case: none;
  --tw-btn-animation: .25s;
  --tw-btn-border-width: 0;
  --tw-text-opacity: .8;
  --tw-ring-color: rgb(var(--color-primary-light) );
  --tw-ring-offset-color: rgb(var(--color-primary-light) );
  --tw-ring-offset-shadow: 0 0 rgb(var(--color-primary-light) );
  --tw-ring-offset-width: .125em;
  --tw-ring-inset: null;
  --tw-ring-shadow: 0 0 rgb(var(--color-primary-light) );
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;
}

body {
  text-rendering: optimizelegibility;
  font-feature-settings: "cv03" 0, "cv04" 0, "cv08" 1, "cv09" 1, "cv11" 1, "cpsp" 0;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  font-family: var(--tw-font-content), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-kerning: normal;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  line-height: 1.625;
}

.text-link {
  color: rgb(var(--tw-color-primary-dark)  / var(--tw-text-opacity) );
  -webkit-text-decoration-color: rgb(var(--tw-color-primary)  / .5);
  text-decoration-color: rgb(var(--tw-color-primary)  / .5);
  text-underline-offset: .09375em;
  font-weight: 500;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: .09375em;
}

.text-link:active, .text-link:hover {
  --tw-text-opacity: 1;
  color: rgb(var(--tw-color-primary-dark)  / var(--tw-text-opacity) );
  -webkit-text-decoration-color: rgb(var(--tw-color-primary-dark)  / var(--tw-text-opacity) );
  text-decoration-color: rgb(var(--tw-color-primary-dark)  / var(--tw-text-opacity) );
}

[multiple], [type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  --tw-shadow: 0 0 transparent;
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / 10%);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / 40%);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-style: solid;
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  border-radius: .5rem;
  padding: .625rem .75rem;
  font-weight: 500;
  line-height: 1.625;
}

[multiple]:focus, [type="date"]:focus, [type="datetime-local"]:focus, [type="email"]:focus, [type="month"]:focus, [type="number"]:focus, [type="password"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="text"]:focus, [type="time"]:focus, [type="url"]:focus, [type="week"]:focus, select:focus, textarea:focus {
  background-color: var(--tw-color-primary-light);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  color: rgb(var(--tw-color-accent) );
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

input::-ms-input-placeholder:active, textarea::-ms-input-placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

input::placeholder:active, textarea::placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

::-webkit-datetime-edit, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-meridiem-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-year-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  color-adjust: exact;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' opacity='0.5' viewBox='0 0 20 20'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

[multiple] {
  color-adjust: unset;
  background-image: none;
  background-position: 0 0;
  background-repeat: unset;
  background-size: initial;
  padding-right: .75rem;
}

[type="checkbox"], [type="radio"] {
  color-adjust: exact;
  --tw-shadow: 0 0 transparent;
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .1);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .4);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
  cursor: pointer;
  height: 1.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1.25rem;
  background-origin: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0;
  display: inline-block;
}

[type="checkbox"] {
  border-radius: .125rem;
}

[type="radio"] {
  border-radius: 100%;
}

[type="checkbox"]:focus, [type="radio"]:focus {
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(.5px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

[type="checkbox"]:checked, [type="radio"]:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

[type="checkbox"]:checked:focus, [type="checkbox"]:checked:hover, [type="radio"]:checked:focus, [type="radio"]:checked:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:indeterminate:focus, [type="checkbox"]:indeterminate:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

[type="file"] {
  background: unset;
  border-color: inherit;
  font-size: unset;
  line-height: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
}

[type="file"]:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

*, :after, :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 400px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.form-input, .form-multiselect, .form-select, .form-textarea {
  --tw-shadow: 0 0 transparent;
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / 10%);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / 40%);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-style: solid;
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  border-radius: .5rem;
  padding: .625rem .75rem;
  font-weight: 500;
  line-height: 1.625;
}

.form-input:focus, .form-multiselect:focus, .form-select:focus, .form-textarea:focus {
  background-color: var(--tw-color-primary-light);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  color: rgb(var(--tw-color-accent) );
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

.form-input::-ms-input-placeholder, .form-textarea::-ms-input-placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

.form-input::placeholder, .form-textarea::placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

.form-input::-ms-input-placeholder:active, .form-textarea::-ms-input-placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

.form-input::placeholder:active, .form-textarea::placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

.form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}

.form-input::-webkit-datetime-edit, .form-input::-webkit-datetime-edit-day-field, .form-input::-webkit-datetime-edit-hour-field, .form-input::-webkit-datetime-edit-meridiem-field, .form-input::-webkit-datetime-edit-millisecond-field, .form-input::-webkit-datetime-edit-minute-field, .form-input::-webkit-datetime-edit-month-field, .form-input::-webkit-datetime-edit-second-field, .form-input::-webkit-datetime-edit-year-field {
  padding-top: 0;
  padding-bottom: 0;
}

.form-checkbox, .form-radio {
  color-adjust: exact;
  --tw-shadow: 0 0 transparent;
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .1);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .4);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
  cursor: pointer;
  height: 1.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1.25rem;
  background-origin: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0;
  display: inline-block;
}

.form-checkbox {
  border-radius: .125rem;
}

.form-radio {
  border-radius: 100%;
}

.form-checkbox:focus, .form-radio:focus {
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(.5px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

.form-checkbox:checked, .form-radio:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

.form-radio:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

.form-checkbox:checked:focus, .form-checkbox:checked:hover, .form-radio:checked:focus, .form-radio:checked:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:indeterminate:focus, .form-checkbox:indeterminate:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  white-space: nowrap;
  width: 1px;
  border-width: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.bottom-\[127px\] {
  bottom: 127px;
}

.left-\[33px\] {
  left: 33px;
}

.left-\[185px\] {
  left: 185px;
}

.z-10 {
  z-index: 10;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: .25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-auto {
  margin-left: auto;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-6 {
  margin-top: 1.5rem;
}

.ml-3 {
  margin-left: .75rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.box-border {
  box-sizing: border-box;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.table {
  display: table;
}

.flow-root {
  display: flow-root;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.h-8 {
  height: 2rem;
}

.h-6 {
  height: 1.5rem;
}

.h-screen {
  height: 100vh;
}

.h-12 {
  height: 3rem;
}

.h-fit {
  height: fit-content;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[184px\] {
  height: 184px;
}

.h-\[175px\] {
  height: 175px;
}

.min-h-min {
  min-height: min-content;
}

.min-h-\[80px\] {
  min-height: 80px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-2\/12 {
  width: 16.6667%;
}

.w-full {
  width: 100%;
}

.w-\[98\%\] {
  width: 98%;
}

.w-1 {
  width: .25rem;
}

.w-8 {
  width: 2rem;
}

.w-fit {
  width: fit-content;
}

.w-auto {
  width: auto;
}

.w-6 {
  width: 1.5rem;
}

.w-\[242px\] {
  width: 242px;
}

.w-\[82px\] {
  width: 82px;
}

.w-\[184px\] {
  width: 184px;
}

.min-w-full {
  min-width: 100%;
}

.min-w-fit {
  min-width: fit-content;
}

.max-w-xs {
  max-width: 20rem;
}

.max-w-fit {
  max-width: fit-content;
}

.flex-1 {
  -ms-flex: 1;
  flex: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-shrink {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-grow {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y) ) rotate(var(--tw-rotate) ) skewX(var(--tw-skew-x) ) skewY(var(--tw-skew-y) ) scaleX(var(--tw-scale-x) ) scaleY(var(--tw-scale-y) );
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.appearance-none {
  -webkit-appearance: none;
  appearance: none;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.place-content-center {
  -ms-flex-line-pack: center;
  -ms-flex-pack: center;
  align-content: center;
  justify-content: center;
}

.content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.items-center {
  -ms-flex-align: center;
  align-items: center;
}

.justify-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-x-1 {
  column-gap: .25rem;
}

.gap-x-2 {
  column-gap: .5rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(1rem * (1 - var(--tw-space-x-reverse) ) );
  margin-right: calc(1rem * var(--tw-space-x-reverse) );
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(2rem * var(--tw-space-y-reverse) );
  margin-top: calc(2rem * (1 - var(--tw-space-y-reverse) ) );
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(.25rem * (1 - var(--tw-space-x-reverse) ) );
  margin-right: calc(.25rem * var(--tw-space-x-reverse) );
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse) );
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse) ) );
}

.divide-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse) );
  border-top-width: calc(2px * (1 - var(--tw-divide-y-reverse) ) );
}

.divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid;
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity) );
}

.divide-brand-50 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(211 232 225 / var(--tw-divide-opacity) );
}

.self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-xl {
  border-radius: .75rem;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-2xl {
  border-radius: 1rem;
}

.border-0 {
  border-width: 0;
}

.border {
  border-width: 1px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity) );
}

.border-brand-50 {
  --tw-border-opacity: 1;
  border-color: rgb(211 232 225 / var(--tw-border-opacity) );
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity) );
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--tw-color-light)  / var(--tw-bg-opacity) );
}

.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity) );
}

.bg-emerald-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity) );
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity) );
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity) );
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity) );
}

.bg-brand-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(211 232 225 / var(--tw-bg-opacity) );
}

.bg-brand-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 136 85 / var(--tw-bg-opacity) );
}

.bg-none {
  background-image: none;
}

.bg-herobgXs {
  background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-xs.png");
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[0\.4rem_0\.6rem\] {
  padding: .4rem .6rem;
}

.p-px {
  padding: 1px;
}

.p-3 {
  padding: .75rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-12 {
  padding: 3rem;
}

.p-0 {
  padding: 0;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-\[48px\] {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-\[42px\] {
  padding-top: 42px;
  padding-bottom: 42px;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.text-center {
  text-align: center;
}

.font-display {
  font-family: var(--tw-font-title), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-\[Poppins\] {
  font-family: Poppins;
}

.font-sans {
  font-family: var(--tw-font-content), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-\[450\] {
  font-weight: 450;
}

.uppercase {
  text-transform: uppercase;
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.\!leading-tight {
  line-height: 1.25 !important;
}

.leading-normal {
  line-height: 1.5;
}

.leading-4 {
  line-height: 1rem;
}

.leading-tight {
  line-height: 1.25;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.tracking-\[\.015em\] {
  letter-spacing: .015em;
}

.tracking-wider {
  letter-spacing: .05em;
}

.text-brand-600 {
  --tw-text-opacity: 1;
  color: rgb(0 102 102 / var(--tw-text-opacity) );
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity) );
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity) );
}

.text-gray-50 {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity) );
}

.text-inherit {
  color: inherit;
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(var(--tw-color-accent)  / var(--tw-text-opacity) );
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity) );
}

.text-slate-900 {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity) );
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity) );
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity) );
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity) );
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
}

.text-brand-900 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
}

.text-brand-500 {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
}

.no-underline {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-70 {
  opacity: .7;
}

.opacity-80 {
  opacity: .8;
}

.opacity-90 {
  opacity: .9;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}

.shadow-lg, .shadow-sm {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.shadow-md, .shadow-none {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
}

.shadow-2xl, .shadow-inner {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}

.ring-black {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity) );
}

.ring-opacity-5 {
  --tw-ring-opacity: .05;
}

.transition {
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.duration-200 {
  transition-duration: .2s;
}

.font-sans {
  font-synthesis: none;
}

.font-display {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--tw-font-content), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-synthesis: weight;
}

.nue-soft-light {
  background: #ecf0f2;
}

.lego-side-menu {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity) );
  height: 100%;
  width: 16.6667%;
  border-right-width: 2px;
  position: fixed;
  top: 0;
  left: 0;
}

.side-menu {
  width: 100%;
  margin: 0;
}

.side-menu > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  --tw-divide-opacity: 1;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse) );
  border-color: rgb(229 231 235 / var(--tw-divide-opacity) );
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse) ) );
}

.side-menu {
  border-top-width: 1px;
  padding-top: 20px;
  padding-left: 0;
}

@media (min-width: 960px) {
  .side-menu.shabow-none {
    margin-top: 0 !important;
  }
}

@media (min-width: 1140px) {
  .side-menu.shabow-none {
    margin-top: 0 !important;
  }
}

.benefits-section-markup #benefits-section .side-menu.bg-white {
  margin-top: 0;
}

.side-menu li {
  padding: .5rem 1.25rem;
}

.side-menu li a {
  --tw-text-opacity: 1;
  color: rgb(0 102 102 / var(--tw-text-opacity) );
  font-weight: 600;
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.side-menu li a:hover {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
}

.side-menu li ul li {
  margin: 0 0 0 25px;
  padding: 0;
  list-style: circle;
}

.side-menu li ul li a {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.lego-content-wrapper {
  width: 98%;
  padding-left: 18.6667%;
}

.lego-content-wrapper h2 {
  --tw-text-opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(51 65 85 / var(--tw-text-opacity) );
  font-family: var(--tw-font-title), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: var(--tw-font-content), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-synthesis: weight;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  line-height: 1.25 !important;
}

.lego-content-wrapper .dummy-block-outer {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity) );
  border-radius: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

@media (min-width: 960px) {
  .lego-content-wrapper .dummy-block-outer #benefits-section .w-full.shabow-none {
    margin-top: 0 !important;
  }
}

@media (min-width: 1140px) {
  .lego-content-wrapper .dummy-block-outer #benefits-section .w-full.shabow-none {
    margin-top: 0 !important;
  }
}

.lego-content-wrapper .benefits-section-markup #benefits-section .w-full.bg-white {
  margin-top: 0;
}

.divider-block {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 960px) {
  .divider-block.shabow-none {
    margin-top: 0 !important;
  }
}

@media (min-width: 1140px) {
  .divider-block.shabow-none {
    margin-top: 0 !important;
  }
}

.benefits-section-markup #benefits-section .divider-block.bg-white {
  margin-top: 0;
}

.hover\:border-gray-300:hover {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity) );
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity) );
}

.hover\:text-cyan-800:hover {
  --tw-text-opacity: 1;
  color: rgb(21 94 117 / var(--tw-text-opacity) );
}

.focus\:border-gray-300:focus {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity) );
}

.focus\:text-cyan-800:focus {
  --tw-text-opacity: 1;
  color: rgb(21 94 117 / var(--tw-text-opacity) );
}

.focus\:outline-none:focus {
  outline-offset: 2px;
  outline: 2px solid rgba(0, 0, 0, 0);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}

.group:hover .group-hover\:text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity) );
}

@media (min-width: 540px) {
  .sm\:bottom-\[112px\] {
    bottom: 112px;
  }

  .sm\:left-\[181px\] {
    left: 181px;
  }

  .sm\:order-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .sm\:h-4 {
    height: 1rem;
  }

  .sm\:h-\[210px\] {
    height: 210px;
  }

  .sm\:auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }

  .sm\:grid-flow-col {
    grid-auto-flow: column;
  }

  .sm\:flex-col {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sm\:pl-0 {
    padding-left: 0;
  }
}

@media (min-width: 720px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:bottom-\[145px\] {
    bottom: 145px;
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:flex {
    display: -ms-flexbox;
    display: flex;
  }

  .md\:h-\[200px\] {
    height: 200px;
  }

  .md\:w-7\/12 {
    width: 58.3333%;
  }

  .md\:w-10\/12 {
    width: 83.3333%;
  }

  .md\:w-1\/12 {
    width: 8.33333%;
  }

  .md\:w-11\/12 {
    width: 91.6667%;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-col {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .md\:items-start {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .md\:bg-herobgMd {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-md.png");
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:pl-\[90px\] {
    padding-left: 90px;
  }

  .md\:pl-4 {
    padding-left: 1rem;
  }
}

@media (min-width: 960px) {
  .lg\:not-sr-only {
    clip: auto;
    height: auto;
    white-space: normal;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    overflow: visible;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:right-8 {
    right: 2rem;
  }

  .lg\:top-\[140px\] {
    top: 140px;
  }

  .lg\:left-\[35px\] {
    left: 35px;
  }

  .lg\:order-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .lg\:order-none {
    -ms-flex-order: 0;
    order: 0;
  }

  .lg\:\!mt-0 {
    margin-top: 0 !important;
  }

  .lg\:-mt-\[460px\] {
    margin-top: -460px;
  }

  .lg\:mt-14 {
    margin-top: 3.5rem;
  }

  .lg\:mt-0 {
    margin-top: 0;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: -ms-flexbox;
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[190px\] {
    height: 190px;
  }

  .lg\:min-h-\[490px\] {
    min-height: 490px;
  }

  .lg\:w-\[515px\] {
    width: 515px;
  }

  .lg\:w-6\/12 {
    width: 50%;
  }

  .lg\:w-10\/12 {
    width: 83.3333%;
  }

  .lg\:w-2\/12 {
    width: 16.6667%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-8\/12 {
    width: 66.6667%;
  }

  .lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-9\/12 {
    width: 75%;
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .lg\:place-content-start {
    -ms-flex-line-pack: start;
    -ms-flex-pack: start;
    align-content: start;
    justify-content: start;
  }

  .lg\:justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .lg\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse) );
    border-top-width: calc(0px * (1 - var(--tw-divide-y-reverse) ) );
  }

  .lg\:divide-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-left-width: calc(2px * (1 - var(--tw-divide-x-reverse) ) );
    border-right-width: calc(2px * var(--tw-divide-x-reverse) );
  }

  .lg\:bg-herobg {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg.png");
  }

  .lg\:p-0 {
    padding: 0;
  }

  .lg\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .lg\:py-\[55px\] {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .lg\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .lg\:px-\[17px\] {
    padding-left: 17px;
    padding-right: 17px;
  }

  .lg\:py-\[17px\] {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .lg\:pt-0 {
    padding-top: 0;
  }

  .lg\:pl-0 {
    padding-left: 0;
  }

  .lg\:text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:leading-tight {
    line-height: 1.25;
  }

  .lg\:shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  }
}

@media (min-width: 1140px) {
  .xl\:right-10 {
    right: 2.5rem;
  }

  .xl\:bottom-16 {
    bottom: 4rem;
  }

  .xl\:top-\[218px\] {
    top: 218px;
  }

  .xl\:left-\[40px\] {
    left: 40px;
  }

  .xl\:-mt-\[460px\] {
    margin-top: -460px;
  }

  .xl\:mt-14 {
    margin-top: 3.5rem;
  }

  .xl\:mt-0 {
    margin-top: 0;
  }

  .xl\:mr-\[90px\] {
    margin-right: 90px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-\[240px\] {
    height: 240px;
  }

  .xl\:min-h-\[710px\] {
    min-height: 710px;
  }

  .xl\:w-5\/12 {
    width: 41.6667%;
  }

  .xl\:w-\[515px\] {
    width: 515px;
  }

  .xl\:w-7\/12 {
    width: 58.3333%;
  }

  .xl\:w-6\/12 {
    width: 50%;
  }

  .xl\:w-10\/12 {
    width: 83.3333%;
  }

  .xl\:w-2\/12 {
    width: 16.6667%;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .xl\:place-content-start {
    -ms-flex-line-pack: start;
    -ms-flex-pack: start;
    align-content: start;
    justify-content: start;
  }

  .xl\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse) );
    border-top-width: calc(0px * (1 - var(--tw-divide-y-reverse) ) );
  }

  .xl\:divide-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-left-width: calc(2px * (1 - var(--tw-divide-x-reverse) ) );
    border-right-width: calc(2px * var(--tw-divide-x-reverse) );
  }

  .xl\:py-\[55px\] {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .xl\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .xl\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .xl\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .xl\:pt-0 {
    padding-top: 0;
  }

  .xl\:pl-0 {
    padding-left: 0;
  }

  .xl\:pr-\[4px\] {
    padding-right: 4px;
  }

  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:leading-tight {
    line-height: 1.25;
  }

  .xl\:shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  }
}

@media (min-width: 1320px) {
  .\32 xl\:top-\[210px\] {
    top: 210px;
  }

  .\32 xl\:left-\[109px\] {
    left: 109px;
  }

  .\32 xl\:hidden {
    display: none;
  }

  .\32 xl\:h-\[260px\] {
    height: 260px;
  }

  .\32 xl\:min-h-\[710px\] {
    min-height: 710px;
  }

  .\32 xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .csm\:bottom-\[28\%\] {
    bottom: 28%;
  }

  .csm\:left-\[28\%\] {
    left: 28%;
  }

  .csm\:h-\[38\%\] {
    height: 38%;
  }
}

