
<template>
<div class="p-4">
  <!-- ====== 1 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-1/2 xl:w-1/3">
          <div class="overflow-hidden mb-10 bg-white rounded-2xl">
            <img src="~/static/images/mockup.jpg" alt="image" class="w-full" />
            <div class="p-8 sm:p-9 md:p-7 xl:p-9">
              <h3>
                <a href="javascript:void(0)" class="block mb-4 text-xl font-semibold font-display md:text-xl xl:text-xl text-dark sm:text-[22px] lg:text-[22px] 2xl:text-[22px] hover:text-primary"> 50+ Best creative website themes & templates </a>
              </h3>
              <p class="mb-7 text-base leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet pretium consectetur adipiscing elit. Lorem consectetur adipiscing elit. </p>
              <a href="javascript:void(0)" class="btn btn-outline btn-default rounded-full hover:text-primary"> View Details </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 1 Section End -->
  <!-- ====== 2 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div v-for="index in 4" :key="index" class="px-4 w-full lg:w-1/2 xl:w-1/2">
          <div class="bg-[#F2F5FC] block sm:flex lg:block xl:flex items-center sm:items-stretch md:items-center xl:items-stretch rounded-2xl overflow-hidden relative z-10 mb-10">
            <div class="w-full lg:max-w-full sm:max-w-[200px] md:max-w-[250px] xl:max-w-[200px] 2xl:max-w-[240px]">
              <div class="sm:h-full xl:h-full h-[250px] lg:h-[250px]">
                <img src="~/static/images/mockup.jpg" alt="image" class="object-cover object-center w-full h-full" />
              </div>
            </div>
            <div class="p-8 w-full sm:p-6 md:p-8">
              <h3>
                <a href="javascript:void(0)" class="block mb-3 text-xl font-semibold text-dark hover:text-primary"> Creative Website Themes & Templates in 2021 </a>
              </h3>
              <p class="mb-5 text-base leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet pretium consectetur adipiscing elit. </p>
              <a href="javascript:void(0)" class="btn btn-primary btn-outline rounded-full"> View Details </a>
            </div>
            <!-- span class="absolute right-2 bottom-2 z-[-1]">
                <svg width="22" height="30" viewBox="0 0 22 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.3422" cy="28.6142" r="1.07573" transform="rotate(180 20.3422 28.6142)" fill="#3056D3" />
                  <circle cx="20.3422" cy="10.3271" r="1.07573" transform="rotate(180 20.3422 10.3271)" fill="#3056D3" />
                  <circle cx="20.3383" cy="19.3631" r="1.07573" transform="rotate(180 20.3383 19.3631)" fill="#3056D3" />
                  <circle cx="20.3422" cy="1.07564" r="1.07573" transform="rotate(180 20.3422 1.07564)" fill="#3056D3" />
                  <circle cx="10.7094" cy="28.6142" r="1.07573" transform="rotate(180 10.7094 28.6142)" fill="#3056D3" />
                  <circle cx="10.7094" cy="10.3271" r="1.07573" transform="rotate(180 10.7094 10.3271)" fill="#3056D3" />
                  <circle cx="10.7094" cy="19.3631" r="1.07573" transform="rotate(180 10.7094 19.3631)" fill="#3056D3" />
                  <circle cx="10.7094" cy="1.07564" r="1.07573" transform="rotate(180 10.7094 1.07564)" fill="#3056D3" />
                  <circle cx="1.07661" cy="28.6142" r="1.07573" transform="rotate(180 1.07661 28.6142)" fill="#3056D3" />
                  <circle cx="1.07661" cy="10.3271" r="1.07573" transform="rotate(180 1.07661 10.3271)" fill="#3056D3" />
                  <circle cx="1.07661" cy="19.3631" r="1.07573" transform="rotate(180 1.07661 19.3631)" fill="#3056D3" />
                  <circle cx="1.07661" cy="1.07564" r="1.07573" transform="rotate(180 1.07661 1.07564)" fill="#3056D3" />
                </svg>
              </span -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 2 Section End -->
  <!-- ====== 3 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-1/2 xl:w-1/3">
          <div class="overflow-hidden mb-10 bg-white rounded-2xl shadow-sm">
            <img src="~/static/images/mockup.jpg" alt="image" class="w-full" />
            <div class="py-8 px-6 sm:p-8 md:py-7 md:px-5 lg:py-8 lg:px-5 xl:py-8 xl:px-5 2xl:p-8">
              <h3><a href="javascript:void(0)" class="block mb-4 text-xl font-semibold md:text-xl xl:text-xl text-dark sm:text-[22px] lg:text-[22px] 2xl:text-[22px] hover:text-primary"> Top Graphic Design Courses Online </a></h3>
              <p v-text="$faker.lorem.sentences(3)" class="text-base line-clamp-2 text-dark/80 leading-relaxed mb-8"></p>
              <div class="flex flex-wrap justify-between items-center">
                <div class="w-3/4 flex items-center">
                  <div class="overflow-hidden mr-4 w-full rounded-full md:mr-2 lg:mr-4 max-w-[40px] h-[40px] md:max-w-[35px] md:h-[35px] lg:max-w-[40px] lg:h-[40px] bg-dark/20">
                    <img v-bind:src="$faker.image.avatar()" alt="image" class="object-cover aspect-square text-transparent">
                  </div>
                  <div class="w-full truncate">
                    <h5 class="text-sm font-semibold sm:text-base md:text-sm lg:text-base text-dark mb-0">By {{ $faker.name.firstName() }} {{ $faker.name.lastName() }}</h5>
                    <p class="text-xs text-dark/80 truncate">{{ $faker.name.jobTitle() }}</p>
                  </div>
                </div>
                <div class="w-1/4 text-right max-w-[100px]">
                  <p class="text-sm font-semibold sm:text-base md:text-sm lg:text-base text-dark mb-0">Date</p>
                  <p class="text-xs whitespace-nowrap text-dark/80">{{ $moment($faker.date.recent()).format('ll') }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 3 Section End -->
  <!-- ====== 4 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-2/3 lg:w-1/2 xl:w-1/3">
          <div class="w-full shadow-lg p-5 bg-white flex items-center relative mb-10 rounded-2xl overflow-hidden">
            <!-- span class="absolute top-0 left-0 w-full h-1 bg-primary"></span -->
            <div class="mr-4 w-full">
              <span class="block mb-3 text-xs font-semibold text-primary uppercase"> Startup Template </span>
              <h3>
                <a href="javascript:void(0)" class="block mb-4 text-sm font-semibold text-dark hover:text-primary"> Play – Free HTML App & SaaS Landing Page Template </a>
              </h3>
              <p class="text-xs text-dark/80"> Play is free startup, saas, app landing page template. </p>
            </div>
            <div class="mx-auto w-full max-w-[120px] sm:max-w-[140px] rounded-lg overflow-hidden">
              <img src="~/static/images/mockup.jpg" alt="image" class="w-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 4 Section End -->
  <!-- ====== 5 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-1/2 xl:w-1/3">
          <div class="overflow-hidden mb-10 bg-white rounded-2xl shadow-lg">
            <img src="~/static/images/mockup.jpg" alt="image" class="w-full" />
            <div class="py-8 px-6 sm:p-8">
              <h3>
                <a href="javascript:void(0)" class="block mb-4 text-xl font-semibold text-black md:text-xl xl:text-xl sm:text-[22px] lg:text-[22px] 2xl:text-[22px] hover:text-primary"> Mountain </a>
              </h3>
              <p class="mb-5 text-base font-medium leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet, vehicula ero felis loreum fitiona fringilla scelerisque. Interdum et malesuada fames ac ante ipsum primis faucibus. </p>
              <div class="flex flex-wrap items-center py-1 px-2 rounded-xl bg-primary-dark/10">
                <a href="javascript:void(0)" class="flex py-1 px-2 text-base font-medium text-dark/80 hover:text-primary"> #mountain </a>
                <a href="javascript:void(0)" class="flex py-1 px-2 text-base font-medium text-dark/80 hover:text-primary"> #hill </a>
                <a href="javascript:void(0)" class="flex py-1 px-2 text-base font-medium text-dark/80 hover:text-primary"> #rock </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 5 Section End -->
  <!-- ====== 6 Section Start -->
  <section class="my-10">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <div v-for="index in 2" :key="index" class="px-4 w-full lg:w-10/12 xl:w-8/12 2xl:w-7/12">
          <div class="block overflow-hidden relative z-10 items-center mb-10 rounded-2xl sm:items-stretch md:flex md:items-center xl:items-stretch bg-dark/20 shadow-lg">
            <div class="w-full md:h-full h-[250px] md:max-w-[320px] lg:max-w-[335px]">
              <img src="~/static/images/mockup.jpg" alt="image" class="object-cover object-center w-full h-full" />
            </div>
            <div class="py-8 px-6 w-full sm:px-8 md:py-6 lg:py-8 bg-white">
              <div class="flex items-center mb-5">
                <div class="overflow-hidden mr-3 w-full rounded-full max-w-[40px] h-[40px]">
                  <img src="~/static/images/background.svg" alt="image" class="object-cover aspect-square">
                </div>
                <div class="w-full">
                  <h5 class="text-sm font-semibold sm:text-base text-dark mb-0"> Naimur Rahman </h5>
                  <p class="text-xs font-medium text-dark/80"> Content Writer </p>
                </div>
              </div>
              <h3>
                <a href="javascript:void(0)" class="block mb-3 text-xl font-semibold text-black sm:text-2xl md:text-xl lg:text-2xl hover:text-primary"> Mountain </a>
              </h3>
              <p class="text-base leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet, vehicula ero felis loreum fitiona fringilla scelerisque. Interdum et malesuada fames ac ante ipsum primis faucibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 6 Section End -->
  <!-- ====== 7 Section Start -->
  <section class="my-10 mb-0">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-1/2 lg:w-1/3">
          <div class="py-8 px-6 mb-8 bg-white rounded-2xl sm:px-8 lg:px-6 xl:px-8 shadow-lg">
            <h3>
              <a href="javascript:void(0)" class="block mb-3 mt-0 text-lg leading-tight text-black sm:text-xl sm:leading-tight lg:text-lg lg:leading-tight xl:text-xl xl:leading-tight hover:text-primary"> Ready for SaaS Websites Crafted by 1WorldSync </a>
            </h3>
            <p class="mb-5 text-base font-medium leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet, vehiculaum ero felis loreum fitiona fringilla goes scelerisque Interdum et. </p>
            <a href="javascript:void(0)" class="btn btn-primary btn-link gap-2 p-0 -mb-2"> Learn More <i class="text-lg far fa-long-arrow-alt-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 7 Section End -->
  <!-- ====== 8 Section Start -->
  <section class="my-10 mt-0">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <div v-for="index in 3" :key="index" class="px-4 w-full md:w-1/2 lg:w-1/3">
          <div class="py-8 px-6 mb-8 bg-white rounded-2xl sm:px-8 lg:px-6 xl:px-8 shadow-lg">
            <h3>
              <a href="javascript:void(0)" class="block mb-3 mt-0 text-lg leading-tight text-black sm:text-xl sm:leading-tight lg:text-lg lg:leading-tight xl:text-xl xl:leading-tight hover:text-primary"> Ready for SaaS Websites Crafted by 1WorldSync </a>
            </h3>
            <p class="mb-6 text-base font-medium leading-relaxed text-dark/80"> Lorem ipsum dolor sit amet, vehiculaum ero felis loreum fitiona fringilla goes scelerisque Interdum et. </p>
            <div class="flex items-center">
              <div class="overflow-hidden mr-3 w-full rounded-full max-w-[40px] h-[40px]">
                <img src="~/static/images/background.svg" alt="image" class="object-cover aspect-square">
              </div>
              <div class="w-full">
                <h5 class="text-sm font-semibold sm:text-base text-dark mb-0"> Naimur Rahman </h5>
                <p class="text-xs font-medium text-dark/80"> Content Writer </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== 8 Section End -->
</div>
</template>


<script>
export default {
  head: {
    bodyAttrs: {
      "class": "debug-screens bg-dark/20",
      "data-theme": "light"
    },
    link: [
      {
        rel: "dns-prefetch",
        href: "https://cloudflare-ipfs.com"
      },
      {
        rel: "preconnect",
        href: "https://cloudflare-ipfs.com"
      },
    ],
  },
  name: 'Cards',
};
</script>
