
<template class="p-4">
<div class="p-4">
  <p> Plain Marketo Form with <NuxtLink to="/_nuxt/css/pages/forms.css" class="text-link" target="_blank">1WorldSync Theme</NuxtLink> styles. </p>
  <!-- Html:Comment
  WordPress Theme:
    1: Select Plain (Modified with custom CSS)
    2: Save
  Custom Styles:
    1: Select Plain (Modified with custom CSS)
    2: Click the Gear Icon to edit
    3: Copy/Paste @import snippet below into the Plain Custom CSS Window
    4: Save
  -->
  <form id="mktoForm_3077"></form>
  <!-- div v-html="mktoScript"></div -->
  <aside id="mktoThanks" style="display: none;">
    <h1 class="mktoTitle">Message Sent!&nbsp;</h1>
    <p>Thank you, a representative will contact you soon.</p>
  </aside>
</div>
</template>

<style lang="postcss">
  @import '@@/assets/forms.css';
</style>

<script>
export default {
  head () {
   return {
      bodyAttrs: {
        "class": "debug-screens",
        "x-data": "{ open: false }",
        "data-theme": "light"
      },
      link: [
        { rel: "preconnect", href: "//app-sj25.marketo.com" },
        { rel: "preconnect", href: "//munchkin.marketo.net" },
      ],
      script: [
        { src: "//munchkin.marketo.net/munchkin.js" },
        { src: '/lib/scripts/mkto-munchkin.js', hid: 'munchkin' },
        { src: "//app-sj25.marketo.com/js/forms2/js/forms2.min.js"  },
        { src: '/lib/scripts/mkto-form.js', hid: 'subscribe' },
      ],
    }
  }
  // __dangerouslyDisableSanitizers: ['mktoScript'],
  // data: () => ({
  //   mktoScript: "<script>MktoForms2.loadForm('//app-sj25.marketo.com', '980-UUZ-493', 3077);<\/script>"
  // })
};
</script>
