<template lang="html">
<div data-theme="light" x-data="{open: false}" class="overflow-hidden">
  <div class="flex h-full overflow-hidden bg-white">
    <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false" class="fixed inset-0 z-50 bg-zinc-800 opacity-80 transition-opacity xl:hidden"></div>
    <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'" class="bg-white xl:border-1 xl:border-r xl:border-zinc-300/90 flex overflow-y-auto fixed inset-y-0 left-0 z-50 flex-col w-64 h-screen transition duration-200 transform xl:static xl:inset-0 xl:translate-x-0">
      <a href="/" class="flex justify-center pt-8">
        <BrandLogo class="mr-3 h-[40px] rounded" />
      </a>
      <nav class="mt-2 p-4">
        <div v-for="category in categories" :key="category.name" class="rounded-lg flex justify-between relative" :class="category.name === activeCategory ? '' : 'bg-white'">
          <app-button @click="updateCategory(category.name)" class="btn w-full justify-start" :class="category.name === activeCategory ? 'btn-active' : 'btn-link hover:underline no-underline'">
            {{ category.label }}
          </app-button>
          <small v-if="category.new" class="self-center badge-xs badge bg-primary absolute right-4"></small>
        </div>
        <NuxtLink class="btn btn-link gap-2" to="styles" target="_blank" data-tooltip="Tailwind">Style Classes <i class="fas fa-external-link-alt"></i></NuxtLink>
      </nav>
    </div>
    <main :class="sidebarOpen ? 'blur-sm xl:blur-none' : 'blur-none'" id="main" class="flex md:h-screen overflow-x-hidden flex-col flex-1 bg-white">
      <div class="container mx-auto">
        <article v-for="category in list" :key="category.name">
          <h1 class="font-display font-bold text-[2em] text-accent m-4 -mb-2 pt-4" v-text="category.label"></h1>
          <div v-for="component in category.components" :key="component.name" :name="component.name" class="m-4">
            <component :is="category.name + component.name"></component>
          </div>
        </article>
      </div>
    </main>
  </div>
  <button @click="sidebarOpen = !sidebarOpen" type="button" data-tooltip="Sidebar" :class="sidebarOpen ? 'shadow-lg bg-white' : 'bg-light'" class="btn btn-circle fixed right-8 top-8 z-50 items-center xl:hidden">
    <span class="sr-only">Open site navigation</span>
    <i v-if="!sidebarOpen" class="text-lg far fa-bars"></i>
    <i v-if="sidebarOpen" class="text-lg far fa-times"></i>
  </button>
</div>
</template>

<style lang="postcss" scoped>
@import "@@/assets/app.css";
@import '@@/static/fonts/inter/stylesheet.css';
@import '@@/static/fonts/poppins/stylesheet.css';
@import '@@/static/fonts/plex/mono/stylesheet.css';
</style>

<script>
import AppButton from "@@/components/base/AppButton";
// import BlockForms from "@@/components/example/block/Forms";
import BlockPricing from "@@/components/example/block/Pricing";
import BlockRichContent from "@@/components/example/block/RichContent";
import BrandLogo from "@@/static/images/logo-icon.svg?inline";
import ButtonOverview from "@@/components/example/button/Overview";
import ButtonColors from "@@/components/example/button/Colors";
import ButtonIcons from "@@/components/example/button/Icons";
import ButtonSizes from "@@/components/example/button/Sizes";
import ButtonStyles from "@@/components/example/button/Styles";
import Component from "@@/models/ComponentsFilter";
import InputOverview from "@@/components/example/input/Overview";
import InputSelect from "@@/components/example/input/Select";
import InputText from "@@/components/example/input/Text";
import InputType from "@@/components/example/input/Type";
import NavOverview from "@@/components/example/nav/Overview.vue";
import NavMegaMenu from "@@/components/example/nav/MegaMenu.vue";
export default {
  components: {
    AppButton,
    //BlockForms,
    BlockPricing,
    BlockRichContent,
    BrandLogo,
    ButtonOverview,
    ButtonColors,
    ButtonIcons,
    ButtonSizes,
    ButtonStyles,
    InputOverview,
    InputSelect,
    InputText,
    InputType,
    NavMegaMenu,
    NavOverview,
  },
  head: {
    bodyAttrs: {
      class: "debug-screens",
      "x-data": "{ open: false }",
      "data-theme": "light"
    },
    link: [
      {
        rel: "preload",
        href: "/lib/fonts/poppins/Poppins-Bold.ttf",
        as: "font",
        type: "font/ttf",
        crossorigin: "",
      },
      {
        rel: "preload",
        href: "/lib/fonts/poppins/Poppins-SemiBold.ttf",
        as: "font",
        type: "font/ttf",
        crossorigin: "",
      },
      {
        rel: "preload",
        href: "/lib/fonts/inter/Inter-Regular.woff2",
        as: "font",
        type: "font/woff2",
        crossorigin: "",
      },
      {
        rel: "preload",
        href: "/lib/fonts/inter/Inter-Medium.woff2",
        as: "font",
        type: "font/woff2",
        crossorigin: "",
      },
      {
        rel: "preload",
        href: "/lib/fonts/inter/Inter-SemiBold.woff2",
        as: "font",
        type: "font/woff2",
        crossorigin: "",
      },
    ],
  },
  data() {
    return {
      show: false,
      layout: "Guide",
      sidebarOpen: true,
      categories: ["Button", "Input", "Table"],
      activeCategory: "Block",
      component: new Component(),
    };
  },
  created() {
    this.categories = this.component.all();
  },
  computed: {
    list() {
      return this.component.whereCategory(this.activeCategory);
    }
  },
  methods: {
    updateCategory(category) {
      this.activeCategory = category;
      this.sidebarOpen = false;
      document.getElementById("main").scrollTop = 0;
      window.scrollTo(0, 0);
    }
  }
};
</script>
