<template>
  <div class="p-4 md:mx-6">
    <br>
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-6 xl:grid-cols-4 xl:gap-2">
      <div v-for="item in plans" v-bind:class="{ 'plan': item.popular !== 1, 'plan highlight': item.popular === 1 }" class="grid p-1 rounded-2xl">
        <div class="grid h-full bg-white rounded-xl">
          <div class="item-start">
            <div v-bind:class="{ '': item.popular !== 1, 'indicator': item.popular === 1 }" class="table-head">
              <p v-if="item.popular == 1" class="badge indicator-item indicator-center bg-accent"><small class="badge-label">Most Popular</small></p>
              <p class="pb-4 text-3xl tracking-wide font-bold uppercase font-display text-accent uppercase">{{ item.name }}</p>
              <p class="h-full text-sm capsized">{{ item.overview }}</p>
            </div>
            <div class="grid gap-4 p-4 pb-0">
              <p class="text-base font-semibold leading-6 text-primary-dark">{{ item.includes }}</p>
              <div class="grid gap-2">
                <p class="heading-sm">{{ item.featureHead }}</p>
                <ul role="list" class="grid gap-2 text-sm">
                  <li class="flex gap-2 items-baseline" v-for="feature in item.featureList">
                    <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i>
                    <span>{{ feature }}</span>
                  </li>
                </ul>
              </div>
              <div class="grid gap-2">
                <p v-html="item.benefitHead" class="heading-sm"></p>
                <ul role="list" class="grid gap-2 text-sm">
                  <li class="flex gap-2 items-baseline" v-for="benefit in item.benefitList">
                    <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i>
                    <span>{{ benefit }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="self-end p-3">
            <a v-on:click="toggleModal(item.name)" class="font-bold bg-white btn btn-md btn-block gap-2 hover:bg-light justify-between px-4 uppercase w-full">Get Quote <i class="opacity-80 fas fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModal" class="fixed inset-0 z-40 bg-zinc-800 opacity-80 transition-opacity"></div>
    <!-- :class="showModal ? 'blur-sm' : 'blur-none'" -->
    <!-- button class="btn btn-outline" type="button" v-on:click="toggleModal('base')">Base plan</button -->
    <!-- button class="btn btn-outline" type="button" v-on:click="toggleModal('plus')">Plus plan</button -->
    <!-- button class="btn btn-outline" type="button" v-on:click="toggleModal('pro')">Pro plan</button -->
    <!-- button class="btn btn-outline" type="button" v-on:click="toggleModal('premier')">Premier plan</button  -->
    <div v-show="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <div class="flex items-center justify-between p-5 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-2xl font-display font-bold text-accent mr-auto capitalize">{{ showForm }} plan</h3>
            <button class="btn btn-square ml-auto" v-on:click="toggleModal()"><i class="text-lg far fa-times"></i></button>
          </div>
          <div class="relative p-6 flex-auto">
            <form data-formid="3027" data-forminstance="base_plan" class="mktoForm base" v-bind:class="{ closed: showForm !== 'base', active: showForm === 'base' }"><!-- base --></form>
            <form data-formid="3031" data-forminstance="plus_plan" class="mktoForm plus" v-bind:class="{ closed: showForm !== 'plus', active: showForm === 'plus' }"><!-- plus --></form>
            <form data-formid="3033" data-forminstance="pro_plan" class="mktoForm pro" v-bind:class="{ closed: showForm !== 'pro', active: showForm === 'pro' }"><!-- pro --></form>
            <form data-formid="3035" data-forminstance="premier_plan" class="mktoForm premier" v-bind:class="{ closed: showForm !== 'premier', active: showForm === 'premier' }"><!-- premier --></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="postcss">
  .closed { display: none }
  @import "@@/assets/blocks/pricing.css";</style>
<script>
export default {
  name: "large-modal",
  data() {
    return {
      showModal: false,
      showForm: null,
      plans: [
        {
          name: "base",
          popular: 0,
          overview: "Validate and publish your content to a global network of recipients, instantly, with 1WorldSync Item Management.",
          includes: "Includes:",
          featureHead: "Setup & Manage",
          featureList: [
            "Unlimited Users",
            "Unlimited Products",
            "Unlimited Storage",
            "Digital Asset Management (DAM)",
            "Onboarding Support",
            "24/7 Technical Support",
            "Access to Peer Community Platform",
            "Multiple Integration Options",
          ],
          benefitHead: "Syndicate",
          benefitList: [
            "Unlimited Access to 2000+ Recipient Network",
            "Real-Time Content Insights & Analytics",
          ],
        },
        {
          name: "plus",
          popular: 0,
          overview: "Take content creation off your plate via our world-class imagery solutions and item setup managed services.",
          includes: "Everything in BASE and:",
          featureHead: "Content Creation",
          featureList: [
            "Image Capture & 360-Degree Photography",
            "Off-pack content capture",
            "Automated Attribute Generation",
            "Quality Assurance Guarantee",
            "Auto-Generated Product Description",
          ],
          benefitHead: "Item Setup Automation",
          benefitList: [
            "Image Loading",
            "Logistics & Hierarchy Details",
            "Certifications, Features & Benefits",
            "Weight & Measurement Validation",
            "SEO Copy & Keyword Upload",
            "Guaranteed Accuracy",
          ],
        },
        {
          name: "pro",
          popular: 1,
          overview: "Leverage your content for sales and marketing efforts and check off key transparency and compliance initiatives.",
          includes: "Everything in PLUS and:",
          featureHead: "Digital Catalog",
          featureList: [
            "Dynamic Sales & Marketing Materials in Your Branding",
            "Enable Transparency & Compliance Initiatives",
            "Real-Time Content Updates",
            "Flexible Access & Visibility Settings",
          ],
          benefitHead: "SmartLabel <i aria-hidden='true' class='far fa-copyright text-[10px]'></i> <span class='badge badge-sm'><small class='badge-sm-label'>New</small></span>",
          benefitList: [
            "One-Click Page Creation",
            "Meet Transparency & Compliance Requirements",
            "Adapt to Consumer Trends",
            "Preview Capabilities & Quality Assurance",
          ],
        },
        {
          name: "premier",
          popular: 0,
          overview: "The complete product content experience! Amplify your e-commerce presence with high-impact rich content.",
          includes: "Everything in PRO and:",
          featureHead: "Rich Content Syndication",
          featureList: [
            "Powerful Inline Content Builder",
            "Imagery, Video, Comparison Charts, AR Compatibility & More",
            "Hot Spot Image Creation",
            "Seamless Delivery to Global E-Commerce Network",
            "Quality Assurance Guaranteed",
            "Integrate with Digital Catalog",
          ],
          benefitHead: "Rich Content Analytics",
          benefitList: [
            "Content Usage & Performance Insights",
            "Content Interactions by Retailer",
            "Campaign Reporting",
          ],
        }
      ],
    }
  },
  watch: {
    active: function () {
      document.body.style.overflow = this.active ? 'hidden' : '';
    }
  },
  methods: {
    toggleModal: function(activeForm){
      this.showModal = !this.showModal;
      this.showForm = activeForm;
      this.active = !this.active;
    }
  },
  head: {
    link: [
      { rel: "preconnect", href: "//app-sj25.marketo.com" },
      { rel: "preconnect", href: "//munchkin.marketo.net" },
    ],
    script: [
      { type: "text/javascript", src: "//munchkin.marketo.net/munchkin.js", async: true },
      { type: 'text/javascript', src: '/lib/scripts/mkto-munchkin.js', hid: 'munchkin', defer: true },
      { type: "text/javascript", src: "//app-sj25.marketo.com/js/forms2/js/forms2.min.js" },
      { type: "text/javascript", src: '/lib/scripts/mkto-subscribe.js', hid: 'subscribe', defer: true },
    ],
  },
}
</script>
