<template>
<section class="m-4">
  <aside class="btn-navs">
    <div class="btn-group">
      <a @click="isActive = '1'" :class="{ 'btn-active' : isActive === '1'}" class="btn iframe-lightbox-link" rel="lightbox" href="/lib/mocks/clothing.html">Clothing</a>
      <a @click="isActive = '2'" :class="{ 'btn-active' : isActive === '2'}" class="btn iframe-lightbox-link" rel="lightbox" href="/lib/mocks/consumer-electronics.html">Consumer Electronics</a>
      <a @click="isActive = '3'" :class="{ 'btn-active' : isActive === '3'}" class="btn iframe-lightbox-link" rel="lightbox" href="/lib/mocks/food-beverage.html">Food &amp; Beverage</a>
      <a @click="isActive = '4'" :class="{ 'btn-active' : isActive === '4'}" class="btn iframe-lightbox-link" rel="lightbox" href="/lib/mocks/health-beauty.html">Health &amp; Beauty</a>
      <a @click="isActive = '5'" :class="{ 'btn-active' : isActive === '5'}" class="btn iframe-lightbox-link" rel="lightbox" href="/lib/mocks/sporting-goods.html">Sporting Goods</a>
    </div>
  </aside>
  <div class="min-h-8"><br></div>
  <aside class="btn-navs">
    <div class="btn-group">
      <input type="radio" name="media" class="btn" data-scrolling="true" rel="lightbox" data-title="Clothing" href="/lib/mocks/clothing.html">
      <input type="radio" name="media" class="btn" data-scrolling="true" rel="lightbox" data-title="Consumer Electronics" href="/lib/mocks/consumer-electronics.html">
      <input type="radio" name="media" class="btn" data-scrolling="true" rel="lightbox" data-title="Food &amp; Beverage" href="/lib/mocks/food-beverage.html">
      <input type="radio" name="media" class="btn" data-scrolling="true" rel="lightbox" data-title="Health &amp; Beauty" href="/lib/mocks/health-beauty.html">
      <input type="radio" name="media" class="btn" data-scrolling="true" rel="lightbox" data-title="Sporting Goods" href="/lib/mocks/sporting-goods.html">
    </div>
  </aside>
  <div class="min-h-8"><br></div>
  <div class="btn-group">
    <input type="radio" name="options" data-title="1" class="btn iframe-lightbox-link">
    <input type="radio" name="options" data-title="2" class="btn iframe-lightbox-link" checked>
    <input type="radio" name="options" data-title="3" class="btn iframe-lightbox-link">
    <input type="radio" name="options" data-title="4" class="btn iframe-lightbox-link">
  </div>

  <div v-html="iFrameLightbox"></div>
</section>
</template>
<style lang="postcss">
  @import "@@/assets/blocks/lightbox-iframe.css";
</style>
<script>
export default {
  name: "viewer",
  __dangerouslyDisableSanitizers: ['iFrameLightbox'],
  data: () => ({
    isActive: false,
    iFrameLightbox: "<script src='/lib/iframe-lightbox/script.js'><\/script>"
  }),
}
</script>
