.ccs-cc-inline .ccs-clear {
  clear: both
}

.ccs-cc-inline .ccs-off-screen {
  position: absolute;
  left: -999em
}

.ccs-cc-inline span.ccs-cc-inline-image-zoom {
  -moz-opacity: .7;
  -khtml-opacity: .7;
  opacity: .7;
  right: 0;
  width: 23px;
  height: 23px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  pointer-events: none
}

.ccs-cc-inline span.ccs-cc-inline-image-zoom::after {
  position: relative;
  content: url(./inline_sprite.png);
  top: 0;
  left: 0
}

.ccs-cc-inline a:hover span.ccs-cc-inline-image-zoom {
  -moz-opacity: .9;
  -khtml-opacity: .9;
  opacity: .9
}

.ccs-cc-inline span.ccs-cc-inline-video-play-icon {
  -moz-opacity: .7;
  -khtml-opacity: .7;
  opacity: .7;
  margin: -25px 0 0 -25px;
  left: 50%;
  display: block;
  height: 50px;
  width: 50px;
  background: url(./inline_sprite.png) 0 -240px no-repeat;
  position: absolute;
  top: 50%
}

.ccs-cc-inline span.ccs-cc-inline-video-pause-icon {
  -moz-opacity: .7;
  -khtml-opacity: .7;
  opacity: .7;
  margin: -25px 0 0 -25px;
  left: 50%;
  display: block;
  height: 50px;
  width: 50px;
  background: url(./inline_sprite.png) -57px -240px no-repeat;
  position: absolute;
  top: 50%
}

.ccs-cc-inline span.ccs-cc-inline-spritespin-icon {
  -moz-opacity: .7;
  -khtml-opacity: .7;
  opacity: .7;
  margin: -25px 0 0 -25px;
  left: 50%;
  display: block;
  height: 34px;
  width: 52px;
  background: url(./inline_sprite.png) 0 -385px no-repeat;
  position: absolute;
  top: 50%
}

.ccs-cc-inline .ccs-cc-video-thumbnail-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: auto
}

.ccs-cc-inline span.ccs-cc-video-duration {
  position: absolute;
  right: 6px;
  bottom: 6px;
  line-height: normal;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  font-size: .9em;
  padding: 0 3px
}

.ccs-cc-inline span.ccs-cc-inline-valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.ccs-cc-inline .ccs-cc-inline-section {
  zoom: 1;
  margin: 0;
  padding: 0
}

.ccs-cc-inline .ccs-cc-inline-section:after,
.ccs-cc-inline .ccs-cc-inline-section:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-inline-section:after {
  clear: both
}

.ccs-cc-inline .ccs-cc-inline-section+.ccs-cc-inline-section {
  margin-top: 1.4em
}

.ccs-cc-inline .ccs-cc-inline-section-title {
  border-bottom: 1px solid #eaecf5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: inherit;
  margin: 0 0 10px 0;
  padding: 0 0 2px 0;
  position: relative;
  word-wrap: break-word
}

.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container {
  color: #3a3c4a;
  display: block;
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
  margin: 4px 0
}

.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container a.ccs-cc-inline-jumplink-item {
  color: #3a3c4a;
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container a.ccs-cc-inline-jumplink-item:hover {
  text-decoration: underline
}

.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container a.ccs-cc-inline-jumplink-item:focus {
  outline: #666 dashed 1px
}

.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container a.ccs-cc-inline-jumplink-item,
.ccs-cc-inline .ccs-cc-inline-section-title .ccs-cc-inline-jumplink-container span.ccs-cc-inline-jumplink-separator {
  margin-left: 2px
}

.ccs-cc-inline.ccs-cc-inline-mobile a.ccs-cc-inline-acc-header {
  width: 100%
}

.ccs-cc-inline.ccs-cc-inline-mobile .ccs-cc-inline-jumplink-container {
  display: none
}

.ccs-cc-inline a.ccs-cc-inline-acc-header {
  display: inline-block;
  text-decoration: none;
  color: inherit
}

.ccs-cc-inline a.ccs-cc-inline-acc-header:hover {
  text-decoration: none;
  color: inherit
}

.ccs-cc-inline a.ccs-cc-inline-acc-header:before {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle
}

.ccs-cc-inline a.ccs-cc-inline-acc-header:focus {
  outline: #666 dashed 1px
}

.ccs-cc-inline a.ccs-cc-inline-acc-header .ccs-cc-inline-acc-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle
}

.ccs-cc-inline a.ccs-cc-inline-acc-header .ccs-cc-inline-acc-icon:before {
  content: url(./accordion_sprite.png);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0
}

.ccs-cc-inline a.ccs-cc-inline-acc-header[data-ccs-cc-inline-acc-state=expanded] .ccs-cc-inline-acc-icon:before {
  top: -24px
}

.ccs-cc-inline a.ccs-cc-inline-acc-header[data-ccs-cc-inline-acc-state=collapsed] .ccs-cc-inline-acc-icon:before {
  top: 0
}

.ccs-cc-inline a.ccs-cc-inline-acc-header+.ccs-cc-inline-jumplink-container {
  margin-left: 30px
}

.ccs-cc-inline .ccs-cc-inline-acc-content {
  padding: 0 29px;
  display: none
}

.ccs-cc-inline .ccs-cc-inline-ensure-style-loaded {
  height: 1px !important
}

.ccs-cc-inline .ccs-cc-inline-embedded-video {
  position: relative;
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-inline-embedded-video[tabindex]:focus {
  outline: #666 dashed 1px;
  outline-offset: 1px
}

.ccs-cc-inline .ccs-cc-inline-embedded-video:hover span.ccs-cc-inline-video-play-icon {
  -moz-opacity: .9;
  -khtml-opacity: .9;
  opacity: .9
}

.ccs-cc-inline .ccs-cc-inline-embedded-video .ccs-cc-inline-embedded-video-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.ccs-cc-inline .ccs-cc-inline-embedded-video.initialized>img,
.ccs-cc-inline .ccs-cc-inline-embedded-video.initialized>span {
  visibility: hidden
}

.ccs-cc-inline sup a {
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-aspect-ratio:before {
  content: "";
  width: 1px;
  margin-left: -1px;
  padding-top: calc(100% / var(--ratio))
}

.ccs-cc-inline .ccs-cc-aspect-ratio:not([style*='--ratio']) {
  padding: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-section-title {
  right: auto;
  position: relative;
  bottom: auto
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-jumplink-container {
  position: relative;
  margin-top: 5px;
  word-break: break-word
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-acc-content {
  padding: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-aspect-ratio {
  display: block
}

.ccs-cc-inline.ccs-cc-lightbox-disabled a[data-media-type=image] {
  cursor: default !important
}

.ccs-cc-inline.ccs-cc-lightbox-disabled .ccs-cc-inline-image-zoom {
  visibility: hidden
}

.ccs-cc-inline.ccs-cc-lightbox-disabled .ccs-cc-bazaar-read-more,
.ccs-cc-inline.ccs-cc-lightbox-disabled .ccs-cc-bazaar-video-reviews,
.ccs-cc-inline.ccs-cc-lightbox-disabled .ccs-cc-inline-mobileprinting {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-intro {
  font-size: smaller
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-hero {
  padding: 10px;
  vertical-align: top;
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-description {
  padding: 10px;
  vertical-align: top;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-description img,
.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-hero img {
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-video-container .ccs-cc-inline-header-video {
  max-width: 700px;
  margin: 0 auto;
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-header-video-container .ccs-cc-inline-header-video .ccs-cc-inline-embedded-video img {
  max-width: 100%;
  max-height: 100%
}

.ccs-cc-inline .ccs-cc-inline-header .ccs-cc-inline-section-title {
  display: block
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-description,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-hero,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-video {
  padding: 10px 0;
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-description img,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-hero img,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-video img {
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-header .ccs-cc-inline-header-hero img {
  visibility: hidden
}

.ccs-cc-inline .ccs-cc-inline-intellogo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5em
}

.ccs-cc-inline .ccs-cc-inline-intellogo-image {
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.ccs-cc-inline .ccs-cc-inline-intellogo-image img {
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-intellogo-text {
  padding-left: 2.5em
}

.ccs-cc-inline .ccs-cc-inline-intellogo-text:empty {
  display: none
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-intellogo-block {
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-intellogo-image,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-intellogo-text {
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-intellogo-text {
  padding: 2.5em 0 0
}

.ccs-cc-inline .ccs-slick-list {
  margin: 0 25px
}

.ccs-cc-inline .ccs-slick-list .ccs-slick-loading {
  min-width: 32px;
  min-height: 32px;
  border: none
}

.ccs-cc-inline .ccs-slick-list .ccs-slick-loading:before {
  position: absolute;
  content: url(./ajax-loader.gif) !important;
  width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.ccs-cc-inline .ccs-slick-list .ccs-slick-slide {
  outline: 0
}

.ccs-cc-inline .ccs-slick-arrow {
  position: absolute;
  display: block;
  color: transparent;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 25px;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, .001);
  opacity: .65;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-slick-arrow span {
  display: block;
  height: 32px;
  width: 20px;
  overflow: hidden
}

.ccs-cc-inline .ccs-slick-arrow:focus,
.ccs-cc-inline .ccs-slick-arrow:hover {
  opacity: 1
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-disabled {
  cursor: default;
  display: none !important
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-prev {
  left: 2px
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-next {
  right: 1px;
  margin: 2px 0
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-next span {
  margin: 0 0 0 5px
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-prev span:before {
  position: relative;
  content: url(./inline_sprite.png) !important;
  left: 0;
  top: -290px
}

.ccs-cc-inline .ccs-slick-arrow.ccs-slick-next span:before {
  position: relative;
  content: url(./inline_sprite.png) !important;
  left: 0;
  top: -340px
}

.ccs-cc-inline .ccs-cc-ig {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative
}

.ccs-cc-inline .ccs-cc-ig * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-ig .mejs__time {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.ccs-cc-inline .ccs-cc-ig .ccs-cc-ig-viewport-preview:focus,
.ccs-cc-inline .ccs-cc-ig .ccs-cc-viewport-slide-wrapper:focus,
.ccs-cc-inline .ccs-cc-ig .ccs-slick-arrow:focus,
.ccs-cc-inline .ccs-cc-ig .mejs__container :focus,
.ccs-cc-inline .ccs-cc-ig a.ccs-cc-thumbnail-wrapper:focus {
  outline: #666 dashed 1px;
  outline-offset: 0
}

.ccs-cc-inline .ccs-cc-ig .ccs-slick-slide {
  position: relative;
  text-align: center;
  line-height: 0
}

.ccs-cc-inline .ccs-cc-ig span.ccs-cc-video-duration {
  right: 8px;
  bottom: 10px
}

.ccs-cc-inline .ccs-cc-ig .ccs-cc-thumbnail-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.ccs-cc-inline .ccs-cc-ig .ccs-cc-thumbnail-wrapper img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  outline: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.ccs-cc-inline .ccs-cc-ig .ccs-cc-thumbnail-wrapper img.ccs-slick-loading {
  color: transparent
}

.ccs-cc-inline .ccs-cc-ig .ccs-cc-thumbnail-wrapper img.ccs-slick-loading:before {
  width: calc(100% - 4px);
  height: 32px;
  background: #fff
}

.ccs-cc-inline .ccs-cc-ig.ccs-cc-ig-titles .ccs-slick-slide:after {
  content: attr(data-caption);
  display: block;
  margin: 2px 6px;
  font-size: .85em;
  line-height: 1.2;
  cursor: pointer;
  color: #333;
  word-break: break-word;
  word-wrap: break-word
}

.ccs-cc-inline .ccs-cc-ig-ribbon .ccs-slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px 0
}

.ccs-cc-inline .ccs-cc-ig-ribbon .ccs-cc-thumbnail-wrapper {
  width: 122px;
  height: 82px;
  padding: 1px
}

.ccs-cc-inline .ccs-cc-ig-cloud>div+div {
  margin-top: 8px
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-slick-track {
  margin: 1px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-slick-slide {
  height: auto;
  outline: 0;
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-slick-slide.ccs-ig-cloud-active a.ccs-cc-thumbnail-wrapper {
  display: none
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-slick-slide.ccs-ig-cloud-active span.ccs-cc-thumbnail-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-thumbnail-wrapper {
  cursor: pointer;
  width: 126px;
  height: 86px;
  padding: 3px
}

.ccs-cc-inline .ccs-cc-ig-cloud span.ccs-cc-thumbnail-wrapper {
  display: none
}

.ccs-cc-inline .ccs-cc-ig-cloud.ccs-cc-ig-titles .ccs-slick-slide.ccs-ig-cloud-active,
.ccs-cc-inline .ccs-cc-ig-cloud:not(.ccs-cc-ig-titles) .ccs-ig-cloud-active .ccs-cc-thumbnail-wrapper {
  -webkit-box-shadow: inset 0 0 0 2px #333;
  box-shadow: inset 0 0 0 2px #333
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport {
  height: 400px;
  text-align: center;
  position: relative
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport:hover .ccs-ig-viewport-arrow {
  opacity: .7
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport:hover .ccs-ig-viewport-arrow:hover {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport:hover .ccs-cc-inline-video-play-icon {
  opacity: .9
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport.first-slide .ccs-slick-prev,
.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport.last-slide .ccs-slick-next {
  display: none
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-ig-viewport-arrow {
  position: absolute;
  top: 35%;
  bottom: 35%;
  width: 40px;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity .15s;
  -o-transition: opacity .15s;
  transition: opacity .15s
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-ig-viewport-arrow span {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-ig-viewport-arrow.ccs-slick-next span {
  margin-left: 20px
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-ig-viewport-arrow:focus {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-viewport-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-viewport-slide.loading {
  background: transparent url(./ajax-loader.gif) center center no-repeat
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-viewport-slide.loading img {
  visibility: hidden
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-viewport-slide.ccs-ig-cloud-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-viewport-slide-wrapper[data-media-type=image] img {
  display: inline-block;
  vertical-align: middle
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-viewport-slide-wrapper[data-media-type=video] {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 711px;
  margin: 0 auto;
  outline: 0
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-viewport-slide-wrapper[data-media-type=video]>div {
  vertical-align: middle;
  height: 100%
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-viewport-slide-wrapper[data-media-type=image]:before,
.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-viewport-slide-wrapper[data-media-type=video]>div:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  outline: 0
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-viewport-preview {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  padding: 5px
}

.ccs-cc-inline .ccs-cc-ig-cloud .ccs-cc-ig-cloud-viewport.first-slide.last-slide .ccs-cc-viewport-slide-wrapper {
  outline-offset: -2px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-ig .ccs-cc-thumbnail-wrapper {
  height: 66px;
  width: 96px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-ig .ccs-cc-thumbnail-wrapper .ccs-cc-inline-video-play-icon {
  -webkit-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75)
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-ig.ccs-cc-ig-titles .ccs-slick-slide:after {
  font-size: .75em;
  line-height: 1.1
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'][data-pos=left] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'][data-pos=left] .ccs-cc-inline-thumbnail {
  padding-left: 1em
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'][data-pos=right] .ccs-cc-inline-thumbnail {
  padding-right: 1em
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-feature-description {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-thumbnail {
  -webkit-box-flex: 0;
  -ms-flex: 0 100 50%;
  flex: 0 100 50%;
  max-width: 400px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-thumbnail img {
  max-width: 100%;
  max-height: 400px
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type=media] {
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type=media] .ccs-cc-inline-thumbnail {
  display: inline-block;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type=media] img {
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-thumbnail {
  padding: 1em 0;
  height: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-thumbnail img {
  width: auto;
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-single-feature .ccs-cc-inline-feature[data-type='text media'] .ccs-cc-inline-feature-content {
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature-content {
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature-content li {
  text-align: left
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-embedded-video {
  display: inline-block;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature-content:empty {
  padding: 0;
  margin: 0
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature-content img {
  width: auto;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='2'] .ccs-cc-inline-feature-content {
  width: 50%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='3'] .ccs-cc-inline-feature-content {
  width: 33%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content {
  width: 25%
}

.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content {
  width: 50%
}

.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content[data-order='0'],
.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content[data-order='1'] {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0
}

.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content[data-order='2'],
.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-feature-content[data-order='3'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn[data-count='4'] .ccs-cc-inline-thumbnail {
  margin-top: 1.5em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content {
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content[data-order='0'] {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content[data-order='1'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content[data-order='2'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content[data-order='3'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-feature-content:empty {
  display: none
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn .ccs-cc-inline-feature .ccs-cc-inline-thumbnail {
  text-align: center;
  margin-top: 1.5em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-multicolumn.ccs-cc-inline-features-block {
  margin-top: 0
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-background-mobile {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-background-mobile img {
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-background video {
  left: 50%;
  height: auto;
  min-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-background {
  display: none
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-background-mobile {
  display: block
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio .ccs-cc-inline-overlay-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio .ccs-cc-inline-feature-background video {
  height: 100%
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-feature-background {
  position: relative;
  height: 0;
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-outer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=bottom] .ccs-cc-inline-feature-content,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=top] .ccs-cc-inline-feature-content {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=bottom] .ccs-cc-inline-thumbnail,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=top] .ccs-cc-inline-thumbnail {
  margin: auto
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=bottom] .ccs-cc-inline-thumbnail a,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=bottom] .ccs-cc-inline-thumbnail img,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=top] .ccs-cc-inline-thumbnail a,
.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-inner[data-desktop-media=true][data-pos=top] .ccs-cc-inline-thumbnail img {
  height: 100%
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-feature-content {
  -ms-flex-item-align: start;
  align-self: flex-start
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-feature-description {
  max-height: 100%;
  overflow-y: auto
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-aspect-ratio[style*='--ratio'] .ccs-cc-inline-feature-background {
  padding-top: 0 !important
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay.ccs-cc-aspect-ratio {
  display: block
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay.ccs-cc-aspect-ratio:not([style*='--ratio']) .ccs-cc-inline-overlay-outer {
  position: relative;
  left: 0;
  right: 0
}

.ccs-cc-inline .ccs-cc-inline-overlay.ccs-cc-inline-features-block+.ccs-cc-inline-overlay {
  margin-top: 0
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-outer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.5em;
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=left] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=bottom],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=top],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type='text media'][data-desktop-media=true] {
  width: calc(75% + 3.3em);
  margin: 0 auto
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type='text media'][data-desktop-media=false] .ccs-cc-inline-thumbnail {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type~=text][data-desktop-media=false][data-pos=center] {
  width: calc(75% + 3.3em);
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type~=text][data-desktop-media=false][data-pos=left],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type~=text][data-desktop-media=false][data-pos=right] {
  width: calc(40% + 3.3em);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type~=text][data-desktop-media=false][data-pos=left] {
  margin-right: auto
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type~=text][data-desktop-media=false][data-pos=right] {
  margin-left: auto
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=left] img,
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=right] img {
  max-width: 300px
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=top] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=bottom] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=bottom][data-desktop-media=false],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=bottom][data-type=text],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=top][data-desktop-media=false],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=top][data-type=text] {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=bottom][data-desktop-media=true][data-type='text media'],
.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=top][data-desktop-media=true][data-type='text media'] {
  margin: .4em auto
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner .ccs-cc-inline-feature-description {
  padding: 1.6em;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-feature-content {
  margin: .4em
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-feature-description h3 {
  margin-top: 0
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-thumbnail {
  padding: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.ccs-cc-inline .ccs-cc-inline-overlay .ccs-cc-inline-thumbnail img {
  max-width: 100%;
  display: block;
  margin: 0 auto
}

.ccs-cc-inline[max-width~="900px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=left][data-type=text],
.ccs-cc-inline[max-width~="900px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=right][data-type=text] {
  width: calc(50% + 3.3em)
}

.ccs-cc-inline[max-width~="900px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=left] .ccs-cc-inline-thumbnail img,
.ccs-cc-inline[max-width~="900px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=right] .ccs-cc-inline-thumbnail img {
  max-width: 250px
}

.ccs-cc-inline[max-width~="680px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=left] .ccs-cc-inline-thumbnail img,
.ccs-cc-inline[max-width~="680px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-pos=right] .ccs-cc-inline-thumbnail img {
  max-width: 200px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-outer {
  padding: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] .ccs-cc-inline-feature-content {
  margin: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] .ccs-cc-inline-feature-description {
  padding: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] h3 {
  margin: 1em 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] .ccs-cc-inline-thumbnail {
  display: block;
  margin-bottom: .8em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-overlay-inner[data-type][data-pos] .ccs-cc-inline-thumbnail img {
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-overlay .ccs-cc-inline-feature-background-mobile {
  padding: 1em 0
}

.ccs-cc-inline .ccs-cc-fc:hover .ccs-cc-fc-arrow.ccs-slick-arrow {
  background-color: rgba(255, 255, 255, .7);
  outline: 0
}

.ccs-cc-inline .ccs-cc-fc:hover .ccs-cc-fc-arrow.ccs-slick-arrow span {
  opacity: .6
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-custom-controls+.ccs-cc-fc-arrows .ccs-cc-fc-arrow.ccs-slick-arrow {
  top: 30%;
  bottom: 40%;
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow {
  position: absolute;
  top: 30%;
  margin: 0 0 5px 0;
  bottom: 30%;
  width: 20px;
  height: auto;
  outline: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow.ccs-slick-prev {
  left: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow.ccs-slick-next {
  right: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow span {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  margin: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow:focus span,
.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-arrow.ccs-slick-arrow:hover span {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-fc.ccs-cc-fc-mobile .ccs-slick-arrow {
  background-color: rgba(255, 255, 255, .7)
}

.ccs-cc-inline .ccs-cc-fc.ccs-cc-fc-mobile .ccs-slick-arrow span {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-items {
  outline: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-items img {
  display: inline-block
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-items .ccs-cc-inline-feature-content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-list {
  margin: 0;
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-list:after {
  clear: both;
  content: "";
  display: block
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-track .ccs-slick-slide {
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-track .ccs-cc-inline-features-block:not(first-child),
.ccs-cc-inline .ccs-cc-fc .ccs-slick-track .ccs-slick-slide {
  margin: 0 0 5px 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-track .ccs-cc-inline-features-block:not(first-child)>.ccs-cc-inline-feature,
.ccs-cc-inline .ccs-cc-fc .ccs-slick-track .ccs-slick-slide>.ccs-cc-inline-feature {
  margin: 0 28px
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-custom-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-play-pause-btn {
  padding-left: 10px;
  line-height: 0;
  opacity: .4;
  outline: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-play-pause-btn:hover {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-play-pause-btn span {
  display: block;
  width: 1em;
  height: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-play-pause-btn.ccs-play span {
  border-top: .5em solid transparent;
  border-left: 1em solid #000;
  border-bottom: .5em solid transparent
}

.ccs-cc-inline .ccs-cc-fc .ccs-cc-fc-play-pause-btn.ccs-pause span {
  border-right: .25em solid #000;
  border-left: .25em solid #000
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots {
  text-align: center;
  margin: auto 0;
  line-height: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 1em;
  height: auto;
  margin: .5em;
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots li:hover {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots li.ccs-slick-active a {
  opacity: 1
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots li a {
  display: inline-block;
  height: .5em;
  width: .5em;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  opacity: .4;
  outline: 0
}

.ccs-cc-inline .ccs-cc-fc .ccs-slick-dots li a:hover {
  opacity: 1
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-fc .ccs-cc-inline-features-block:not(first-child) {
  margin: 0 0 5px 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-fc .ccs-cc-inline-features-block:not(first-child)>.ccs-cc-inline-feature {
  margin: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-fc .ccs-cc-fc-custom-controls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-fc .ccs-cc-fc-custom-controls .ccs-cc-fc-play-pause-btn,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-fc .ccs-cc-fc-custom-controls .ccs-slick-dots {
  padding: 0
}

.ccs-cc-inline .ccs-cc-inline-features {
  margin-bottom: .3em
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-features-block {
  margin-top: 1.5em;
  position: relative;
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-features-block:first-child {
  margin-top: 0
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature {
  position: relative
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-thumbnail {
  padding: .3em;
  text-align: center;
  line-height: 0
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-thumbnail img {
  border: 0
}

.ccs-cc-inline .ccs-cc-inline-features .ccs-cc-inline-feature-description {
  padding: 0 .3em;
  word-wrap: break-word;
  word-break: break-word
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media {
  cursor: default;
  display: inline-block;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  cursor: default
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media span.ccs-cc-inline-image-zoom,
.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media span.ccs-cc-inline-video-play-icon {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-clickable {
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-clickable span.ccs-cc-inline-image-zoom,
.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-clickable span.ccs-cc-inline-video-play-icon {
  display: block
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media:hover {
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-thumbnail-video:hover span.ccs-cc-inline-video-play-icon {
  -moz-opacity: .9;
  -khtml-opacity: .9;
  opacity: .9
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-clickable:focus {
  outline: 0
}

.ccs-cc-inline .ccs-cc-inline-features a.ccs-cc-inline-thumbnail-media.ccs-cc-inline-clickable:focus:before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  outline: #666 dashed 1px;
  pointer-events: none
}

.ccs-cc-inline .ccs-cc-inline-section:not(.ccs-cc-inline-features)+.ccs-cc-inline-features {
  margin-top: 1.5em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-features-block {
  margin-bottom: .3em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-features-block:not(:first-child) {
  margin-top: 1.5em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-content {
  padding: 0;
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-content img {
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-content.ccs-cc-inline-feature-description {
  text-align: center
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-content.ccs-cc-inline-feature-description li {
  text-align: left
}

.ccs-cc-inline .ccs-cc-inline-assets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.ccs-cc-inline .ccs-cc-inline-asset {
  margin: 5px 10px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px
}

.ccs-cc-inline .ccs-cc-inline-asset a {
  display: inline-block
}

.ccs-cc-inline .ccs-cc-inline-asset a:focus {
  outline: #666 dashed 1px;
  outline-offset: 2px
}

.ccs-cc-inline .ccs-cc-inline-asset span {
  display: block;
  padding: 4px 0 8px
}

.ccs-cc-inline .ccs-cc-inline-asset img {
  border: 1px solid #eaecf5;
  max-width: 145px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-assets-container {
  margin: -5px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-asset {
  margin: 5px 5px;
  -ms-flex-preferred-size: calc(50% - 10px);
  flex-basis: calc(50% - 10px);
  line-height: 1.1em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-asset img {
  width: auto;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-accessories .ccs-cc-inline-acc-content>ul {
  margin: 0;
  overflow: hidden
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row:nth-child(1n+3) {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row div {
  width: 50%;
  margin-bottom: 1.638em;
  margin-right: 25px;
  display: list-item
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems.ccs-cc-inline-compatibleitems-expanded div.ccs-cc-inline-compatibleitems-row:nth-child(1n+3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems.ccs-cc-inline-compatibleitems-expanded .ccs-cc-inline-compatibleitems-expand-link {
  display: none
}

.ccs-cc-inline .ccs-cc-inline-section.ccs-cc-inline-compatibleitems .ccs-cc-inline-compatibleitems-expand-link {
  float: left;
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row {
  display: block
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row:nth-child(1n+3) {
  display: none
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-section.ccs-cc-inline-compatibleitems div.ccs-cc-inline-compatibleitems-row div {
  width: auto;
  display: list-item;
  margin-left: 15px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-section.ccs-cc-inline-compatibleitems.ccs-cc-inline-compatibleitems-expanded div.ccs-cc-inline-compatibleitems-row:nth-child(1n+3) {
  display: block
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-notes {
  font-size: smaller
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-notes div:after {
  content: "\200E"
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-legals {
  font-size: smaller
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-legals p {
  margin: 3px 0 0 0
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-legals p:after {
  content: "\200E"
}

.ccs-cc-inline .ccs-cc-inline-footer .ccs-cc-inline-footer-notes+.ccs-cc-inline-footer-legals {
  margin-top: 7px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-footer {
  word-break: break-all
}

.ccs-cc-inline .ccs-cc-inline-specifications table {
  border: 0;
  border-collapse: collapse;
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-specifications table tr>th.ccs-cc-inline-specs-group {
  text-align: left;
  font-weight: 700
}

.ccs-cc-inline .ccs-cc-inline-specifications table tr+tr th.ccs-cc-inline-specs-group {
  padding: 10px 0 2px 0
}

.ccs-cc-inline .ccs-cc-inline-specifications table .ccs-cc-inline-specs-row {
  text-align: left
}

.ccs-cc-inline .ccs-cc-inline-specifications table .ccs-cc-inline-specs-row td,
.ccs-cc-inline .ccs-cc-inline-specifications table .ccs-cc-inline-specs-row th {
  padding: 5px;
  border: 1px solid #a9a9a9;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400
}

.ccs-cc-inline .ccs-cc-inline-specifications table .ccs-cc-inline-specs-row td:after,
.ccs-cc-inline .ccs-cc-inline-specifications table .ccs-cc-inline-specs-row th:after {
  content: "\200E"
}

.ccs-cc-inline .ccs-cc-inline-specifications .ccs-cc-inline-specification-attribute {
  vertical-align: top;
  width: 250px
}

.ccs-cc-inline .ccs-cc-inline-specifications .ccs-cc-inline-specs-more-btn {
  margin-top: 15px
}

.ccs-cc-inline .ccs-cc-inline-specifications .ccs-cc-inline-specs-more-btn a {
  cursor: pointer;
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-inline-specifications .ccs-cc-inline-specs-more-btn a:hover {
  text-decoration: underline
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-specifications table {
  table-layout: fixed;
  word-break: break-all
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container {
  cursor: pointer;
  margin: 0 auto;
  position: relative
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container * {
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container span.ccs-cc-inline-spritespin-icon {
  left: 0;
  right: auto;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container .ccs-cc-preload-layer {
  background-color: #fff;
  cursor: default;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 9
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container .ccs-cc-preload-layer .ccs-cc-preload-container {
  height: 0;
  overflow: hidden;
  width: 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin-container .ccs-cc-preload-layer .ccs-cc-loading {
  background: url(./busy-indicator.gif) no-repeat;
  background-position: center;
  cursor: default;
  display: block;
  height: 100%;
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-spritespin {
  cursor: pointer;
  margin: 0 auto
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-toolbox {
  margin: 0 auto;
  padding: 20px 0;
  position: relative
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-toolbox .ui-slider {
  margin-left: 60px
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-toolbox span.ccs-cc-inline-video-play-icon {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  cursor: pointer;
  left: 0;
  right: auto;
  margin-left: 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ccs-cc-inline-toolbox span.ccs-cc-inline-video-pause-icon {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  left: 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-slider {
  position: relative;
  text-align: left
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  outline: 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-slider-horizontal {
  height: .8em;
  margin-right: .3em
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget .ui-widget {
  font-size: 1em
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-content {
  border: 1px solid #ddd;
  background: #eee 50% top repeat-x;
  color: #333
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-state-default,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-content .ui-state-default,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-header .ui-state-default {
  border: 1px solid #ccc;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: 700;
  color: #1c94c4
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-state-focus,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-state-hover,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-content .ui-state-focus,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-content .ui-state-hover,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-header .ui-state-focus,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-header .ui-state-hover {
  border: 1px solid #fbcb09;
  background: #fdf5ce 50% 50% repeat-x;
  font-weight: 700;
  color: #c77405
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-state-active,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-content .ui-state-active,
.ccs-cc-inline .ccs-cc-inline-360spin .ui-widget-header .ui-state-active {
  border: 1px solid #fbd850;
  background: #fff 50% 50% repeat-x;
  font-weight: 700;
  color: #eb8f00
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-corner-all {
  border-top-left-radius: 4px
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-corner-all {
  border-top-right-radius: 4px
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-corner-all {
  border-bottom-left-radius: 4px
}

.ccs-cc-inline .ccs-cc-inline-360spin .ui-corner-all {
  border-bottom-right-radius: 4px
}

.ccs-cc-inline .ccs-cc-comparison-table-container {
  position: relative
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-productlink] a {
  color: #000;
  text-decoration: none;
  cursor: default
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-productlink] a.ccs-logo-link-shown {
  color: #337ab7;
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-productlink] a.ccs-logo-link-shown:hover {
  color: #23527c;
  text-decoration: underline
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart] {
  display: none
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart].ccs-logo-atc-shown {
  display: block
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart] a {
  padding: .7em 1em;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: #f25529;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart] a:hover {
  background: #ca350c
}

.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart] a:focus,
.ccs-cc-inline .ccs-cc-comparison-table-container span[data-logo-addtocart] a:hover {
  text-decoration: none
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 170px
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table {
  border: none;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table td {
  border-top: 1px solid #ddd;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table td .ccs-cc-comparison-table-cell-content {
  margin: 0;
  padding: 6px;
  text-align: center;
  min-width: 110px
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table td .ccs-cc-comparison-table-bazaar-rating-bar {
  height: 15px;
  width: 75px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAkpJREFUSEuVkU1PE1EUhktYQovMTD8GmTaVdgsbfkGX/A+DMZF0YaxdaMQuJEQT3GiqpG7qV42JsWhYzXT6/fEfGhbsKYSwIlzfU+6tt9MLgZM8nXPO+56Z03t9V8W6379K8PJ28ToYKRG8vF0UTOsYDHh583gYmFv5E1tie9ElRjlv3yxeGeHifizJCOQF3p6MjyEz6+WTaZ38jSUYsRuxBu+McNrLo8Bcyvc5YvVdmKr4imAf9R6HcllzwVfTOrzv95s+/Ey90IM736z4xW8Yr+O7FWcvjVAeM9N88ct4fGc+lTcXT3/hkFR8MK2zJ/PaGrdPBt64/GUxzn7CLEM9aNef+nPd2P4RvcdUPNONLW5Tx5uweVCCkXgbWTgiRA2tz22TgbWM3btRVsSh5IIhG/UMmEXuUI801Bq3j8dTTc++X7DO8dzgrVFkND3NtQxvjceDQGBz3R9I8HIioCXhyfHyMsrlshLbtlcJlSZQNolarVYiVJpA2SSazeYxGKg0gbLpOM5Kp9NhBOUqD6FsYt1it9tlBPKCykP4Go1G1gvWPRFfptXr9XraCzZK0X/r93o9JkNfFMOUe/VWq3WImzDpSqaq1epOu92+EANXAQ+DN4+Z6eHaYv9KpZLCyqeqIQIbnrmuuyb8Y8ME3riMlYZfkKEetIlTHyuw0rZ3UABtS/YSYwVO8UCYkR8RUt2XvcQowVoG/tdwRdwtSnsGzCJ3qEcaak05jMOgOz7Hc0M2cC3NtYzcHyW49E2QkEUZaEmQ+98r+/4BaL3v3D5eq8AAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  background-position: 0 -15px;
  margin: auto
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table td .ccs-cc-comparison-table-bazaar-rating-bar>.ccs-cc-comparison-table-bazaar-rating-score {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAYAAADzXER0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAkpJREFUSEuVkU1PE1EUhktYQovMTD8GmTaVdgsbfkGX/A+DMZF0YaxdaMQuJEQT3GiqpG7qV42JsWhYzXT6/fEfGhbsKYSwIlzfU+6tt9MLgZM8nXPO+56Z03t9V8W6379K8PJ28ToYKRG8vF0UTOsYDHh583gYmFv5E1tie9ElRjlv3yxeGeHifizJCOQF3p6MjyEz6+WTaZ38jSUYsRuxBu+McNrLo8Bcyvc5YvVdmKr4imAf9R6HcllzwVfTOrzv95s+/Ey90IM736z4xW8Yr+O7FWcvjVAeM9N88ct4fGc+lTcXT3/hkFR8MK2zJ/PaGrdPBt64/GUxzn7CLEM9aNef+nPd2P4RvcdUPNONLW5Tx5uweVCCkXgbWTgiRA2tz22TgbWM3btRVsSh5IIhG/UMmEXuUI801Bq3j8dTTc++X7DO8dzgrVFkND3NtQxvjceDQGBz3R9I8HIioCXhyfHyMsrlshLbtlcJlSZQNolarVYiVJpA2SSazeYxGKg0gbLpOM5Kp9NhBOUqD6FsYt1it9tlBPKCykP4Go1G1gvWPRFfptXr9XraCzZK0X/r93o9JkNfFMOUe/VWq3WImzDpSqaq1epOu92+EANXAQ+DN4+Z6eHaYv9KpZLCyqeqIQIbnrmuuyb8Y8ME3riMlYZfkKEetIlTHyuw0rZ3UABtS/YSYwVO8UCYkR8RUt2XvcQowVoG/tdwRdwtSnsGzCJ3qEcaak05jMOgOz7Hc0M2cC3NtYzcHyW49E2QkEUZaEmQ+98r+/4BaL3v3D5eq8AAAAAASUVORK5CYII=);
  background-position: 0 0;
  height: 100%
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table tr:first-child td:first-child {
  max-width: 100%;
  max-height: 190px;
  height: auto
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table tr td:first-child {
  position: absolute;
  left: 0;
  width: 170px;
  -webkit-backface-visibility: hidden
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table table tr td:first-child .ccs-cc-comparison-table-cell-content {
  text-align: left
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-hidden-row {
  display: none
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-header-row td {
  border-top: 0;
  font-weight: 700
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-header-row td.ccs-cc-comparison-table-valign-helper {
  vertical-align: middle
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-header-row img {
  max-height: 190px;
  max-width: 100%;
  border: 0
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-header-row td:not(:first-child) img {
  max-width: var(--table-img-width)
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-group-row td {
  font-weight: 700;
  background: #e8e8e8
}

.ccs-cc-inline .ccs-cc-comparison-table-container .ccs-cc-comparison-table .ccs-cc-comparison-table-main-cell {
  background: #f5f5f5;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  font-weight: 700
}

.ccs-cc-inline .ccs-cc-inline-windows-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  font-family: "Segoe UI", wf_SegoeUI, Arial, Helvetica, sans-serif
}

.ccs-cc-inline .ccs-cc-inline-windows-outer .ccs-cc-inline-windows-header {
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-windows-outer .ccs-cc-inline-windows-header h3 {
  color: #fff;
  font-weight: 300;
  line-height: 1.3;
  margin: 0
}

.ccs-cc-inline .ccs-cc-inline-windows-outer .ccs-cc-inline-windows-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center
}

.ccs-cc-inline .ccs-cc-inline-windows-outer .ccs-cc-inline-windows-content {
  word-wrap: break-word;
  word-break: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-inline-windows-outer .ccs-cc-inline-embedded-video {
  cursor: pointer;
  display: inline-block;
  max-width: 100%
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-header,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-header {
  background: #0078d7;
  padding: 25px 30px
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents {
  border-bottom: 2px solid #0078d7
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-content,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-content {
  width: 33%;
  padding: 15px 15px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-title h4,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-title h4 {
  color: #0078d7;
  margin: 0
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding-top: 20px;
  font-weight: 700;
  line-height: 1.5
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media img,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media img {
  width: 100%;
  max-width: 400px
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media-title h4,
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media-title h4 {
  font-size: 1.1em;
  margin-top: .5em
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-title[data-column='0'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-title[data-column='0'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-title[data-column='1'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-title[data-column='1'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-title[data-column='2'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-title[data-column='2'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-description[data-column='0'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-description[data-column='0'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-description[data-column='1'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-description[data-column='1'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-description[data-column='2'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-description[data-column='2'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media[data-column='0'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media[data-column='0'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media[data-column='1'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media[data-column='1'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media[data-column='2'],
.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-media[data-column='2'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-media {
  width: 50%
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-header {
  background: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 30px;
  text-align: left
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-inline-windows-header-logo {
  background: url(./logo_gaming.png) no-repeat left;
  background-size: contain;
  max-width: 240px;
  width: calc(50% - 60px);
  margin: 0 30px
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-inline-windows-header-title {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  max-width: 100%;
  margin: 0 30px;
  line-height: 1.2;
  letter-spacing: -.01em
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-inline-windows-header-title a {
  color: inherit
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-contents {
  padding: 10px
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-content h3 {
  color: #2f2f2f;
  font-weight: 500;
  line-height: 1.2;
  margin: 7px 0 20px 0
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-description {
  line-height: 1.5
}

.ccs-cc-inline .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-media img {
  max-width: 200px;
  width: 100%
}

.ccs-cc-inline[max-width~="1050px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-header,
.ccs-cc-inline[max-width~="1050px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-header {
  line-height: 1.32;
  padding: 15px 25px
}

.ccs-cc-inline[max-width~="1050px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-content {
  max-width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%
}

.ccs-cc-inline[max-width~="790px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-header,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-header {
  padding: 15px 25px;
  line-height: 1.3
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents {
  border-bottom: none;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content {
  width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='0'],
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='0'] {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='1'],
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='1'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='2'],
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-content[data-column='2'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-title,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-title {
  background-size: 35px 30px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-description,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-description {
  padding-top: 10px
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=business] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-media,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=consumer] .ccs-cc-inline-windows-contents .ccs-cc-inline-windows-media {
  border-bottom: 2px solid #0078d7
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-header {
  padding: 20px 10px;
  text-align: center
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-header div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin: 0
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-inline-windows-header-logo {
  display: none
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-windows-outer[data-template=gaming] .ccs-cc-inline-windows-media img {
  width: 80%
}

.ccs-cc-inline .ccs-cc-inline-faq * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-cc-inline .ccs-cc-inline-faq .mejs__controls .mejs__time {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-faq-item .ccs-cc-inline-section-title {
  border-bottom: none;
  font-size: 1em;
  margin: 1em 0
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-faq-item .ccs-cc-inline-section-title .ccs-cc-inline-acc-header {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  word-break: break-word;
  word-wrap: break-word;
  padding-left: .2em;
  outline-offset: 1px
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-faq-item .ccs-cc-inline-section-title .ccs-cc-inline-acc-header span:last-child {
  padding-left: .5em
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-faq-item .ccs-cc-inline-section-title .ccs-cc-inline-acc-header[data-ccs-cc-inline-acc-state=collapsed] .ccs-cc-inline-chevron-icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-faq-item .ccs-cc-inline-section-title .ccs-cc-inline-acc-header[data-ccs-cc-inline-acc-state=expanded] .ccs-cc-inline-chevron-icon {
  -webkit-transform: rotate(135deg) translate3d(-.15em, .05em, 0);
  transform: rotate(135deg) translate3d(-.15em, .05em, 0)
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-acc-content {
  margin: 1em 0
}

.ccs-cc-inline .ccs-cc-inline-faq .ccs-cc-inline-chevron-icon {
  display: inline-block;
  height: .75em;
  width: .75em;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-filter: blur(0);
  filter: blur(0);
  border-style: solid;
  border-width: .2em .2em 0 0
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality {
  margin-bottom: .3em
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-title {
  font-size: 14px;
  font-weight: 400
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block {
  margin-top: 1.5em;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block .ccs-inline-ar-block-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block:first-child {
  margin-top: 0
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block .ccs-inline-ar-thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block .ccs-inline-ar-overlay-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.5em;
  width: 100%;
  cursor: pointer
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block .ccs-inline-ar-overlay-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(75% + 3.3em);
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ccs-cc-inline .ccs-cc-inline-augmentedreality .ccs-inline-ar-block .ccs-inline-ar-overlay-inner .ccs-inline-ar-overlay-text {
  padding: 1.6em;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: 100%;
  color: red;
  background-color: rgba(255, 255, 255, .5)
}

.ccs-cc-inline .ccs-inline-ar-viewer {
  width: 100%;
  height: 100%;
  --poster-color: transparent
}

.ccs-cc-inline .ccs-inline-ar-viewer .ccs-inline-ar-button {
  background-color: #fff;
  border-radius: 2px;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 125px;
  height: 35px
}

.ccs-cc-inline .ccs-inline-ar-viewer .ccs-inline-ar-button-title {
  margin-left: 20px
}

.ccs-cc-inline .ccs-inline-ar-viewer .ccs-inline-ar-button-title:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./wave_hand.png);
  background-size: 20px;
  margin-top: 6px;
  margin-left: 10px
}

.ccs-cc-inline .ccs-ficon-ar-block {
  margin: auto
}

.ccs-cc-inline .ccs-inline-ar-block-qr {
  text-align: center;
  margin-top: 5px
}

.ccs-cc-inline .ccs-inline-ar-qr-code {
  display: inline-block
}

.ccs-cc-inline .ccs-inline-ar-qr-code .ccs-cc-qr-header {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center
}

.ccs-cc-inline .ccs-inline-ar-qr-code .ccs-cc-qr-code {
  text-align: center;
  border-bottom: 1px solid #ccc
}

.ccs-cc-inline .ccs-inline-ar-qr-code .ccs-cc-qr-below {
  font-size: .75em;
  font-weight: 400;
  text-align: left
}

.ccs-cc-inline .ccs-qr-button {
  background: url(./3D-AR.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 5.5em;
  height: 5.5em;
  border: 1px solid #a3a3a3
}

.ccs-cc-inline .ccs-ar-qr-button-text {
  font-size: 1em;
  font-weight: 400;
  width: 18em;
  float: left;
  margin-left: 1em;
  text-align: left;
  margin-top: .5em
}

.ccs-cc-inline .ccs-ar-qr-button {
  margin-left: 40%;
  float: left
}

.ccs-cc-inline .ccs-inline-ar-qr-button {
  cursor: pointer
}

.ccs-cc-inline ol,
.ccs-cc-inline ul {
  margin: 0 0 0 2.5em;
  margin: .938em 0
}

.ccs-cc-inline ol li,
.ccs-cc-inline ul li {
  margin-bottom: .938em
}

.ccs-cc-inline h1 {
  margin: .67em 0
}

.ccs-cc-inline h2 {
  margin: .83em 0
}

.ccs-cc-inline h3 {
  margin: 1em 0
}

.ccs-cc-inline h4 {
  margin: 1.33em 0
}

.ccs-cc-inline h5 {
  margin: 1.67em 0
}

.ccs-cc-inline h6 {
  margin: 2.33em 0
}

@media screen and (max-width:570px) {

  .ccs-cc-inline ol,
  .ccs-cc-inline ul {
    padding: 0 0 0 1.25em;
    margin: .625em 0
  }

  .ccs-cc-inline ol li,
  .ccs-cc-inline ul li {
    margin-bottom: .313em
  }
}

.ccs-cc-inline[max-width~="570px"] ol,
.ccs-cc-inline[max-width~="570px"] ul {
  padding: 0 0 0 1.25em;
  margin: .625em 0
}

.ccs-cc-inline[max-width~="570px"] ol li,
.ccs-cc-inline[max-width~="570px"] ul li {
  margin-bottom: .313em
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature,
.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-description {
  color: inherit !important
}

.ccs-cc-inline[max-width~="570px"] .ccs-cc-inline-features .ccs-cc-inline-feature-description {
  display: block;
  background: 0 0 !important
}

.ccs-cc-inline[max-width~="570px"] {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

.ccs-hotspots-container {
  text-align: center
}

.ccs-hotspots-container+.ccs-hotspots-container {
  margin-top: 1em
}

.ccs-hotspots {
  position: relative;
  display: inline-block
}

.ccs-hotspots-image {
  width: auto;
  max-height: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.ccs-hotspots,
.ccs-hotspots-image {
  max-width: 100%
}

.qtip {
  direction: ltr;
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  min-width: 50px;
  line-height: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0
}

.qtip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word
}

.qtip-titlebar {
  position: relative;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: 700;
  padding: 5px;
  padding-right: 35px;
  padding-left: 10px
}

.qtip-titlebar+.qtip-content {
  border-top-width: 0 !important
}

.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  z-index: 11;
  cursor: pointer;
  outline: medium none;
  border: 1px solid transparent
}

.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px
}

* html .qtip-titlebar .qtip-close {
  top: 16px
}

.qtip-icon .ui-icon,
.qtip-titlebar .ui-icon {
  direction: ltr;
  display: block;
  text-indent: -1000em
}

.qtip-icon,
.qtip-icon .ui-icon {
  border-radius: 3px;
  text-decoration: none
}

.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em
}

.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15)
}

.qtip-default {
  border: 1px solid #f1d031;
  background-color: #ffffa3;
  color: #555
}

.qtip-default .qtip-icon {
  border-color: #ccc;
  background: #f1f1f1;
  color: #777
}

.qtip-light {
  background-color: #fff;
  border-color: #e2e2e2;
  color: #454545
}

.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
  position: absolute;
  color: #123456;
  background: 0 0;
  border: 0 dashed transparent
}

.qtip .qtip-tip canvas {
  top: 0;
  left: 0
}

.qtip .qtip-tip .qtip-vml {
  behavior: url(#default%23VML);
  display: inline-block;
  visibility: visible
}

#qtip-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

#qtip-overlay.blurs {
  cursor: pointer
}

#qtip-overlay div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7
}

body.ccs-fancybox-active #qtip-overlay div {
  opacity: .4
}

.ccs-hotspots-point {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  color: #f25529;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-hotspots-point.ccs-hotspots-point-active {
  color: #504d56
}

.ccs-hotspots-point:focus {
  outline: 0
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point {
  width: 30px;
  height: 30px;
  margin: 1px
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point:after,
.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point:before {
  font-family: ccs-hotspot-icon;
  font-size: 32px;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
  margin: 0;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: initial
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point:after {
  opacity: 0
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point.ccs-hotspots-point-active {
  color: #504d56
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point.ccs-hotspots-point-active:before {
  opacity: 0
}

.ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point.ccs-hotspots-point-active:after {
  opacity: 1
}

.ccs-hotspots-default .ccs-hotspots-point {
  width: 32px;
  height: 32px;
  background-color: #f25529;
  border: 1px dashed transparent;
  -webkit-transition: background-color .25s, border-color .05s;
  -o-transition: background-color .25s, border-color .05s;
  transition: background-color .25s, border-color .05s
}

.ccs-hotspots-default .ccs-hotspots-point:focus,
.ccs-hotspots-default .ccs-hotspots-point:hover {
  background-color: #ca350c
}

.ccs-hotspots-default .ccs-hotspots-point:focus:not(:active) {
  border-color: #fff
}

.ccs-hotspots-default .ccs-hotspots-point:after,
.ccs-hotspots-default .ccs-hotspots-point:before {
  content: "";
  background-color: #fff;
  position: absolute;
  border-radius: 1px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.ccs-hotspots-default .ccs-hotspots-point:before {
  width: 2px;
  height: 16px;
  top: 7px;
  left: 14px
}

.ccs-hotspots-default .ccs-hotspots-point:after {
  width: 16px;
  height: 2px;
  top: 14px;
  left: 7px
}

.ccs-hotspots-default .ccs-hotspots-point.ccs-hotspots-point-active {
  background: #504d56
}

.ccs-hotspots-default .ccs-hotspots-point.ccs-hotspots-point-active:hover {
  background-color: #83838f
}

.ccs-hotspots-default .ccs-hotspots-point.ccs-hotspots-point-active:after,
.ccs-hotspots-default .ccs-hotspots-point.ccs-hotspots-point-active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

[max-width~="570px"] .ccs-hotspots-point {
  margin-top: 4px;
  margin-left: 4px
}

[max-width~="570px"] .ccs-hotspots-default .ccs-hotspots-point {
  width: 24px;
  height: 24px
}

[max-width~="570px"] .ccs-hotspots-default .ccs-hotspots-point:before {
  height: 12px;
  top: 5px;
  left: 10px
}

[max-width~="570px"] .ccs-hotspots-default .ccs-hotspots-point:after {
  width: 12px;
  top: 10px;
  left: 5px
}

[max-width~="570px"] .ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point {
  width: 22px;
  height: 22px
}

[max-width~="570px"] .ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point:after,
[max-width~="570px"] .ccs-hotspots:not(.ccs-hotspots-default) .ccs-hotspots-point:before {
  font-size: 24px
}

@font-face {
  font-family: ccs-hotspot-icon;
  src: url(./ccs-hotspot-icon.eot);
  src: url(./ccs-hotspot-icon.eot#iefix) format("embedded-opentype"), url(./ccs-hotspot-icon.woff2) format("woff2"), url(./ccs-hotspot-icon.woff) format("woff"), url(./ccs-hotspot-icon.ttf) format("truetype"), url(./ccs-hotspot-icon.svg#ccs-hotspot-icon) format("svg");
  font-weight: 400;
  font-style: normal
}

.ccs-hotspots-set1 .ccs-hotspots-point-textimage:before {
  content: '\e801'
}

.ccs-hotspots-set1 .ccs-hotspots-point-video:before {
  content: '\e802'
}

.ccs-hotspots-set1 .ccs-hotspots-point-text:before {
  content: '\e803'
}

.ccs-hotspots-set1 .ccs-hotspots-point-image:before {
  content: '\e804'
}

.ccs-hotspots-set1 .ccs-hotspots-point:after {
  content: '\e800'
}

.ccs-hotspots-target-set .ccs-hotspots-point:before {
  content: '\e806'
}

.ccs-hotspots-target-set .ccs-hotspots-point:after {
  content: '\e807'
}

.ccs-hotspots-tooltips {
  width: 100%
}

.ccs-hotspots-tooltip {
  max-width: 100%
}

.ccs-hotspots-tooltip:focus {
  outline: 0
}

.ccs-hotspots-tooltip .qtip-close {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  overflow: visible
}

.ccs-hotspots-tooltip .qtip-close span:before {
  content: url(./close.png)
}

.ccs-hotspots-tooltip .qtip-content {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 0 16px;
  line-height: 16px;
  max-height: 500px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.ccs-hotspots-tooltip .qtip-content * {
  max-width: 100%
}

.ccs-hotspots-tooltip .qtip-content>div {
  padding: 16px 0
}

.ccs-hotspots-tooltip .qtip-content>div>*+* {
  margin-top: .7em
}

.ccs-hotspots-tooltip .qtip-content img {
  display: block;
  margin: 0 auto
}

.ccs-hotspots-tooltip .qtip-content h4 {
  text-align: center;
  font-size: 1.2em
}

.ccs-hotspots-tooltip .qtip-content .ccs-hotspots-video {
  overflow: hidden;
  margin: 0 auto
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-video-only .qtip-content {
  padding: 0
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-video-only .ccs-hotspots-video {
  background: #000
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product a {
  text-decoration: none
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-price {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin: .5em 0
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-price.ccs-loading:before {
  content: url(./loading.gif)
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-price:not(.ccs-loading):empty {
  display: none
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-cart {
  text-align: center;
  margin-top: .5em
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-cart:not(.ccs-custom-cart) a {
  padding: .7em 1em;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  background-color: #f25529;
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s
}

.ccs-hotspots-tooltip.ccs-hotspots-tooltip-product .ccs-hotspots-product-cart:not(.ccs-custom-cart) a:hover {
  background-color: #ca350c
}

.ccs-hotspots-tooltip [data-logo-productlink] a,
.ccs-hotspots-tooltip [data-logo-productlink] a:hover {
  cursor: pointer
}

.ccs-hotspots-tooltip [data-logo-addtocart] {
  display: inline-block
}

.ccs-hotspots-tooltip-small .qtip-content {
  max-width: 300px
}

.ccs-hotspots-tooltip-small.ccs-hotspots-tooltip-video .qtip-content {
  width: 300px
}

.ccs-hotspots-tooltip-small.ccs-hotspots-tooltip-video .ccs-hotspots-video {
  height: 170px
}

.ccs-hotspots-tooltip-medium .qtip-content {
  max-width: 450px
}

.ccs-hotspots-tooltip-medium.ccs-hotspots-tooltip-video .qtip-content {
  width: 450px
}

.ccs-hotspots-tooltip-medium.ccs-hotspots-tooltip-video .qtip-content .ccs-hotspots-video {
  height: 254px
}

.ccs-hotspots-tooltip-large .qtip-content {
  max-width: 600px
}

.ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content {
  width: 600px
}

.ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content .ccs-hotspots-video {
  height: 338px
}

@media screen and (max-width:620px) {
  .ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content {
    width: 450px
  }

  .ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content .ccs-hotspots-video {
    height: 254px
  }
}

@media screen and (max-width:470px) {

  .ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content,
  .ccs-hotspots-tooltip-medium.ccs-hotspots-tooltip-video .qtip-content {
    width: 300px
  }

  .ccs-hotspots-tooltip-large.ccs-hotspots-tooltip-video .qtip-content .ccs-hotspots-video,
  .ccs-hotspots-tooltip-medium.ccs-hotspots-tooltip-video .qtip-content .ccs-hotspots-video {
    height: 170px
  }
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .qtip-content {
  max-width: none
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .ccs-hotspots-tooltip-video .qtip-content {
  width: initial;
  height: initial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .ccs-hotspots-video {
  height: 100%
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .qtip-close {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 8vmin;
  min-height: 8vmin;
  width: 44px;
  height: 44px;
  padding: 10px;
  cursor: pointer;
  color: #ccc;
  border: none;
  background-color: rgba(0, 0, 0, .5);
  z-index: 110000
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .qtip-close svg {
  display: block;
  overflow: visible;
  position: relative;
  shape-rendering: geometricPrecision
}

.ccs-hotspots-tooltips.ccs-hotspots-mobile .qtip-close svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3
}

.ccs-fancybox-container .ccs-cc-inline-poweredby-logo {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 1100;
  width: 100px;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  background: #fff;
  opacity: .9
}

.ccs-fancybox-container .ccs-cc-inline-poweredby-logo img {
  display: block;
  max-width: 100%;
  max-height: 100%
}

.ccs-fancybox-container .ccs-fancybox-slide--image .ccs-fancybox-content:after {
  content: "";
  display: block;
  background: #fff;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px
}

.ccs-fancybox-container .ccs-fancybox-image:focus {
  outline: 0
}

.ccs-fancybox-is-closing .ccs-cc-inline-poweredby-logo,
.ccs-fancybox-is-scaling .ccs-cc-inline-poweredby-logo,
.ccs-fancybox-is-zoomable.ccs-fancybox-can-drag .ccs-cc-inline-poweredby-logo {
  display: none
}

@media screen and (max-width:570px),
screen and (max-height:570px) {
  .ccs-cc-inline-poweredby-logo {
    display: none
  }
}

.ccs-fancybox-inline-content .ccs-fancybox-slide.ccs-fancybox-slide--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ccs-fancybox-inline-content .ccs-fancybox-slide--video:before {
  content: none
}

.ccs-fancybox-inline-content .ccs-fancybox-slide--video .ccs-fancybox-content,
.ccs-fancybox-inline-content .ccs-fancybox-slide--video .ccs-fancybox-content>* {
  max-width: 800px;
  max-height: 450px
}

.ccs-fancybox-inline-content .ccs-fancybox-thumbs li:before {
  border: 2px solid #333
}

html.mejs__fullscreen .ccs-fancybox-inline-content .ccs-fancybox-slide--video .ccs-fancybox-content,
html.mejs__fullscreen .ccs-fancybox-inline-content .ccs-fancybox-slide--video .ccs-fancybox-content>* {
  max-width: none;
  max-height: none
}

.ccs-slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.ccs-slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0
}

.ccs-slick-list:focus {
  outline: 0
}

.ccs-slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.ccs-slick-slider .ccs-slick-list,
.ccs-slick-slider .ccs-slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.ccs-slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.ccs-slick-track:after,
.ccs-slick-track:before {
  content: "";
  display: table
}

.ccs-slick-track:after {
  clear: both
}

.ccs-slick-loading .ccs-slick-track {
  visibility: hidden
}

.ccs-slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}

[dir=rtl] .ccs-slick-slide {
  float: right
}

.ccs-slick-slide img {
  display: block
}

.ccs-slick-slide.ccs-slick-loading img {
  display: none
}

.ccs-slick-slide.dragging img {
  pointer-events: none
}

.ccs-slick-initialized .ccs-slick-slide {
  display: block
}

.ccs-slick-loading .ccs-slick-slide {
  visibility: hidden
}

.ccs-slick-vertical .ccs-slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.ccs-slick-arrow.ccs-slick-hidden {
  display: none
}

.ccs-zoom-container .ccs-zoom-cursorshade {
  outline: 1px solid #000;
  background-color: rgba(255, 255, 255, .3)
}

.ccs-zoom-container .ccs-zoom-magnifier {
  outline: 1px solid #000;
  background-color: #fff
}

body.ccs-noscroll {
  overflow: hidden !important
}

body.ccs-body-fixed {
  overflow: hidden !important;
  position: fixed;
  height: 100%;
  width: 100%
}

.ccs-video-buy {
  cursor: default;
  line-height: 1.1
}

.ccs-video-buy.ccs-video-buy-visible .ccs-video-buy-overlay {
  display: block
}

.ccs-video-buy.ccs-video-buy-visible .ccs-video-buy-float {
  display: none
}

.ccs-video-buy .ccs-video-buy-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  display: none
}

.ccs-video-buy .ccs-video-buy-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.ccs-video-buy .ccs-video-buy-text {
  font-size: 1.3em;
  color: #fff
}

.ccs-video-buy .ccs-video-buy-button {
  display: block;
  text-align: center;
  font-size: 1.2em
}

.ccs-video-buy .ccs-video-buy-button,
.ccs-video-buy .ccs-video-buy-button:hover {
  color: #fff;
  text-decoration: none
}

.ccs-video-buy .ccs-video-buy-button-cart {
  padding: 20px;
  background-color: #228b22
}

.ccs-video-buy .ccs-video-buy-button-cart:hover {
  background-color: #1d771d
}

.ccs-video-buy .ccs-video-buy-button-close {
  position: absolute;
  width: 36px;
  height: 36px;
  top: -16px;
  right: -16px;
  background-image: url(./close.png)
}

.ccs-video-buy .ccs-video-buy-float {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  font-size: 1em
}

.ccs-video-buy .ccs-video-buy-float,
.ccs-video-buy .ccs-video-buy-float:hover {
  color: #fff;
  text-decoration: none
}

div>.ccs-cc-inline:not(:first-child) .ccs-cc-inline-intro {
  display: none
}

.ccs-cc-inline {
  direction: ltr
}

.ccs-cc-inline .ccs-fancybox-inline-content {
  direction: ltr
}
