@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

@layer base {
  :root {
    /* Theme RGB Values */
    --tw-color-primary-dark: 0 102 102;
    --tw-color-primary-light: 0 178 85;
    --tw-color-primary: 0 136 85;
    --tw-color-accent-dark: 54 54 125;
    --tw-color-accent-light: 3 90 140;
    --tw-color-accent: 30 58 138;
    --tw-color-light: 226 233 232;
    --tw-color-dark: 15 20 50;

    /* Fonts */
    --tw-font-content: 'Inter';
    --tw-font-mono: 'IBM Plex Mono';
    --tw-font-serif: 'IBM Plex Serif';
    --tw-font-title: 'Poppins';
    --tw-font-icon: 'Font Awesome 5 Pro';
    --tw-font-scale: clamp(12px, 16px, 20px);

    /* Forms */
    --tw-input-background: theme('colors.slate.100');
    --tw-input-border: theme('colors.zinc.300');
    --tw-input-border-width: 0.09375em;
    --tw-input-offset-size: 0.1875em;

    /* Buttons */
    --tw-btn-focus-scale: 0.95;
    --tw-btn-text-case: none;
    --tw-btn-animation: 0.25s;
    --tw-btn-border-width: 0;

    /* Tailwind */
    --tw-text-opacity: 0.8;
    --tw-ring-color: rgb(var(--color-primary-light));
    --tw-ring-offset-color: rgb(var(--color-primary-light));
    --tw-ring-offset-shadow: 0 0 rgb(var(--color-primary-light));
    --tw-ring-offset-width: 0.125em;
    --tw-ring-inset: null;
    --tw-ring-shadow: 0 0 rgb(var(--color-primary-light));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;

    @screen xl {
      --tw-scale-size: 18px;
    }

    @screen 2xl {
      --tw-scale-size: 20px;
    }
  }

  /*
  h1 {
    @apply font-display font-bold leading-4;
    @apply text-4xl;
    @apply mt-0 mb-3.5;
    --tw-text-opacity: 1;
  }
h2,
  h3 {
    @apply font-display font-semibold leading-snug;
    @apply text-3xl;
    @apply mt-8 mb-4;
    --tw-text-opacity: 1;
  }
  h4,
  h5,
  h6 {
    @apply font-display font-medium leading-relaxed;
    @apply text-xl;
    @apply mt-0 mb-3.5;
  } */

  code,
  kbd,
  pre,
  samp {
    @apply text-sm tabular-nums font-[450] subpixel-antialiased;
  }
}

@import '@@/assets/button.css';

@layer components {
  /* .scale {
    font-size: var(--font-scale);
    transform: scale(1);
  }

  .scale-down {
    transform: scale(0.95);
  }

  .scale-up {
    transform: scale(1.05);
  } */

  .text-display {
    font-family: var(--font-title);
  }

  .text-tag {
    @apply font-display font-semibold antialiased tracking-wider text-xs self-center uppercase;
  }

  /* Forms -- TODO Add to input plugin */
  .text-label {
    @apply my-2 flex self-baseline min-h-min gap-x-2 cursor-default leading-none;
    --tw-text-opacity: 0.6;
  }

  .form-checkbox + .text-label,
  .form-radio + .text-label {
    @apply mx-2;
  }

  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime-local"] {
    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
      opacity: 0.4;
    }
    &::-webkit-calendar-picker-indicator:hover {
      opacity: 0.9;
    }
  }


  [class*=fa-]::before,
  [class^=" fa-"]::before {
    @apply antialiased opacity-90 inline no-underline;
    --tw-text-opacity: 0.9;
    --tw-bg-opacity: 0;
  }
