<template>
<div class="mockup-code my-4">
  <pre><code v-highlight="code" class="html">{{ code }}</code></pre>
  <div class="absolute top-0 right-0 p-4">
    <button class="btn btn-square btn-ghost text-dark/30 hover:text-dark/70" v-clipboard:copy="code">
      <i class="text-lg far fa-copy"></i>
    </button>
  </div>
</div>
</template>

<script>
  export default {
    props: ["code"],
  };
</script>

<!-- style lang="postcss" scoped -->
<style lang="postcss">
.example {
  @apply flex items-center justify-center mt-4 rounded-2xl py-2;
}
.mockup {
  &-code {
    @apply relative overflow-hidden overflow-x-auto;
    @apply min-w-[20rem] py-5 pb-6 bg-zinc-800 rounded-2xl text-transparent;

    &::before {
      content: "";
      @apply mb-2 block h-3 w-3 rounded-full text-dark/10 opacity-20;
      box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
    }

    pre {
      @apply pr-5 -mt-4 -mb-2 px-5 font-mono;
    }

    pre[data-prefix] {
      &::before {
        content: attr(data-prefix);
        @apply inline-block text-right;
        @apply w-8 opacity-50;
      }
    }
  }

  .hljs,
  .html {
    @apply leading-relaxed text-sm overflow-x-hidden block;
  }
}
</style>
