<template>
<div class="code-group">
  <div class="code-tabs">
    <button class="code-tab" v-on:click="toggleTabs(1)" v-bind:class="{ closed: openTab !== 1, active: openTab === 1 }"> HTML </button>
    <button class="code-tab" v-on:click="toggleTabs(2)" v-bind:class="{ closed: openTab !== 2, active: openTab === 2 }" v-if="!!mkto"> Marketo </button>
  </div>
  <pre class="code-block" v-bind:class="{ hidden: openTab !== 1, open: openTab === 1 }">
      <code v-highlight class="html">{{ code }}</code>
      <app-button v-clipboard:copy="code" class="btn btn-square" aria-label="Html" data-tooltip="Copy"><i class="text-lg far fa-copy"></i></app-button>
    </pre>
  <pre class="code-block" v-bind:class="{ hidden: openTab !== 2, open: openTab === 2 }" v-if="mkto">
      <code v-highlight class="html">{{ mkto }}</code>
      <app-button v-clipboard:copy="mkto" class="btn btn-square" aria-label="Marketo" data-tooltip="Copy"><i class="text-lg far fa-copy"></i></app-button>
    </pre>
</div>
</template>

<script>
export default {
  props: ["code", "mkto"],
  data() {
    return {
      openTab: 1,
    };
  },
  methods: {
    toggleTabs: function (tabNumber) {
      this.openTab = tabNumber;
    },
  }
};
</script>
