<template>
<div class="my-10">
  <div class="flex flex-col justify-between md:items-center md:flex-row" v-if="name && code">
    <div class="flex items-center" v-if="name">
      <p class="text-tag text-accent-light">{{ name }}</p>
    </div>
    <div class="flex md:items-center space-x-4 text-dark/70" v-if="code">
      <app-button @click="rtl = !rtl" class="btn btn-square btn-ghost" :class="rtl ? 'btn-active' : ''" aria-label="rtl" data-tooltip="Align">
        <i v-if="!rtl" class="text-lg far fa-align-left"></i>
        <i v-if="rtl" class="text-lg far fa-align-right"></i>
      </app-button>
      <app-button @click="viewCode = !viewCode" class="btn btn-square btn-ghost" :class="viewCode ? 'btn-active' : ''" aria-label="View" data-tooltip="Snippet">
        <i class="text-lg far fa-code"></i>
      </app-button>
    </div>
  </div>
  <div class="example">
    <div class="text-dark/80 rounded-2xl">
      <div class="relative w-full" :dir="rtl ? 'rtl' : 'ltr'">
        <slot name="component" class="absolute top-0 left-0 w-full h-full"></slot>
      </div>
    </div>
  </div>
  <div v-if="viewCode" class="my-4">
    <code-block :code="code" :mkto="mkto"></code-block>
  </div>
</div>
</template>

<script>
import AppButton from "./AppButton"
import CodeBlock from "./CodeBlock"
export default {
  props: ["name", "code", "mkto"],
  components: {
    AppButton,
    CodeBlock,
  },
  data() {
    return {
      viewCode: false,
      rtl: false,
      copied: false,
    }
  },
}
</script>
