[v-cloak] {
  @apply hidden;
}

[data-tooltip] {
  &::before {
    @apply font-[450] font-mono text-[12px] text-center text-white whitespace-nowrap;
    @apply absolute bg-dark/80 flex h-6 items-center opacity-0 px-2 rounded w-fit;
    @apply content-[attr(data-tooltip)];
    @apply -translate-y-0 scale-75 z-50;
    @apply bg-dark/80 text-light;
  }

  &:hover {
    &::before {
      @apply ease-out opacity-100 transition-all;
      @apply -translate-y-10 delay-75 scale-100;
    }
  }
}

.hljs {
  @apply bg-transparent text-light !important;

  &-addition,
  &-attribute,
  &-bullet,
  &-code,
  &-deletion,
  &-quote,
  &-regexp,
  &-selector-attr,
  &-selector-class,
  &-selector-pseudo,
  &-string,
  &-symbol,
  &-template-tag {
    @apply text-green-400;
  }

  &-built_in,
  &-keyword,
  &-section,
  &-selector-tag {
    @apply text-amber-500;
  }

  &-attr {
    @apply text-lime-300 italic;
  }

  &-name {
    @apply text-cyan-300;
  }

  &-tag {
    @apply text-zinc-400;
  }

  &-comment {
    @apply text-purple-500;
  }
}

.code {
  &-group {
    @apply mt-4 rounded-2xl w-full bg-zinc-900 flex flex-col overflow-hidden;
  }

  &-tabs {
    @apply flex font-mono font-[450] gap-3 h-12 px-4 text-sm bg-zinc-800 rounded-t-2xl mb-1 z-10;
  }

  &-tab {
    @apply border-b-[3px] border-transparent flex h-12 items-center px-6 text-zinc-400 pt-1;

    &.active {
      @apply border-b-[3px] border-emerald-600/90 text-green-100 font-semibold antialiased;
    }
  }

  &-block {
    @apply relative w-full mb-3 min-h-[72px] z-0 px-4;

    code.hljs {
      @apply -mt-8 py-0 text-lime-100 float-left overflow-hidden overflow-x-auto px-[1.2em] w-full rounded-b-2xl bg-transparent;

      > span {
        @apply opacity-90;
      }
    }

    button {
      @apply absolute bg-zinc-900 font-bold font-mono m-2 right-1 text-zinc-400 top-2 z-auto;

      &:hover {
        @apply bg-zinc-700 text-zinc-400;
      }

      &[data-tooltip] {
        &::before {
          @apply hidden;
        }

        &::after {
          @apply font-[450] font-mono text-xs whitespace-nowrap;
          @apply absolute flex h-6 items-center opacity-0 px-2 rounded w-fit;
          @apply content-[attr(data-tooltip)] -translate-x-0 scale-75;
          @apply text-dark bg-light/80 !important;
        }

        &:hover {
          &::after {
            @apply ease-out opacity-100 transition-all;
            @apply -translate-x-14 delay-75 scale-100;
          }
        }
      }
    }
  }
}

.example {
  .auto-columns {
    @apply flex flex-auto gap-6 flex-col my-4;

    @screen lg {
      @apply flex-row;
    }
  }

  .auto-rows {
    @apply flex flex-auto flex-col gap-6 my-4;
  }

  &.dark {
    .auto-columns,
    .auto-rows {
      @apply p-4;
    }
  }

  p > code {
    @apply bg-slate-200 rounded text-purple-700 text-xs p-1 inline-flex;
  }

  pre {
    @apply bg-zinc-900 rounded-xl px-3 pb-1 relative;

    &[data-filename] {
      &::after {
        @apply font-[450] font-mono text-sm whitespace-nowrap;
        @apply absolute flex h-6 items-center w-fit;
        @apply content-[attr(data-filename)] top-3 right-4;
        @apply text-light opacity-90;
      }
    }

    > code {
      @apply -my-3 block overflow-hidden overflow-x-auto p-0;
    }
  }
}

.title-tag {
  @apply text-gray-400 uppercase leading-normal;
}
