@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer components {
  /* --- Base Button  --- */
  .btn {
    @apply cursor-pointer select-none transition duration-200 ease-in-out;
    @apply inline-flex flex-shrink-0 flex-wrap items-center justify-center;
    @apply text-center font-semibold leading-4 text-base;
    @apply rounded-lg border-transparent bg-clip-padding;
    @apply h-12 w-fit px-8 min-h-[3rem];

    border-width: var(--tw-btn-border-width, 0);
    animation: touch var(--tw-btn-animation, 0.25s) ease-out;
    text-transform: var(--tw-btn-case, none);

    &:active:focus,
    &:active:hover {
      transform: scale(var(--tw-btn-focus-scale, 0.95));
    }

    &:focus-visible {
      outline: 2px solid currentColor;
    }

    /* --- Plain Unstyled  --- */
    & {
      @apply bg-light text-primary-dark;

      &-active,
      &:hover {
        @apply bg-light text-primary-dark;
      }
    }

    /* --- Brand Colors --- */
    &-primary {
      @apply border-primary bg-primary text-white;

      &.btn-active,
      &:hover {
        @apply bg-primary-dark text-gray-200;
      }
    }

    &-default {
      @apply border-zinc-600 bg-zinc-600 text-white;

      &.btn-active,
      &:hover {
        @apply bg-zinc-700 text-gray-200;
      }
    }

    &-accent {
      @apply border-accent bg-accent text-white;

      &.btn-active,
      &:hover {
        @apply text-gray-200 bg-accent-dark;
      }
    }

    /* --- Semantic Colors --- */
    &-info {
      @apply border-cyan-500 bg-cyan-500 text-white;

      &.btn-active,
      &:hover {
        @apply border-cyan-600 bg-cyan-600 text-gray-200;
      }
    }

    &-success {
      @apply border-green-500 bg-green-500 text-white;

      &.btn-active,
      &:hover {
        @apply border-green-600 bg-green-600 text-gray-200;
      }
    }

    &-warning {
      @apply border-orange-600 bg-orange-600 text-white;

      &.btn-active,
      &:hover {
        @apply border-orange-700 bg-orange-700 text-gray-200;
      }
    }

    &-danger {
      @apply border-red-600 bg-red-600 text-white text-gray-200;

      &.btn-active,
      &:hover {
        @apply border-red-700 bg-red-700;
      }
    }

    /* --- Glass Effect ---
    &.glass {
      &,
      &.btn-active,
      &:hover {
        border: none;
        backdrop-filter: blur(var(--tw-glass-blur, 40px));
        background-color: transparent;
        background-image: linear-gradient(135deg, rgb(255 255 255 / var(--tw-glass-opacity, 30%)) 0%, rgb(0 0 0 / 0%) 100%), linear-gradient(var(--tw-glass-reflex-degree, 100deg), rgb(255 255 255 / var(--tw-glass-reflex-opacity, 10%)) 25%, rgb(0 0 0 / 0%) 25%);
        box-shadow: 0 0 0 1px rgb(255 255 255 / var(--tw-glass-border-opacity, 10%)) inset, 0 0 0 2px rgb(0 0 0 / 5%);
        text-shadow: 0 1px rgb(0 0 0 / var(--tw-glass-text-shadow-opacity, 5%));
      }

      &.btn-active,
      &:hover {
        --tw-glass-opacity: 25%;
        --tw-glass-border-opacity: 15%;
      }
    } */

    /* --- Subtle Buttons --- */
    &-ghost {
      @apply border border-transparent bg-transparent text-current font-normal;

      &.btn-active,
      &:hover {
        @apply border-opacity-0 bg-zinc-300 text-gray-700;
      }
    }

    &-link {
      /* @apply text-primary decoration-primary/60 font-medium border-transparent bg-transparent underline-offset-1 decoration-[0.125em]; */
      @apply text-link bg-white;

      &.btn-active,
      &:active,
      &:hover {
        @apply bg-inherit;
      }
    }

    /* --- Outline Button --- */
    &-outline {
      --tw-btn-border-width: 0.125em;

      @apply border-current bg-transparent text-current;

      &:hover {
        @apply border-inherit bg-transparent text-inherit;
      }

      &.btn-primary {
        @apply border-primary/60 text-primary;

        &:hover {
          @apply border-primary-dark/80 text-primary-dark;
        }
      }

      &.btn-default {
        @apply border-zinc-600/60 text-zinc-600;

        &:hover {
          @apply border-zinc-700 text-zinc-700;
        }
      }

      &.btn-accent {
        @apply border-accent/60 text-accent;

        &:hover {
          @apply border-accent-dark text-accent-dark;
        }
      }

      &.btn-success {
        @apply border-green-600/60 text-green-600;

        &:hover {
          @apply border-green-700 text-green-700;
        }
      }

      &.btn-info {
        @apply border-cyan-600/60 text-cyan-600;

        &:hover {
          @apply border-cyan-700 text-cyan-700;
        }
      }

      &.btn-warning {
        @apply border-orange-600/60 text-orange-600;

        &:hover {
          @apply border-orange-700 text-orange-700;
        }
      }

      &.btn-danger {
        @apply border-red-600/60 text-red-600;

        &:hover {
          @apply border-red-700 text-red-700;
        }
      }
    }

    /* --- Alternate Shapes --- */
    &-square {
      @apply h-12 w-12 p-0;

      &:where(.btn-xs) {
        @apply h-6 w-6 p-0;
      }

      &:where(.btn-sm) {
        @apply h-8 w-8 p-0;
      }

      &:where(.btn-md) {
        @apply h-12 w-12 p-0;
      }

      &:where(.btn-lg) {
        @apply h-16 w-16 p-0;
      }

      [class*='fa-']::before,
      [class^=' fa-']::before {
        --tw-text-opacity: 1;
      }
    }

    &-circle {
      @apply h-12 w-12 rounded-full p-0;

      &:where(.btn-xs) {
        @apply h-6 w-6 rounded-full p-0;
      }

      &:where(.btn-sm) {
        @apply h-8 w-8 rounded-full p-0;
      }

      &:where(.btn-md) {
        @apply h-12 w-12 rounded-full p-0;
      }

      &:where(.btn-lg) {
        @apply h-16 w-16 rounded-full p-0;
      }

      [class*='fa-']::before,
      [class^=' fa-']::before {
        --tw-text-opacity: 1;
      }
    }

    /* --- State Styles --- */
    &-active {
      @apply cursor-auto;

      --tw-btn-focus-scale: 1;
      --tw-btn-animation: 0;

      &:focus,
      &:hover {
        animation: none;
      }
    }

    &-disabled,
    &[disabled] {
      @apply border-opacity-0 bg-light bg-opacity-20 text-gray-800 text-opacity-20;
      @apply pointer-events-none;
    }

    &.loading {
      &,
      &:hover {
        @apply pointer-events-none;
      }

      &::before {
        @apply content-[""] mr-2 h-4 w-4 rounded-full border-2 animate-spin border-t-transparent border-l-transparent border-b-current border-r-current;
      }

      &.btn-circle::before,
      &.btn-square::before {
        @apply mr-0;
      }

      &.btn-lg::before,
      &.btn-xl::before {
        @apply h-5 w-5;
      }

      &.btn-sm::before,
      &.btn-xs::before {
        @apply h-3 w-3;
      }
    }

    /* --- Button Sizes --- */
    &-xs {
      @apply h-6 px-3 min-h-[1.5rem] rounded tracking-wide font-normal rounded text-[0.75rem];
    }

    &-sm {
      @apply h-8 px-4 min-h-[2rem] font-medium rounded-md tracking-normal rounded-md text-[0.875rem];
    }

    &-md {
      @apply h-12 min-h-[3rem] rounded-lg font-semibold font-display tracking-wide antialiased text-base;
    }

    &-lg {
      @apply h-16 px-12 min-h-[4rem] text-xl rounded-xl px-8 tracking-wide tracking-wide font-display font-semibold rounded-2xl antialiased;
    }
  }

  /* --- Button Group --- */
  .btn-group {
    @apply flex flex-wrap;

    & > input[type="radio"].btn {
      @apply appearance-none w-fit px-4 flex border-0 rounded-none;
    }

    & > input[type="radio"].btn::before {
      content: attr(data-title);
    }

    & > input[type="radio"]:checked.btn,
    & > .btn-active {
      @apply border-primary bg-primary text-white;
    }

    & > .btn:not(:first-child) {
      @apply -ml-px rounded-l-none;
    }

    & > .btn:not(:last-child) {
      @apply rounded-r-none;
    }
  }

  /* --- Button Animations --- */
  @keyframes touch {
    0% {
      transform: scale(var(--tw-btn-focus-scale, 0.95));
    }

    40% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .btn.loading::before {
      animation: spin 10s linear infinite;
    }
  }
}
