/** TODO: Apply plugin BASE styles to mkto classes **/

[id*=mktoForm_],
[id^=mktoForm_] {
  font-size: var(--tw-font-scale, 1em);
  color: rgb(var(--tw-color-dark) / var(--tw-text-opacity));
  line-height: theme('lineHeight.relaxed');
  font-family: var(--tw-font-content);

  &:root {
    @screen sm {
      --font-scale: 1rem;
    }

    @screen lg {
      --font-scale: 1.125rem;
    }
  }

  &.mktoForm {
    @apply grid font-sans mb-2;
    @apply w-auto !important;

    @screen sm {
      @apply gap-2;
    }

    .mktoClear,
    .mktoGutter,
    .mktoOffset,
    .mktoPlaceholder {
      @apply hidden;
    }

    a {
      @apply text-link !important;
      @apply antialiased inline;
    }

    span {
      color: unset !important;
    }

    .mktoFormRow {
      @apply grid m-0;

      @screen sm {
        @apply grid-flow-col auto-cols-fr gap-4;
      }
    }

    .mktoFormCol {
      @apply my-2 flex;

      @screen sm {
        @apply m-0;
      }
    }

    .mktoLabel {
      @apply text-sm flex whitespace-nowrap my-1 flex items-center min-h-min gap-x-1 cursor-default opacity-80;

      /* @apply font-[450] !important; */
    }

    .mktoField {
      @apply min-w-full form-input !important;

      font-size: var(--tw-scale-size, 100%);

      @screen sm {
        --tw-scale-size: 14px;
      }

      @screen lg {
        --tw-scale-size: 16px;
      }
    }

    .mktoFieldWrap {
      @apply relative leading-normal w-full;
    }

    .mktoCheckboxList {
      @apply w-auto flow-root max-w-fit mb-4 w-auto;

      @screen md {
        @apply mb-2;
      }

      @screen lg {
        @apply mb-0;
      }

      &::after {
        @apply table clear-both h-14;

        content: '';

        @screen sm {
          @apply h-4;
        }

        @screen xl {
          @apply hidden;
        }
      }

      input[type="checkbox"] {
        @apply w-6 h-6 min-w-fit float-left p-0;
        @apply form-checkbox !important;
      }

      label {
        @apply float-left pl-2 w-auto flow-root min-w-fit;
      }
    }

    [for="mktoOptIn"] {
      @apply text-xs whitespace-normal absolute;

      .mktoAsterix {
        @apply float-left pr-1;
      }

      &.mktoLabel {
        @apply min-w-fit flow-root my-0 ml-9 mb-2 -mt-[0.125em];
        @apply w-auto !important;
      }
    }

    .mktoHtmlText {
      @apply inline text-inherit font-normal text-xs min-w-fit opacity-80;
    }

    .mktoButtonRow {
      @apply my-2;

      @screen sm {
        @apply m-0;
      }

      > .mktoButtonWrap {
        @apply m-0 !important;
      }
    }

    .mktoButton {
      /* @apply btn btn-md btn-primary; -- TODO move classes to plugin so this will work */
      --tw-btn-case: uppercase;

      @apply inline-flex flex-shrink-0 flex-wrap items-center justify-center font-display;
      @apply cursor-pointer select-none transition duration-200 ease-in-out;
      @apply text-center font-semibold leading-4 text-white;
      @apply rounded-lg border-none bg-primary;
      @apply h-12 px-8 min-h-[3rem];

      font-size: var(--tw-font-scale, 16px);
      border-width: var(--tw-btn-border-width, 0);
      animation: button-pop var(--tw-btn-animation, 0.25s) ease-out;
      text-transform: var(--tw-btn-case, none);

      &:active:focus,
      &:active:hover {
        @apply bg-primary-dark text-gray-200;

        transform: scale(var(--tw-btn-focus-scale, 0.95));
      }

      @screen sm {
        --tw-scale-size: 16px;
      }

      @screen lg {
        --tw-scale-size: 18px;
      }
    }

    .mktoAsterix {
      @apply font-light antialiased;

      font-size: small;
    }

    .mktoError {
      @apply bottom-0 left-0 w-fit;

      .mktoErrorMsg {
        @apply font-medium text-xs font-sans bg-none border-0 rounded p-[0.4rem_0.6rem] shadow-none;
      }

      .mktoErrorArrow {
        @apply border-0;
      }
    }
  }
}
