<template>
<component class="btn" :class="[
			{ 'btn-primary': primary },
			{ 'btn-secondary': secondary },
			{ 'btn-accent': accent },
			{ 'btn-ghost': ghost },
			{ 'btn-link': link },
			{ 'btn-xs': tiny },
			{ 'btn-sm': small },
			{ 'btn-lg': large },
		]" :is="to ? 'nuxt-link' : href ? 'a' : 'button'" :to="to" :href="href" @click="$emit('click')">
  <slot></slot>
</component>
</template>

<script>
  export default {
    props: {
      to: {
        type: String,
        default: null,
      },
      href: {
        type: String,
        default: null,
      },
      color: {
        type: String,
        default: 'null',
      },
      size: {
        type: String,
        default: 'null',
      },
    },
    computed: {
      primary() {
        return this.color === "primary";
      },
      secondary() {
        return this.color === "secondary";
      },
      accent() {
        return this.color === "accent";
      },
      ghost() {
        return this.color === "ghost";
      },
      link() {
        return this.color === "link";
      },
      small() {
        return this.size === "small";
      },
      tiny() {
        return this.size === "tiny";
      },
      large() {
        return this.size === "large";
      },
    },
  };
</script>
