<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div class="flex justify-center items-center py-8 px-3" slot="component">
    <div class="overflow-hidden p-1.5 w-full bg-white rounded-lg border sm:w-auto dark:bg-gray-800 dark:border-gray-700">
      <div class="flex gap-3 p-1">
        <button class="w-full btn btn-brand">Upload</button>
        <button class="w-full btn btn-brand">Drift</button>
        <button class="w-full btn btn-brand">View</button>
      </div>
    </div>
  </div>
</view-component>
</template>

<script>
export default {
  data() {
    return {
      name: "Group",
      title: "Group",
      code: `
        <div class="overflow-hidden p-1.5 w-full bg-white rounded-lg border sm:w-auto dark:bg-gray-800 dark:border-gray-700">
            <div class="space-y-2 sm:flex sm:-mx-1 sm:space-y-0">
                <button class="py-1 px-4 w-full text-white rounded-md transition-colors duration-200 transform sm:mx-1 sm:w-auto focus:ring focus:ring-opacity-40 focus:outline-none bg-primary hover:bg-primary focus:bg-primary focus:ring-primary-light">
                    Upload
                </button>

                <button class="py-1 px-4 w-full text-white rounded-md transition-colors duration-200 transform sm:mx-1 sm:w-auto focus:ring focus:ring-opacity-40 focus:outline-none bg-primary hover:bg-primary focus:bg-primary focus:ring-primary-light">
                    Drift
                </button>

                <button class="py-1 px-4 w-full text-white rounded-md transition-colors duration-200 transform sm:mx-1 sm:w-auto focus:ring focus:ring-opacity-40 focus:outline-none bg-primary hover:bg-primary focus:bg-primary focus:ring-primary-light">
                    View
                </button>
            </div>
        </div>`,
      mkto: null,
    };
  },
};
</script>
