<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component" x-data="{ dropdownOpen: false }" @click.outside="dropdownOpen = false" class="inline-block relative mb-8">
    <button @click="showing = !showing" class="flex items-center py-3 px-5 text-base font-semibold text-white rounded bg-primary">
      Dropdown Button
      <span class="pl-2">
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
      </span>
    </button>
    <transition name="fadeMe">
      <div v-if="showing" class="absolute left-0 top-full visible z-40 py-5 mt-2 w-full bg-white rounded opacity-100 transition-all border-[.5px] border-light shadow-card">
        <a href="javascript:void(0)" class="block py-2 px-5 text-base font-semibold hover:bg-opacity-5 text-body-color hover:bg-primary hover:text-primary"> Dashboard </a>
        <a href="javascript:void(0)" class="block py-2 px-5 text-base font-semibold hover:bg-opacity-5 text-body-color hover:bg-primary hover:text-primary"> Settings </a>
        <a href="javascript:void(0)" class="block py-2 px-5 text-base font-semibold hover:bg-opacity-5 text-body-color hover:bg-primary hover:text-primary"> Earnings </a>
        <a href="javascript:void(0)" class="block py-2 px-5 text-base font-semibold hover:bg-opacity-5 text-body-color hover:bg-primary hover:text-primary"> Logout </a>
      </div>
    </transition>
  </div>
</view-component>
</template>

<style scoped>
.fadeMe-enter {
  opacity: 0;
}

.fadeMe-enter-active {
  transition: opacity 1s;
}

.fadeMe-leave {
  /*opacity: 1; no need to set it as it is default  */
}

.fadeMe-leave-active {
  transition: opacity 1s;
  opacity: 0;
}
</style>

<script>
export default {
  data() {
    return {
      name: "With Menu",
      showing: false,
      code: ``,
      mkto: null,
    };
  },
};
</script>
