<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div class="auto-columns" slot="component">
    <div><button class="btn">Button</button></div>
    <div><button class="btn btn-primary">Primary</button></div>
    <div><button class="btn btn-default">Default</button></div>
    <div><button class="btn btn-accent">Accent</button></div>
    <div><button class="btn btn-ghost">Ghost</button></div>
    <div><button class="btn btn-link">Link</button></div>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'ButtonColors',
  data() {
    return {
      name: 'Colors',
      tabs: 1,
      code: `
<button class="btn">Button</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-default">Default</button>
<button class="btn btn-accent">Accent</button>
<button class="btn btn-ghost">Ghost</button>
<button class="btn btn-link">Link</button>
`,
      mkto: null,
    }
  }
}
</script>
