<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div class="auto-columns" slot="component">
    <div><button class="gap-2 btn">Arrow <i class="text-lg far fa-long-arrow-alt-right"></i></button></div>
    <div><button class="gap-2 btn">Chevron <i class="fas fa-chevron-right"></i></button></div>
    <div><button class="gap-2 btn"><i class="fas fa-search"></i> Seach</button></div>
    <div><button class="gap-2 btn"><i class="fas fa-external-link-alt"></i> External</button></div>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'ButtonIcons',
  data() {
    return {
      name: 'With Icon',
      tabs: 1,
      code: `
<button class="gap-2 btn">Arrow <i class="text-lg far fa-long-arrow-alt-right"></i></button>
<button class="gap-2 btn">Chevron <i class="fas fa-chevron-right"></i></button>
<button class="gap-2 btn"><i class="fas fa-search"></i> Seach</button>
<button class="gap-2 btn"><i class="fas fa-external-link-alt"></i> External</button>
`,
      mkto: null,
    }
  }
}
</script>
