<template lang="html">
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component" class="auto-columns">
    <p>Use <code class="html">.btn</code> class to style button objects. The most common elements to use are <code class="html">&lt;input type=&quot;button&quot;&gt;</code>, <code class="html">&lt;button&gt;</code>, and <code class="html">&lt;a&gt;</code></p>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'InputExample',
  data() {
    return {
      name: null,
      code: null,
      mkto: null,
    }
  },
}
</script>
