<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div class="auto-columns" slot="component">
    <div><button class="btn btn-primary btn-xs">Tiny</button></div>
    <div><button class="btn btn-primary btn-sm">Small</button></div>
    <div><button class="btn btn-primary">Regular</button></div>
    <div><button class="btn btn-primary btn-md">Medium</button></div>
    <div><button class="btn btn-primary btn-lg">Large</button></div>
  </div>
  <div class="auto-columns" slot="component">
    <div><button class="rounded-full btn btn-primary btn-xs">Tiny</button></div>
    <div><button class="rounded-full btn btn-primary btn-sm">Small</button></div>
    <div><button class="rounded-full btn btn-primary">Regular</button></div>
    <div><button class="rounded-full btn btn-primary btn-md">Medium</button></div>
    <div><button class="rounded-full btn btn-primary btn-lg">Large</button></div>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'ButtonSizes',
  data() {
    return {
      name: "Sizes",
      tabs: 1,
      code: `
<button class="btn btn-primary btn-xs">Tiny</button>
<button class="btn btn-primary btn-sm">Small</button>
<button class="btn btn-primary">Regular</button>
<button class="btn btn-primary btn-md">Medium</button>
<button class="btn btn-primary btn-lg">Large</button>

<button class="rounded-full btn btn-primary btn-xs">Tiny</button>
<button class="rounded-full btn btn-primary btn-sm">Small</button>
<button class="rounded-full btn btn-primary">Regular</button>
<button class="rounded-full btn btn-primary btn-md">Medium</button>
<button class="rounded-full btn btn-primary btn-lg">Large</button>
`,
      mkto: null,
    };
  },
};
</script>
