<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div class="auto-columns" slot="component">
    <div><button class="btn btn-square"><i class="text-lg far fa-times"></i></button></div>
    <div><button class="btn btn-square btn-outline btn-primary"><i class="text-lg far fa-times"></i></button></div>
    <div><button class="btn btn-circle"><i class="text-lg far fa-times"></i></button></div>
    <div><button class="btn btn-circle btn-outline btn-primary"><i class="text-lg far fa-times"></i></button></div>
    <div><button class="btn loading">Loading</button></div>
  </div>
  <div class="auto-columns" slot="component">
    <div><button class="btn btn-md btn-primary w-64">Wide</button></div>
    <div class="w-full"><button class="btn btn-md btn-primary w-full">Block</button></div>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'ButtonStyles',
  data() {
    return {
      name: 'Styles',
      tabs: 1,
      code: `
<button class="btn btn-square"><i class="text-lg far fa-times"></i></button>
<button class="btn btn-square btn-outline"><i class="text-lg far fa-times"></i></button>
<button class="btn btn-circle"><i class="text-lg far fa-times"></i></button>
<button class="btn btn-circle btn-outline"><i class="text-lg far fa-times"></i></button>
<button class="btn loading">Loading</button>
<button class="btn btn-md btn-primary w-64">Wide</button>
<button class="btn btn-md btn-primary w-full">Block</button>
`,
      mkto: null,
    }
  }
}
</script>
