
<template>
  <div class="code-group">
    <div class="code-tabs">
      <button class="code-tab" v-on:click="toggleTabs(1)" v-bind:class="{ closed: openTab !== 1, active: openTab === 1 }"> HTML </button>
      <button class="code-tab" v-on:click="toggleTabs(2)" v-bind:class="{ closed: openTab !== 2, active: openTab === 2 }"> Marketo </button>
    </div>
    <pre class="code-block" v-bind:class="{ hidden: openTab !== 1, open: openTab === 1 }">
      <code v-html v-highlight class="javascript">{{ code }}</code>
      <app-button v-clipboard:copy="code" class="btn btn-square btn-ghost" aria-label="Copy Code"><i class="text-lg far fa-copy"></i></app-button>
    </pre>
    <pre class="code-block" v-bind:class="{ hidden: openTab !== 2, open: openTab === 2 }">
      <code v-html v-highlight class="javascript">{{ mkto }}</code>
      <app-button v-clipboard:copy="mkto" class="btn btn-square btn-ghost" aria-label="Copy Code"><i class="text-lg far fa-copy"></i></app-button>
    </pre>
  </div>
</template>

<style lang="postcss" scoped>
  [class^="language-"], [class*="language-"] {
    @apply bg-transparent !important;
  }
  .code {
    &-group {
      @apply mt-4 rounded-2xl py-2 w-full bg-zinc-900;
    }
    &-tabs {
      @apply border-b-2 border-zinc-600 flex font-mono gap-3 h-12 px-4 text-sm;
    }
    &-tab {
      @apply -mb-[2px] flex h-12 items-center px-6 text-zinc-500;
      &.active {
        @apply border-b-2 border-primary-light font-medium text-zinc-300;
      }
    }
    &-block {
      @apply flex items-center min-h-[56px] px-1 relative text-zinc-800 w-full;
      code {
        @apply bg-transparent bg-zinc-800 mt-1 overflow-hidden overflow-x-auto rounded-2xl text-zinc-400;
      }
      button {
        @apply absolute font-bold font-mono hover:bg-zinc-700 hover:text-zinc-400 px-4 py-3 right-2 text-zinc-400 top-2;
        [class^="fa-"], [class*="fa-"] {
          @apply -mt-[.1em];
        }
      }
    }
  }
</style>

<script>
export default {
  name: 'DocTest',
  data() {
    return {
      name: "Styles",
      code: `<button class="btn btn-square"><i class="text-lg far fa-times"></i> HTML</button>`,
      mkto: `<button class="btn btn-primary btn-block">Marketo</button>`,
      openTab: 1
    };
  },
  methods: {
    toggleTabs: function (tabNumber) {
      this.openTab = tabNumber;
    },
  }
};
</script>
