
<template>
<section class="wp-block-ws-section main-hero-banner custom-half-background-size">
	<div class="block-background">
		<div class="block-background-media" style="background-image: url('https://1worldsync.com/wp-content/themes/_ws/assets/block-hero.svg');"></div>
	</div>
	<!-- Hero Start -->




	<!-- Hero End -->
</section>
</view-component>
</template>

<style>
.wp-block-ws-page-title {
  @apply text-[48px];
  strong {
    @apply font-bold !important
  }
}
.section-container {
  margin: 0 2em;
}
</style>

<script>
export default {
  name: 'Hero',
  layout: "website",
  data() {
    return {}
	}
}
</script>
