	/* Header */
	header {z-index:100; box-shadow:0px 20px 25px rgba(0,0,0,.15);}
	header {position:fixed; width:100%; top:0;}

	/* Body */
	body {background-color:#ffffff; font-family:Danzza; transition: all .2s ease-in-out;}
	body a {color:#008855;}

	.bg-primary {background-color:#002838!important;}
	.hero-spacer {padding-left:2rem; padding-right:2rem; padding-top:4rem; padding-bottom:4em;}
	.main {margin-top:100px; padding-top:5rem; padding-bottom:4em;}

	/* Cards */
	#wrapper .card {text-decoration: none; background-color:white; transition: all .2s ease-in-out; color:#002838}
	#wrapper a.card:hover, #wrapper a.card:active {text-decoration: none; transform:scale(1.02)translatey(-10px); color:#fff;}
	#wrapper .card.hero-spacer {padding-left:2rem; padding-right:2rem; padding-top:rem; padding-bottom:6rem;}
	#wrapper .menu-item .card {display: flex; align-items: center; justify-content: center;}
	#wrapper .menu-item.col-4 .card {height:442px!important;}
	#wrapper .menu-item.col-3 .card {height:336px!important;}

	/* Button */
	.btn.btn-primary {background-color:#008855; color:white; border:1px solid #002838;}
	.btn.btn-primary:hover, .btn.btn-primary:active  {background-color:#002838; color:#FFFFFF; border:1px solid #002838;}

#wrapper .modal.modal-lg .modal-overlay {background-color: rgba(0,0,0,.8);}
#wrapper .modal-header .btn {background: #312c32; width: 3rem; height: 3rem; border-radius: 100%; margin-top: -30px; margin-right: -50px; line-height: 56px; color: #fff; font-size: 25px;}
#wrapper .modal-header .btn.btn-clear:focus,  #wrapper .modal-header .btn.btn-clear:hover {opacity:1; background:#008855; color:white;}

.noscroll {position:fixed; overflow:hidden;}

body.noscroll {overflow:hidden; position;fixed;}

a:visited {color: #008855;}

.pdfobject-container {
    max-width: 100%;
	height:740px;
	width:1600px;
	margin: 0;
}

/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.snap-dropdown {z-index:10;}
.snap-dropdown .btn, .snap-download {border-radius: 200px!important;
    height: 65px!important;
    line-height: 25px!important;
    padding: 20px!important;
    width: 240px!important;
    background: white!important;
    color: #008855!important;
    border: 1px solid #008855!important;}
.snap-dropdown .menu {
	background-color: #002838!important;
    color: #008855!important;
    border: 1px solid!important;
    width: 240px!important;
    top: 30px!important;
    padding-top: 50px!important;
    z-index: -1!important;
        border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-bottom: 20px;
    }

    .snap-download.btn {box-shadow:0px 0px 10px rgba(0,0,0,.3); position:fixed; right:30px; bottom:30px;}
    .snap-download:hover, .snap-download:active {background:#008855!important; color: white!important; box-shadow:0px 0px 6px rgba(0,0,0,.135);}

	.snap-dropdown .menu .menu-item>a, .snap-dropdown .menu .menu-item>a {padding: 12px;}
    .snap-dropdown .menu .menu-item>a:focus, .snap-dropdown .menu .menu-item>a:hover {background: #008855; color: white;}
