@media (min-width: 719px) {
  .split {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: -0.5rem auto;

    > :nth-child(1),
    > :nth-child(2) {
      flex: 0.1 1 auto;
    }
  }
}

.preview {
  margin: 0.5rem auto;
  background: rgba(#d9ecff,.32) url('/images/graph-paper.svg') top left;
  padding: .75rem .5rem;
  position: relative;
  .canvas {
    background: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid var(--c-border-dark) !important;
    margin: auto;
    display: flex;
    width: calc(100% - 1rem);
    min-height: 72px;
  }
  .download-code {
    border-width: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    background: var(--neutral-200);
    color: var(--neutral-500);
    outline: none;
    &:hover {
      background: var(--neutral-200);
      color: var(--c-brand);
    }
    &-link {
      position: absolute;
      right: -14px;
      bottom: -14px;
      z-index: 5;
      svg {
        height: 16px;
        width: 100%;
      }
    }
  }
}

.canvas-128 { height: 128px }
.canvas-72 { height: 72px }

@media (min-width: 592px) {
  .canvas {
    height: 72px;
  }
}
