:root {
  --font-family: "Inter var", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: "RecVar", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // brand colors
  --c-brand: #008A5E;
  --c-brand-light: #008A5E;
  --c-brand-action: #232F84;

  // background colors
  --c-bg: var(--hue-white);
  --c-bg-light: var(--neutral-100);
  --c-bg-lighter: var(--neutral-200);
  --c-bg-arrow: var(--neutral-500);

  // text colors
  --c-text: var(--neutral-800);
  --c-text-accent: var(--c-brand);
  --c-text-light: var(--neutral-700);
  --c-text-lighter: var(--neutral-600);
  --c-text-lightest: var(--neutral-400);
  --c-text-quote: var(--neutral-500);

  // border colors
  --c-border: var(--c-bg-lighter);
  --c-border-dark: var(--neutral-300);

  // custom container colors
  --c-tip: var(--c-brand-light);
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text-accent);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #cfb017;
  --c-warning-bg: #f6f5ef;
  --c-warning-title: #826c2b;
  --c-warning-text: #7a5c1f;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: var(--neutral-200);

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // code blocks vars
  --code-bg-color: var(--neutral-800);
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: var(--neutral-400);
  --code-ln-wrapper-width: 2.5rem;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 16rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
  --t-color: var(--c-details-bg);

  // other
  --hue-purple: #6620A9;
  --hue-blue: #0095FF;
  --hue-white: #FFFFFF;
  --neutral-100: #F1F2F3;
  --neutral-200: #E0E1E2;
  --neutral-300: #D1D7DB;
  --neutral-400: #9EA5AC;
  --neutral-500: #787D84;
  --neutral-600: #52555B;
  --neutral-700: #3F3031;
  --neutral-800: #27282A;
  --neutral-900: #18181B;
  --grey3: var(--neutral-700);
  --grey12: var(--neutral-300);
  --grey14: var(--neutral-200);
  --light-grey: var(--neutral-400);
  --light-dark: var(--neutral-600);
}

html.dark {
  --c-brand-action: #4e91ef;
}

.bg-blue { background: var(--c-brand-action) }
.bg-green { background: var(--c-brand) }
.bg-purple { background: var(--hue-purple) }
.bg-red { background: #B91C1C }
.bg-white { background: var(--hue-white) }
.bg-100 { background: var(--neutral-100) }
.bg-200 { background: var(--neutral-200) }
.bg-300 { background: var(--neutral-300) }
.bg-400 { background: var(--neutral-400) }
.text-500 { color: var(--neutral-500) }
.text-600 { color: var(--neutral-600) }
.text-700 { color: var(--neutral-700) }
.text-800 { color: var(--neutral-800) }
.text-900 { color: var(--neutral-900) }

@mixin display {
  font-family: 'Poppins-Variable';
  text-rendering: geometricPrecision;
}

@mixin heading-1 {
  @include display;
  font-size: 1.25rem;
  font-weight: 650;
  letter-spacing: -.02em;
}

@mixin heading-2 {
  @include display;
  font-size: 1.125rem;
  letter-spacing: normal;
  letter-spacing: -.01em;
  font-weight: 600;
}

@mixin heading-3 {
  @include display;
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: 600;
}

.home {
  h1 {
    @include display;
    color: var(--c-brand-action);
    font-weight: 650;
  }
  .description {
    letter-spacing: -.02em;
    font-weight: 450;
    color: var(--neutral-500) !important;
  }
  .hero {
    .action-button {
      background: var(--c-details-bg);
      border-color: var(--c-details-bg);
      color: var(--c-text-lighter);
      border-radius: 100px;
      font-weight: 500;
      letter-spacing: normal;
      padding: 0.6rem 1.8rem;
      border-width: 0;

      &.primary {
        font-weight: 650;
      }
    }
  }
  .footer {
    max-width: 68ch;
    line-height: 1.5;
    margin: auto;
    padding: 2.5rem 0;
  }
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: unset;
  letter-spacing: -0.015rem;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

code {
  color: var(--c-bg-arrow);
}

header.navbar .site-name {
  // @include heading-1;
  @include display;
  font-size: 1rem;
  font-weight: 570;
  text-transform: uppercase;
  color: var(--neutral-500);
}

aside.sidebar {
  font-size: 0.875rem;
  letter-spacing: -.01em;
}

.navbar .navbar-items-wrapper, .navbar-dropdown-wrapper .navbar-dropdown-title, .navbar-dropdown-wrapper .navbar-dropdown-title-mobile,
.sidebar .sidebar-heading {
  font-size: .9375rem;
  font-weight: 500;
}

main.page {
  // :where(h1, h2, h3, h4, h5, h6) { }
  :is(h1, h2) {
    color: var(--c-brand-action);
    @include display;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 0 !important;
    padding-bottom: 0;
    border-bottom: 0;
  }

  :is(h3, h4) {
    color: var(--c-text-light);
    @include heading-2;
  }

  :is(h5, h6) {
    @include heading-3;
  }
}

nav.page-nav a {
  @include display;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.01rem;

  &::after,
  &::before {
    color: transparent;
    background-size: 32px !important;
    width: 32px;
    height: 32px;
    //font-size: 16px;
    position: relative;
  }

  &::before {
    background: url("https://static.basedcdn.com/1ws/src/assets/arrow-bck.png") no-repeat center;
    padding-left: 18px;
    margin-right: 2px;
  }

  &::after {
    background: url("https://static.basedcdn.com/1ws/src/assets/arrow-fwd.png") no-repeat center;
    padding-right: 18px;
    margin-left: 2px;
  }
}

// https://static.basedcdn.com/1ws/src/assets/arrow-bck.png
// https://static.basedcdn.com/1ws/src/assets/arrow-fwd.png
// https://static.basedcdn.com/1ws/src/assets/arrow-dark-bck.png
// https://static.basedcdn.com/1ws/src/assets/arrow-dark-fwd.png
// https://static.basedcdn.com/1ws/src/assets/arrow-lite-bck.png
// https://static.basedcdn.com/1ws/src/assets/arrow-lite-fwd.png

code[class*=language-],
pre[class*=language-] {
  font-feature-settings: 'dlig' 1, 'liga' 1;
  font-variation-settings: "MONO" 1,"CASL" 0,"wght" 500,"slnt" 0,"CRSV" 0.5;
  text-rendering: geometricPrecision;
  line-height: 1.25 !important;

  code {
    font-size: 0.8125rem;
    letter-spacing: -0.015rem;

  }
}

div[class*=language-] {
  border-radius: 0.5rem;

  &::before {
    display: none;
  }
}

[class*=language-] {
  direction: ltr;
  scrollbar-color: var(--c-text-quote);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.875rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-text-quote);
    border-radius: 1rem;
    border: 0.1875rem solid var(--code-bg-color);
  }
}

.code-group {
  border-radius: 0.5rem;
  line-height: 1.3;
  font-size: 0.875rem;

  &__nav {
    border-radius: 0.5rem;
  }

  &__nav-tab-active {
    border-bottom: var(--c-brand) 0.1875rem solid;
  }

  &__nav-tab {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0.8125rem;
    color: var(--code-ln-color);

    &-active {
      color: var(--c-bg-lighter);
      font-weight: 600;
    }
  }

  .code-group__li + .code-group__li {
    margin-left: 0.2em;
  }
}

.custom-container-title {
  @include display;
  font-size: 0.8125rem;
  letter-spacing: .03rem;
  font-weight: 700;
}

thead tr th {
  font-weight: 600;
  background: var(--c-details-bg);

  &:empty {
    display: none;
  }
}

td,
th {
  padding: 0.3em 0.6em;
  font-size: 0.8125rem;
  //background: white;
}

tr:nth-child(odd) {
  background-color: white;
  transition: background-color var(--t-color);
}

p code {
  color: rebeccapurple;
}

code {
  letter-spacing: normal;
}

.copy-code-button {
  background: var(--neutral-200) !important;
  color: var(--neutral-500) !important;
  svg {
    height: 16px !important;
  }
  &:hover {
    background: var(--neutral-200) !important;
    color: var(--c-brand) !important;
  }
}

#message-container {
  .message, .move-in {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid var(--c-border-dark) !important;
    border-radius: .5rem !important;
  }
}

.custom-container.details {
  padding-left: 0;
  padding-right: 0;
  margin: -1rem auto 0;
  background: transparent;
  // color: var(--c-brand-action);
  &:hover {
    color: var(--c-brand);
      ::marker {
        color: var(--c-brand);
      }
  }
  summary {
    line-height: 3;
  }
  ::marker {
    color: var(--c-bg-arrow);
  }
}

.page-meta {
  font-size: 0.875rem;
}

@import 'mobile';
