// output:MegaMenu.html, pretty:true

nav.main-nav
  .brand-region
    a.ws-logo(href='https://1worldsync.com/staging/' rel='home')
      BrandHeader.mr-3.rounded(class='h-[40px]')
    ul.language-switcher
      li.nav-dropdown
        a.nav-link(href='#')
          .nav-item-wrap
            i.far.fa-globe(aria-hidden='true')
            .nav-text Region
        .nav-dropdown-menu.tw-hidden
          .dropdown-nav-inner.tw-w-40
            .dropdown-menu-list.tw-gap-0.tw-grid-cols-1
              .menu-section
                .menu-section--head Latin America
                .menu-section--data
                  .menu-section--data__item.simple-nav
                    h4 Portuguese
                    a.stretched-link(href='https://1worldsync.com/br/')
                  .menu-section--data__item.simple-nav
                    h4 Spanish
                    a.stretched-link(href='https://1worldsync.com/es/')
              .menu-section
                .menu-section--head North America
                .menu-section--data
                  .menu-section--data__item.simple-nav
                    h4 English
                    a.stretched-link(href='https://1worldsync.com/')
  button.nav-toggler(type='button')
    i.fas.fa-bars(aria-hidden='true')
  .nav-links
    .primary-navigation
      ul
        li.nav-dropdown
          a.nav-link(href='javascript:void(0);' tabindex='0')
            .nav-item-wrap
              .nav-text Platform
              .nav-caret
                i.far.fa-angle-down(aria-hidden='true')
          .nav-dropdown-menu.tw-hidden
            .dropdown-nav-inner.nav-column-5
              .dropdown-menu-list.nav-grid-column-5
                .menu-section
                  .menu-section--head
                    i.far.fa-camera-alt(aria-hidden='true')
                    | Content Creation
                  .menu-section--data
                    .menu-section--data__item
                      h4 Product Photography
                      p World-class image catpture assets you own for life
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                      a.light-green-button(href='https://1worldsync.com/staging/?page_id=50984&preview=true' tabindex='0') New 360-Degree Photography
                    .menu-section--data__item
                      h4 Item Setup &amp; Automation
                      p
                        | Expert managed services &amp; tech for sourcing, creating &amp; validating product content
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                .menu-section
                  .menu-section--head
                    i.far.fa-sitemap(aria-hidden='true')
                    | Content Managment
                  .menu-section--data
                    .menu-section--data__item
                      h4 Item Mangement &amp; Real-time Validation
                      p
                        | Seamlessly import, mange and validate product content against retailer requirements
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                    .menu-section--data__item
                      h4 Product Information Management (PIM)
                      p Aggregate, validate &amp; communicate product content &amp; intergreate with your ERP
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                    .menu-section--data__item
                      h4 Digital Asset Management
                      p Flexible, secure e-commerce content managment, backed by world-class support
                      a.stretched-link(href='https://1worldsync.com/staging/products/digital-asset-management/' tabindex='0')
                .menu-section
                  .menu-section--head
                    i.far.fa-chart-network(aria-hidden='true')
                    | Content Delivery
                  .menu-section--data
                    .menu-section--data__item
                      h4 Supply Chain &amp; E-Commerce Syndication
                      p The world&rsquo;s largest &amp; most trusted syndication network
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/supply-chain-data/' tabindex='0')
                      a.light-green-button(href='https://1worldsync.com/staging/products/syndication/gdsn/' tabindex='0') GDSN
                      a.light-green-button(href='https://1worldsync.com/staging/solutions/transparency-compliance/item-management-for-smart-label/' tabindex='0') Smartlabel
                    .menu-section--data__item
                      h4 Rich Content Syndication for E-Commerce
                      p
                        | Build and publish high-impact content to product detail pages on leading retailer sites
                      a.stretched-link(href='https://1worldsync.com/staging/products/syndication/' tabindex='0')
                    .menu-section--data__item
                      h4 Digital Catalog
                      p
                        | Arm your sales teams with a fully-customized &amp; branded product information catalog
                      a.stretched-link(href='https://1worldsync.com/staging/products/digital-catalog/' tabindex='0')
                .menu-section
                  .menu-section--head
                    i.fas.fa-chart-bar(aria-hidden='true')
                    | Content Performance
                  .menu-section--data
                    .menu-section--data__item
                      h4 Digital Shelf Analytics
                      p
                        | Expert managed services &amp; tech for sourcing, creating &amp; validating products content
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                    .menu-section--data__item
                      h4 Product Details Page Analytics
                      p Track the preformance of vendor-provided rich content on ecommerce PDPs
                      a.stretched-link(href='javascript:void(0);' tabindex='0')
                .external-media
                  .media-thumbnail
                    img(src='https://1worldsync.com/staging/wp-content/uploads/sites/3/2022/03/Snip20220317_1-256x145.png')
                  a.media-link.lightbox-button(href='javascript:void(0);' data-url='https://player.vimeo.com/video/672965659?h=abddedda81&badge=0&autopause=0&player_id=0&app_id=58479' aria-label='Watch: The 1WorldSync Platform in 2 Minutes' tabindex='0')
                    | Watch: The 1WorldSync Platform in 2 Minutes
                    i.fas.fa-long-arrow-right(aria-hidden='true')
        li.nav-dropdown
          a.nav-link(href='https://1worldsync.com/staging/solutions/' tabindex='0')
            .nav-item-wrap
              .nav-text Solutions
              .nav-caret
                i.far.fa-angle-down(aria-hidden='true')
          .nav-dropdown-menu.tw-hidden
            .dropdown-nav-inner.nav-column-4
              .dropdown-menu-list.nav-grid-column-4
                .menu-section
                  .menu-section--head By Role
                  .menu-section--data
                    .menu-section--data__item.simple-nav
                      h4
                        i.fa-solid.fa-arrows-maximize
                        | Content Providers
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/content-providers/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.fa-solid.fa-arrows-minimize
                        | Content Distribution
                      a.stretched-link(href='https://1worldsync.com/staging/products/content-acceleration/content-distribution/' tabindex='0')
                .menu-section
                  .menu-section--head By Use Case
                  .menu-section--data
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-hand-holding-box(aria-hidden='true')
                        | Supply Chain Data
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/supply-chain-data/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-file-spreadsheet(aria-hidden='true')
                        | Consumer Data
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/consumer-data/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-eye(aria-hidden='true')
                        | Transparency + Compliance
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/transparency-compliance/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-shield-check(aria-hidden='true')
                        | Quality + Performance Reporting
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/quality-performance-reporting/' tabindex='0')
                .menu-section
                  .menu-section--head By Industry
                  .menu-section--data
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-bags-shopping(aria-hidden='true')
                        | CPG + Retail
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/cpg-retail/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-ruler-triangle(aria-hidden='true')
                        | DIY, Electronics + Hardlines
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/diy-electronics-hardlines/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-phone-laptop(aria-hidden='true')
                        | E-Tailers
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/e-tailers/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.far.fa-utensils-alt(aria-hidden='true')
                        | Foodservice
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/foodservice/' tabindex='0')
                    .menu-section--data__item.simple-nav
                      h4
                        i.fas.fa-stethoscope(aria-hidden='true')
                        | Healthcare
                      a.stretched-link(href='https://1worldsync.com/staging/solutions/healthcare/' tabindex='0')
                .external-media
                  .media-thumbnail
                    img(src='https://1worldsync.com/staging/wp-content/uploads/sites/3/2021/09/Seaboard_Woman-Buying-Meat_BNR_795x369px-768x356.jpg' alt='')
                  a.media-link(href='https://1worldsync.com/wp-content/uploads/2021/09/1WS_SeaBoardFoods_CaseStudy.pdf' tabindex='0')
                    | Read our latest articles
                    i.fas.fa-long-arrow-right(aria-hidden='true')
        li.nav-dropdown
          a.nav-link(href='https://1worldsync.com/staging/resource-center/' tabindex='0')
            .nav-item-wrap
              .nav-text Resource Center
              .nav-caret
                i.far.fa-angle-down(aria-hidden='true')
          .nav-dropdown-menu.tw-hidden
            .dropdown-nav-inner.nav-column-3
              .dropdown-menu-list.nav-grid-column-3
                .menu-section
                  .menu-section--head Insights
                  .menu-section--data
                    .menu-section--data__item
                      h4 Blog
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/blog/' tabindex='0')
                    .menu-section--data__item
                      h4 Content Library
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/content-library/' tabindex='0')
                    .menu-section--data__item
                      h4 Customer Stories
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/customer-stories/' tabindex='0')
                    .menu-section--data__item
                      h4 Webinars
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/webinars/' tabindex='0')
                .menu-section
                  .menu-section--head Support + Services
                  .menu-section--data
                    .menu-section--data__item
                      h4 Professional Services
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/professional-services/' tabindex='0')
                    .menu-section--data__item
                      h4 Education + Training
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/education-training/' tabindex='0')
                    .menu-section--data__item
                      h4 Technical Support
                      a.stretched-link(href='https://1worldsync.com/staging/resource-center/technical-support/' tabindex='0')
                .external-media
                  .media-thumbnail
                    img(src='https://1worldsync.com/staging/wp-content/uploads/sites/3/2022/02/Image-LATAM-ContentCast-Announcement-2-2022-256x171.jpeg')
                  a.media-link.lightbox-button(href='javascript:void(0);' data-url='https://www.youtube.com/embed/H3p5UXRJQFY?feature=oembed' aria-label='Read our latest articles' tabindex='0')
                    | Read our latest articles
                    i.fas.fa-long-arrow-right(aria-hidden='true')
        li.nav-dropdown
          a.nav-link(href='https://1worldsync.com/staging/community/' tabindex='0')
            .nav-item-wrap
              .nav-text Community
              .nav-caret
                i.far.fa-angle-down(aria-hidden='true')
          .nav-dropdown-menu.tw-hidden
            .dropdown-nav-inner.nav-column-3
              .dropdown-menu-list.nav-grid-column-3
                .menu-section
                  .menu-section--head Our Community
                  .menu-section--data
                    .menu-section--data__item
                      h4 Find a Trading Partner
                      a.stretched-link(href='https://1worldsync.com/staging/community/find-a-trading-partner/' tabindex='0')
                    .menu-section--data__item
                      h4 Community Platform
                      a.stretched-link(href='https://idp.1worldsync.com/login/login.fcc?TYPE=33554433&REALMOID=06-0009ef08-f44f-1f19-a142-06470a030000&GUID=&SMAUTHREASON=0&METHOD=GET&SMAGENTNAME=-SM-%2Bde3lO%2BHTZncSCF3w1YDYjpsZljgHwNACjt7ui8Mja%2FdR5Sg7skinq53BuO4JSRF&TARGET=-SM-HTTPS%3A%2F%2Fidp%2E1worldsync%2Ecom%2Faffwebservices%2Fredirectjsp%2Fredirect%2Ejsp%3FSPID%3Dhttps%3A%2F%2Fcommunity%2E1worldsync%2Ecom%2Fauth%2Fsaml%26redirectreason%3Dnotregistered%26referer%3Dhttps-%3A-%2F-%2Fcommunity%2E1worldsync%2Ecom-%2F%26SMPORTALURL%3Dhttps-%3A-%2F-%2Fidp%2E1worldsync%2Ecom-%2Faffwebservices-%2Fpublic-%2Fsaml2sso%26SAMLTRANSACTIONID%3D2091393d--3da2322b--01ce2f19--7fef3789--4845623f--6bd' tabindex='0')
                .menu-section
                  .menu-section--head Our Customers
                  .menu-section--data
                    .menu-section--data__item
                      h4 Who We Work With
                      a.stretched-link(href='https://1worldsync.com/staging/community/who-we-work-with/' tabindex='0')
                .external-media
                  .media-thumbnail
                    img(src='https://1worldsync.com/staging/wp-content/uploads/sites/3/2022/02/1WS-256x256.png')
                  a.media-link(href='https://1worldsync.com/staging/resource-center/blog/' tabindex='0')
                    | Read our latest articles
                    i.fas.fa-long-arrow-right(aria-hidden='true')
        li.nav-dropdown
          a.nav-link(href='https://1worldsync.com/staging/subscription-plans/' tabindex='0')
            .nav-item-wrap
              .nav-text Plans
        li.nav-dropdown
          a.nav-link(href='https://1worldsync.com/staging/about-us/' tabindex='0')
            .nav-item-wrap
              .nav-text About Us
              .nav-caret
                i.far.fa-angle-down(aria-hidden='true')
          .nav-dropdown-menu.tw-hidden
            .dropdown-nav-inner.nav-column-2
              .dropdown-menu-list.nav-grid-column-2
                .menu-section
                  .menu-section--head About Us
                  .menu-section--data
                    .menu-section--data__item
                      h4 Careers at 1WorldSync
                      p
                        | Join the global leader in product content solutions! Learn about our culture, browse open positions, and apply today.
                      a.stretched-link(href='https://1worldsync.com/staging/about-us/careers/' tabindex='0')
                    .menu-section--data__item
                      h4 News + Press
                      p See the latest news and updates from 1WorldSync.
                      a.stretched-link(href='https://1worldsync.com/staging/about-us/news-press/' tabindex='0')
                .menu-section
                  .menu-section--head Team
                  .menu-section--data
                    .menu-section--data__item
                      h4 Our Team
                      p
                        | With decades of experience in SaaS and product content management, our leadership is committed to delivering a world-class customer experience.
                      a.stretched-link(href='https://1worldsync.com/staging/about-us/our-team/' tabindex='0')
                    .menu-section--data__item
                      h4 Our Partners
                      p Meet our network of product content technology partners.
                      a.stretched-link(href='https://1worldsync.com/staging/about-us/partners/' tabindex='0')
                    .menu-section--data__item
                      h4 Contact Us
                      p Let&rsquo;s chat. Access global contact information by region and department.
                      a.stretched-link(href='https://1worldsync.com/staging/contact-us/' tabindex='0')
    .nav-buttons
      a#global-top-search.search-icon(href='javascript:void(0)' tabindex='0')
        i.far.fa-search(aria-hidden='true')
      .global-search.tw-hidden
        .global-search--card
          i.far.fa-search(aria-hidden='true')
          form.search-form(role='search' method='get' action='https://1worldsync.com/staging')
            input.form-control(type='search' placeholder='Search...' name='s' aria-label='Search')
          button#global-top-search-close.esc-label Esc
      a.btn-link(href='https://store.1worldsync.com' tabindex='0') Subscribe
      a.btn-primary(href='https://1worldsync.com/staging/login/' tabindex='0') Login
