@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
       url("/fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:wght@400;500;600;700&display=swap");

[class^="highlight-"], code.hljs {
  background-color: rgba(0, 0, 0, 0);
  border-radius: .25rem;
  margin: -.25rem;
  padding: .25rem !important;
}

pre {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity) );
  color: rgb(68 64 60 / var(--tw-text-opacity) );
  border-radius: .5rem;
  padding: 1rem;
}

pre ::selection {
  background-color: rgba(0, 0, 0, .8);
}

pre .hljs {
  --tw-text-opacity: 1;
  text-rendering: optimizelegibility;
  color: rgb(209 213 219 / var(--tw-text-opacity) );
  letter-spacing: -.03ch;
  font-family: IBM Plex Mono, IBM Plex Mono Text, IBMPlexMono-Text, ui-monospace, monospace;
  font-size: .875rem;
  line-height: 1.5;
}

pre .hljs-emphasis {
  letter-spacing: normal;
  font-family: IBM Plex Mono, IBM Plex Mono Italic, IBMPlexMono-TextItalic, ui-monospace, monospace;
}

pre .hljs-strong {
  text-rendering: geometricprecision;
  letter-spacing: .01ch;
  font-family: IBM Plex Mono, IBM Plex Mono SmBld, IBMPlexMono-SmBld, ui-monospace, monospace;
}

pre .hljs-tag {
  color: rgba(168, 162, 159, .9);
  padding-top: .25rem;
  padding-bottom: .25rem;
}

pre .hljs-name {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity) );
}

pre .hljs-function .hljs-params .hljs-typing {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity) );
}

pre .hljs-attr, pre .hljs-number, pre .hljs-selector-attr, pre .hljs-selector-pseudo, pre .hljs-template-variable, pre .hljs-type, pre .hljs-variable {
  --tw-text-opacity: 1;
  color: rgb(253 186 116 / var(--tw-text-opacity) );
}

pre .hljs-constructor, pre .hljs-number {
  --tw-text-opacity: 1;
  color: rgb(253 230 138 / var(--tw-text-opacity) );
}

pre .hljs-addition, pre .hljs-constructor, pre .hljs-meta .hljs-string, pre .hljs-string {
  --tw-text-opacity: 1;
  color: rgb(217 249 157 / var(--tw-text-opacity) );
}

pre .hljs-function .hljs-params {
  --tw-text-opacity: 1;
  color: rgb(134 239 172 / var(--tw-text-opacity) );
}

pre .hljs-regexp {
  --tw-text-opacity: 1;
  color: rgb(110 231 183 / var(--tw-text-opacity) );
}

pre .hljs-attribute {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity) );
}

pre .hljs-literal {
  --tw-text-opacity: 1;
  color: rgb(103 232 249 / var(--tw-text-opacity) );
}

pre .hljs-bullet, pre .hljs-link, pre .hljs-meta, pre .hljs-selector-id, pre .hljs-symbol, pre .hljs-title {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity) );
}

pre .hljs-function, pre .hljs-pattern-match .hljs-constructor, pre .hljs-symbol {
  --tw-text-opacity: 1;
  color: rgb(147 197 253 / var(--tw-text-opacity) );
}

pre .hljs-built_in, pre .hljs-class .hljs-title, pre .hljs-selector-class, pre .hljs-title.class_ {
  --tw-text-opacity: 1;
  color: rgb(196 181 253 / var(--tw-text-opacity) );
}

pre .hljs-comment, pre .hljs-module-access .hljs-module, pre .hljs-quote {
  --tw-text-opacity: 1;
  color: rgb(192 132 252 / var(--tw-text-opacity) );
}

pre .hljs-keyword, pre .hljs-operator, pre .hljs-pattern-match {
  --tw-text-opacity: 1;
  color: rgb(232 121 249 / var(--tw-text-opacity) );
}

pre .hljs-deletion, pre .hljs-section, pre .hljs-selector-tag, pre .hljs-subst {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity) );
}

pre .hljs-doctag, pre .hljs-formula {
  --tw-text-opacity: 1;
  color: rgb(251 113 133 / var(--tw-text-opacity) );
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:after, :before {
  --tw-content: "";
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--tw-font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  tab-size: 4;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  color: inherit;
  height: 0;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: var(--tw-font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

:-moz-focusring {
  outline:  auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre, fieldset {
  margin: 0;
}

fieldset, legend {
  padding: 0;
}

menu, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

[role="button"], button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio, canvas, embed, iframe, img, object, svg, video {
  vertical-align: middle;
  display: block;
}

img, video {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

body {
  text-rendering: optimizelegibility;
  font-feature-settings: "cv03" 0, "cv04" 0, "cv08" 1, "cv09" 1, "cv11" 1, "cpsp" 0;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  font-family: var(--tw-font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-kerning: normal;
  font-synthesis: weight;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  line-height: 1.625;
}

[multiple], [type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  --tw-shadow: 0 0 transparent;
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .5);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .5);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-style: solid;
  border-width: var(--tw-input-border-width, 1px);
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  border-radius: .375rem;
  padding: .5rem .75rem;
  font-weight: 500;
  line-height: 1.625;
}

[multiple]:focus, [type="date"]:focus, [type="datetime-local"]:focus, [type="email"]:focus, [type="month"]:focus, [type="number"]:focus, [type="password"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="text"]:focus, [type="time"]:focus, [type="url"]:focus, [type="week"]:focus, select:focus, textarea:focus {
  background-color: var(--tw-color-primary-light);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity, 1) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  color: rgb(var(--tw-color-accent) );
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

input::-ms-input-placeholder:active, textarea::-ms-input-placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

input::placeholder:active, textarea::placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

::-webkit-datetime-edit, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-meridiem-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-year-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  color-adjust: exact;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' opacity='0.5' viewBox='0 0 20 20'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

[multiple] {
  color-adjust: unset;
  background-image: none;
  background-position: 0 0;
  background-repeat: unset;
  background-size: initial;
  padding-right: .75rem;
}

[type="checkbox"], [type="radio"] {
  color-adjust: exact;
  --tw-shadow: 0 0 transparent;
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .5);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .5);
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
  cursor: pointer;
  height: 1.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1.25rem;
  background-origin: border-box;
  flex-shrink: 0;
  padding: 0;
  display: inline-block;
}

[type="checkbox"] {
  border-radius: .125rem;
}

[type="radio"] {
  border-radius: 100%;
}

[type="checkbox"]:focus, [type="radio"]:focus {
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(.5px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

[type="checkbox"]:checked, [type="radio"]:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

[type="checkbox"]:checked:focus, [type="checkbox"]:checked:hover, [type="radio"]:checked:focus, [type="radio"]:checked:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:indeterminate:focus, [type="checkbox"]:indeterminate:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

[type="file"] {
  background: unset;
  border-color: inherit;
  font-size: unset;
  line-height: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
}

[type="file"]:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

*, :after, :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.form-input, .form-multiselect, .form-select, .form-textarea {
  --tw-shadow: 0 0 transparent;
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .5);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .5);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-style: solid;
  border-width: var(--tw-input-border-width, 1px);
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  border-radius: .375rem;
  padding: .5rem .75rem;
  font-weight: 500;
  line-height: 1.625;
}

.form-input:focus, .form-multiselect:focus, .form-select:focus, .form-textarea:focus {
  background-color: var(--tw-color-primary-light);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity, 1) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  color: rgb(var(--tw-color-accent) );
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

.form-input::-ms-input-placeholder, .form-textarea::-ms-input-placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

.form-input::placeholder, .form-textarea::placeholder {
  --tw-text-opacity: .5;
  color: rgb(var(--tw-color-dark)  / var(--tw-text-opacity) );
  opacity: 1;
}

.form-input::-ms-input-placeholder:active, .form-textarea::-ms-input-placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

.form-input::placeholder:active, .form-textarea::placeholder:active {
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
}

.form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}

.form-input::-webkit-datetime-edit, .form-input::-webkit-datetime-edit-day-field, .form-input::-webkit-datetime-edit-hour-field, .form-input::-webkit-datetime-edit-meridiem-field, .form-input::-webkit-datetime-edit-millisecond-field, .form-input::-webkit-datetime-edit-minute-field, .form-input::-webkit-datetime-edit-month-field, .form-input::-webkit-datetime-edit-second-field, .form-input::-webkit-datetime-edit-year-field {
  padding-top: 0;
  padding-bottom: 0;
}

.form-select {
  color-adjust: exact;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' opacity='0.5' viewBox='0 0 20 20'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.form-checkbox, .form-radio {
  color-adjust: exact;
  --tw-shadow: 0 0 transparent;
  --tw-ring-offset-width: var(--tw-input-offset-size);
  --tw-ring-offset-color: rgb(var(--tw-color-light)  / .5);
  --tw-ring-color: rgb(var(--tw-color-primary-light)  / .5);
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: var(--tw-input-background);
  border-color: var(--tw-input-border);
  border-width: var(--tw-input-border-width, 1.5px);
  color: rgb(var(--tw-color-primary)  / var(--tw-text-opacity) );
  cursor: pointer;
  height: 1.25rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 1.25rem;
  background-origin: border-box;
  flex-shrink: 0;
  padding: 0;
  display: inline-block;
}

.form-checkbox {
  border-radius: .125rem;
}

.form-radio {
  border-radius: 100%;
}

.form-checkbox:focus, .form-radio:focus {
  --tw-ring-inset: var(--tw-empty, );
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(.5px + var(--tw-ring-offset-width) ) var(--tw-ring-color);
  border-color: rgb(var(--tw-color-primary)  / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: var(--tw-ring-offset-width) solid transparent;
  outline-offset: var(--tw-ring-offset-width);
}

.form-checkbox:checked, .form-radio:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

.form-radio:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

.form-checkbox:checked:focus, .form-checkbox:checked:hover, .form-radio:checked:focus, .form-radio:checked:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: rgba(0, 0, 0, 0);
}

.form-checkbox:indeterminate:focus, .form-checkbox:indeterminate:hover {
  background-color: currentColor;
  border-color: rgba(0, 0, 0, 0);
}

.prose {
  color: var(--tw-prose-body);
  max-width: 68ch;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-lead);
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.6;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  font-weight: 400;
  text-decoration: underline;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  padding-left: 1.625em;
  list-style-type: decimal;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  padding-left: 1.625em;
  list-style-type: disc;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--tw-prose-counters);
  font-weight: 400;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  --tw-prose-quotes-color: rgb(var(--tw-color-primary)  / .6);
  --tw-prose-quotes-font: var(--tw-font-mono);
  --tw-prose-quote: rgb(var(--tw-color-primary-dark)  / var(--tw-text-opacity, 1) );
  --tw-prose-quote-borders: rgb(var(--tw-color-primary-dark)  / .2);
  marginbottom: 0;
  border-left-color: var(--tw-prose-quote-borders);
  color: var(--tw-prose-quote);
  font-family: var(--tw-prose-font);
  font-synthesis: none;
  letter-spacing: -.02em;
  quotes: "“""”""‘""’";
  border-left-width: 0;
  margin-top: 0;
  margin-bottom: 1.6em;
  padding-left: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *)):before {
  color: var(--tw-prose-quotes-color);
  content: open-quote;
  font-family: var(--tw-prose-quotes-font);
  vertical-align: bottom;
  margin-left: -.5rem;
  padding-right: .75rem;
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  line-height: .25;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *)):after {
  color: var(--tw-prose-quotes-color);
  content: close-quote;
  font-family: var(--tw-prose-quotes-font);
  vertical-align: middle;
  padding-left: .5rem;
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  margin-top: 0;
  margin-bottom: .888889em;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.11111;
}

.prose :where(h1 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 800;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.33333;
}

.prose :where(h2 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 800;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  letter-spacing: .02em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: 600;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
}

.prose :where(figure > *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  margin-top: .857143em;
  font-size: .875em;
  line-height: 1.42857;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  letter-spacing: -.005rem;
  background: #f0f0f0;
  border-radius: .125rem;
  margin: 0;
  padding: .15rem .3rem;
  font-size: .875em;
  font-weight: 400;
}

.prose :where(code):not(:where([class~="not-prose"] *)):before, .prose :where(code):not(:where([class~="not-prose"] *)):after {
  opacity: .8;
}

.prose :where(a code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: var(--tw-prose-pre-bg);
  color: var(--tw-prose-pre-code);
  border-radius: .375rem;
  margin-top: 1.71429em;
  margin-bottom: 1.71429em;
  padding: .857143em 1.14286em;
  font-size: .875em;
  font-weight: 400;
  line-height: 1.71429;
  overflow-x: auto;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  border-radius: 0;
  padding: 0;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)):before, .prose :where(pre code):not(:where([class~="not-prose"] *)):after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  table-layout: auto;
  text-align: left;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875em;
  line-height: 1.71429;
}

.prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--tw-prose-th-borders);
  border-bottom-width: 1px;
}

.prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  vertical-align: bottom;
  padding-bottom: .571429em;
  padding-left: .571429em;
  padding-right: .571429em;
  font-weight: 600;
}

.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--tw-prose-td-borders);
  border-bottom-width: 1px;
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: baseline;
  padding: .571429em;
}

.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: rgb(var(--tw-color-accent)  / var(--tw-text-opacity, 1) );
  --tw-prose-lead: #111827;
  --tw-prose-links: rgb(var(--tw-color-primary)  / var(--tw-text-opacity, 1) );
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: rgb(var(--tw-color-primary-light)  / var(--tw-text-opacity, .75) );
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #e11d48;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgba(0, 0, 0, .5);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(video):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(h2 code):not(:where([class~="not-prose"] *)) {
  font-size: .875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"] *)) {
  font-size: .9em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: .5em;
  margin-bottom: .5em;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *)) {
  padding-left: .375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *)) {
  padding-left: .375em;
}

.prose > :where(ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: .75em;
  margin-bottom: .75em;
}

.prose > :where(ul > li > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose > :where(ul > li > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose > :where(ol > li > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose > :where(ol > li > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
  margin-top: .75em;
  margin-bottom: .75em;
}

.prose :where(hr + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
  padding-right: 0;
}

.prose :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
  padding-right: 0;
}

.prose > :where(:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose > :where(:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose {
  --tw-prose-font: var(--tw-font-serif);
  orphans: 3;
  widows: 3;
}

.prose :where(a:hover):not(:where([class~="not-prose"] *)) {
  text-decoration: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.left-0 {
  left: 0;
}

.bottom-\[127px\] {
  bottom: 127px;
}

.left-\[33px\] {
  left: 33px;
}

.left-1 {
  left: .25rem;
}

.left-2 {
  left: .5rem;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: .25rem;
}

.right-3 {
  right: .75rem;
}

.z-10 {
  z-index: 10;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-3 {
  margin-top: .75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-14 {
  margin-top: 3.5rem;
}

.ml-3 {
  margin-left: .75rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-1 {
  height: .25rem;
}

.h-\[175px\] {
  height: 175px;
}

.h-full {
  height: 100%;
}

.h-4 {
  height: 1rem;
}

.h-screen {
  height: 100vh;
}

.h-fit {
  height: fit-content;
}

.h-\[480px\] {
  height: 480px;
}

.h-\[184px\] {
  height: 184px;
}

.h-10 {
  height: 2.5rem;
}

.h-24 {
  height: 6rem;
}

.min-h-\[80px\] {
  min-height: 80px;
}

.w-4 {
  width: 1rem;
}

.w-\[180px\] {
  width: 180px;
}

.w-full {
  width: 100%;
}

.w-2\/12 {
  width: 16.6667%;
}

.w-\[98\%\] {
  width: 98%;
}

.\!w-full {
  width: 100% !important;
}

.w-\[82px\] {
  width: 82px;
}

.w-\[184px\] {
  width: 184px;
}

.w-auto {
  width: auto;
}

.flex-auto {
  flex: auto;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.place-content-center {
  align-content: center;
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-1 {
  gap: .25rem;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse) );
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse) ) );
}

.divide-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse) );
  border-top-width: calc(2px * (1 - var(--tw-divide-y-reverse) ) );
}

.divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid;
}

.divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity) );
}

.divide-brand-50 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(211 232 225 / var(--tw-divide-opacity) );
}

.overflow-auto {
  overflow: auto;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-md {
  border-radius: .375rem;
}

.border {
  border-width: 1px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity) );
}

.bg-brand-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 136 85 / var(--tw-bg-opacity) );
}

.bg-brand-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(211 232 225 / var(--tw-bg-opacity) );
}

.bg-brand-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 178 85 / var(--tw-bg-opacity) );
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity) );
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity) );
}

.bg-brand-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 34 136 / var(--tw-bg-opacity) );
}

.bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity) );
}

.bg-orange-700\/10 {
  background-color: rgba(194, 65, 12, .1);
}

.bg-herobgXs {
  background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-xs.png");
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.p-0 {
  padding: 0;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[33px\] {
  padding-top: 33px;
  padding-bottom: 33px;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-\[48px\] {
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-\[42px\] {
  padding-top: 42px;
  padding-bottom: 42px;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-\[114px\] {
  padding-top: 114px;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-0 {
  padding-top: 0;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pl-1 {
  padding-left: .25rem;
}

.text-center {
  text-align: center;
}

.font-display {
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-lg, .text-xl {
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.\!font-medium {
  font-weight: 500 !important;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-normal {
  line-height: 1.5;
}

.leading-tight {
  line-height: 1.25;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity) );
}

.text-brand-900 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
}

.text-brand-500 {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity) );
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
}

.text-brand-600 {
  --tw-text-opacity: 1;
  color: rgb(0 102 102 / var(--tw-text-opacity) );
}

.text-slate-700 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity) );
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity) );
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity) );
}

.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
}

.shadow-inner, .shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}

.shadow-none {
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
}

.shadow-2xl, .shadow-none {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}

.transition {
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

body {
  font-family: var(--tw-font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#hero-banner {
  --tw-bg-opacity: 1;
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  background-color: rgb(0 136 85 / var(--tw-bg-opacity) );
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #hero-banner {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-md.png");
  }
}

@media (min-width: 1024px) {
  #hero-banner {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg.png");
  }
}

@media (min-width: 1280px) {
  #hero-banner {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg.png");
  }
}

#hero-banner {
  width: 100%;
}

#hero-banner h2 {
  --tw-text-opacity: 1;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0, 0, 0, .07)) drop-shadow(0 2px 2px rgba(0, 0, 0, .06));
  color: rgb(255 255 255 / var(--tw-text-opacity) );
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  #hero-banner h2 {
    font-size: 1.875rem;
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  #hero-banner h2 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}

#benefits-section #gsdnFormFeatures h3 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  margin-bottom: 1.75rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25;
}

#benefits-section .benefits-list {
  counter-reset: benefits-counter;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#benefits-section .benefits-list li {
  counter-increment: benefits-counter;
  min-height: 56px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  position: relative;
}

#benefits-section .benefits-list li:before {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(211 232 225 / var(--tw-bg-opacity) );
  color: rgb(0 136 85 / var(--tw-text-opacity) );
  content: counter(benefits-counter);
  height: 48px;
  width: 48px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  display: flex;
  position: absolute;
  top: 10px;
  left: 0;
}

#benefits-section .benefits-list li .data {
  padding-left: 65px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#benefits-section #gsdnFormTop h6 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity) );
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

#benefits-section #gsdnFormTop h3 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

#benefits-section #gsdnFormTop hr {
  --tw-border-opacity: 1;
  border-color: rgb(211 232 225 / var(--tw-border-opacity) );
  width: 242px;
  border-width: 1px;
  margin: 25px 0;
}

#benefits-section #gsdnFormTop h4 {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-top: .25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@media (min-width: 1024px) {
  #benefits-section #gsdnFormTop h4 {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  #benefits-section #gsdnFormTop h4 {
    padding: 0;
  }
}

#benefits-section #gsdnFormTop p {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#gsdnCustomerQuotes p {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#gsdnCustomerQuotes h5 {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  display: flex;
}

#gsdnCustomerQuotes h5 span {
  --tw-bg-opacity: 1;
  background-color: rgb(0 136 85 / var(--tw-bg-opacity) );
  float: left;
  height: .25rem;
  width: 1rem;
  margin-right: .25rem;
}

#gsdnCustomerQuotes h6 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500 !important;
}

#gsdn-info-section p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#gsdn-info-section .far {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  font-size: 3.75rem;
  line-height: 1;
}

#gsdn-info-section h5 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

#gsdn-info-section h6 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity) );
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

#gsdn-info-section p {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

#gsdn-info-section .info-text {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

#partners-section h3 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  text-transform: uppercase;
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

#simple-footer ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  display: flex;
}

@media (min-width: 1024px) {
  #simple-footer ul {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  #simple-footer ul {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.75rem;
    margin-bottom: 0;
  }
}

#simple-footer ul {
  width: 100%;
}

#simple-footer ul li {
  --tw-text-opacity: 1;
  color: rgb(211 232 225 / var(--tw-text-opacity) );
  margin-bottom: 0;
}

#simple-footer ul li a {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity) );
  margin-bottom: 0;
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

#simple-footer ul li a:hover {
  opacity: .75;
}

#simple-footer .social-icons {
  justify-content: center;
  gap: 1.5rem;
  display: flex;
}

@media (min-width: 1280px) {
  #simple-footer .social-icons {
    justify-content: flex-start;
    gap: 1rem;
  }
}

#simple-footer .social-icons a {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
  font-size: 1.5rem;
  line-height: 2rem;
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

#simple-footer .social-icons a:hover {
  --tw-text-opacity: 1;
  color: rgb(211 232 225 / var(--tw-text-opacity) );
}

@media (min-width: 1280px) {
  #simple-footer .social-icons a {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

#spin-360-hero-banner h2 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  line-height: 1.25 !important;
}

@media (min-width: 768px) {
  #spin-360-hero-banner h2 {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  #spin-360-hero-banner h2 {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  #spin-360-hero-banner h2 {
    font-size: 3rem;
    line-height: 1;
  }
}

#spin-360-hero-banner p {
  margin-top: .75rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  #spin-360-hero-banner p {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  #spin-360-hero-banner p {
    margin-top: .75rem;
  }
}

#spin-360-hero-banner .spinner-outer {
  position: absolute;
}

@media (min-width: 1024px) {
  #spin-360-hero-banner .spinner-outer {
    height: 190px;
    width: 190px;
    top: 140px;
    left: 35px;
  }
}

@media (min-width: 1280px) {
  #spin-360-hero-banner .spinner-outer {
    height: 240px;
    width: 250px;
    top: 218px;
    left: 40px;
  }
}

@media (min-width: 1536px) {
  #spin-360-hero-banner .spinner-outer {
    height: 260px;
    width: 270px;
    top: 210px;
    left: 109px;
  }
}

#spin-360-hero-banner .spinner-outer-tablet {
  height: 175px;
  width: 180px;
  position: absolute;
  bottom: 127px;
  left: 33px;
}

@media (min-width: 640px) {
  #spin-360-hero-banner .spinner-outer-tablet {
    height: 210px;
    width: 225px;
    bottom: 112px;
    left: 181px;
  }
}

@media (min-width: 768px) {
  #spin-360-hero-banner .spinner-outer-tablet {
    height: 200px;
    width: 225px;
    bottom: 145px;
    left: 185px;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  #spin-360-hero-banner .spinner-outer-tablet {
    height: 38%;
    width: 46%;
    bottom: 28%;
    left: 28%;
  }
}

.primary-button {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(0 136 85 / var(--tw-bg-opacity) );
  color: rgb(255 255 255 / var(--tw-text-opacity) );
  border-radius: 9999px;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.primary-button i {
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  position: relative;
  left: .25rem;
}

.primary-button:hover i {
  left: .625rem;
}

#spin-360-testimonial {
  --tw-bg-opacity: 1;
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  background-color: rgb(0 178 85 / var(--tw-bg-opacity) );
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  width: 100%;
  background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/testimonial-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#spin-360-testimonial-data p {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  margin-bottom: 1.5rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  #spin-360-testimonial-data p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  #spin-360-testimonial-data p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

#spin-360-testimonial-data h5 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  align-items: center;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem;
  display: flex;
}

@media (min-width: 768px) {
  #spin-360-testimonial-data h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  #spin-360-testimonial-data h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

#spin-360-testimonial-data h5 span {
  --tw-bg-opacity: 1;
  background-color: rgb(51 34 136 / var(--tw-bg-opacity) );
  float: left;
  height: .25rem;
  width: 1rem;
  margin-right: .25rem;
}

#spin-360-testimonial-data h6 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  #spin-360-testimonial-data h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  #spin-360-testimonial-data h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

#spin-360-about {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#spin-360-about h2 {
  --tw-text-opacity: 1;
  color: rgb(51 34 136 / var(--tw-text-opacity) );
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

@media (min-width: 1280px) {
  #spin-360-about h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

#spin-360-about p {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity) );
  font-size: 1.125rem;
  line-height: 1.25;
}

@media (min-width: 1280px) {
  #spin-360-about p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sirv-spin {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity) );
}

.sirv-spin-button .fullscreen, .sirv-spin-button .fullscreen-exit {
  opacity: .6;
  background-image: url("https://scripts.sirv.com/spin/graphics/buttons17.png");
}

.spin-360-modal {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(31, 41, 55, .75);
  padding-top: 114px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.spin-360-modal .close {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity) );
  float: right;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  position: absolute;
  top: .25rem;
  right: .75rem;
}

.spin-360-modal .close:hover, .spin-360-modal .close:focus {
  cursor: pointer;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.spin-360-modal .modal-header {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity) );
  color: rgb(0 102 102 / var(--tw-text-opacity) );
  padding: 1.5rem 1rem;
}

.spin-360-modal .modal-header h3 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity) );
  margin: 0;
  padding: 0;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.spin-360-modal .modal-content {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  background-color: rgb(31 41 55 / var(--tw-bg-opacity) );
  border-color: rgb(31 41 55 / var(--tw-border-opacity) );
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border-width: 1px;
  border-radius: .5rem;
  margin: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .spin-360-modal .modal-content {
    width: 33.3333%;
  }
}

@media (min-width: 1280px) {
  .spin-360-modal .modal-content {
    width: 33.3333%;
  }
}

.spin-360-modal .modal-content {
  width: full;
  animation-name: animatetop;
  animation-duration: .4s;
}

.spin-360-modal .modal-body {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity) );
  text-align: center;
  padding: 1rem 1rem 3rem;
}

@keyframes animatetop {
  0% {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:text-brand-500:hover {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
}

.focus\:no-underline:focus, .hover\:no-underline:hover {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

@media (min-width: 640px) {
  .sm\:bottom-\[112px\] {
    bottom: 112px;
  }

  .sm\:left-\[181px\] {
    left: 181px;
  }

  .sm\:h-\[210px\] {
    height: 210px;
  }

  .sm\:w-\[225px\] {
    width: 225px;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:pl-0 {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .md\:bottom-\[145px\] {
    bottom: 145px;
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-\[200px\] {
    height: 200px;
  }

  .md\:w-\[225px\] {
    width: 225px;
  }

  .md\:w-7\/12 {
    width: 58.3333%;
  }

  .md\:w-10\/12 {
    width: 83.3333%;
  }

  .md\:w-1\/12 {
    width: 8.33333%;
  }

  .md\:w-11\/12 {
    width: 91.6667%;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:bg-herobgMd {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg-md.png");
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:pl-\[90px\] {
    padding-left: 90px;
  }

  .md\:pl-4 {
    padding-left: 1rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:prose-lg {
    font-size: 1.125rem;
    line-height: 1.77778;
  }

  .lg\:prose-lg :where(p):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
    margin-bottom: 1.33333em;
  }

  .lg\:prose-lg :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
    margin-top: 1.09091em;
    margin-bottom: 1.09091em;
    font-size: 1.22222em;
    line-height: 1.45455;
  }

  .lg\:prose-lg :where(blockquote):not(:where([class~="not-prose"] *)) {
    margin-top: 1.66667em;
    margin-bottom: 1.66667em;
    padding-left: 1em;
  }

  .lg\:prose-lg :where(h1):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: .833333em;
    font-size: 2.66667em;
    line-height: 1;
  }

  .lg\:prose-lg :where(h2):not(:where([class~="not-prose"] *)) {
    margin-top: 1.86667em;
    margin-bottom: 1.06667em;
    font-size: 1.66667em;
    line-height: 1.33333;
  }

  .lg\:prose-lg :where(h3):not(:where([class~="not-prose"] *)) {
    margin-top: 1.66667em;
    margin-bottom: .666667em;
    font-size: 1.33333em;
    line-height: 1.5;
  }

  .lg\:prose-lg :where(h4):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: .444444em;
    line-height: 1.55556;
  }

  .lg\:prose-lg :where(img):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: 1.77778em;
  }

  .lg\:prose-lg :where(video):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: 1.77778em;
  }

  .lg\:prose-lg :where(figure):not(:where([class~="not-prose"] *)) {
    margin-top: 1.77778em;
    margin-bottom: 1.77778em;
  }

  .lg\:prose-lg :where(figure > *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lg\:prose-lg :where(figcaption):not(:where([class~="not-prose"] *)) {
    margin-top: 1em;
    font-size: .888889em;
    line-height: 1.5;
  }

  .lg\:prose-lg :where(code):not(:where([class~="not-prose"] *)) {
    font-size: .888889em;
  }

  .lg\:prose-lg :where(h2 code):not(:where([class~="not-prose"] *)) {
    font-size: .866667em;
  }

  .lg\:prose-lg :where(h3 code):not(:where([class~="not-prose"] *)) {
    font-size: .875em;
  }

  .lg\:prose-lg :where(pre):not(:where([class~="not-prose"] *)) {
    border-radius: .375rem;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 1.5em;
    font-size: .888889em;
    line-height: 1.75;
  }

  .lg\:prose-lg :where(ol):not(:where([class~="not-prose"] *)) {
    padding-left: 1.55556em;
  }

  .lg\:prose-lg :where(ul):not(:where([class~="not-prose"] *)) {
    padding-left: 1.55556em;
  }

  .lg\:prose-lg :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: .666667em;
    margin-bottom: .666667em;
  }

  .lg\:prose-lg :where(ol > li):not(:where([class~="not-prose"] *)) {
    padding-left: .444444em;
  }

  .lg\:prose-lg :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: .444444em;
  }

  .lg\:prose-lg > :where(ul > li p):not(:where([class~="not-prose"] *)) {
    margin-top: .888889em;
    margin-bottom: .888889em;
  }

  .lg\:prose-lg > :where(ul > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
  }

  .lg\:prose-lg > :where(ul > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.33333em;
  }

  .lg\:prose-lg > :where(ol > li > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 1.33333em;
  }

  .lg\:prose-lg > :where(ol > li > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.33333em;
  }

  .lg\:prose-lg :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-top: .888889em;
    margin-bottom: .888889em;
  }

  .lg\:prose-lg :where(hr):not(:where([class~="not-prose"] *)) {
    margin-top: 3.11111em;
    margin-bottom: 3.11111em;
  }

  .lg\:prose-lg :where(hr + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-lg :where(h2 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-lg :where(h3 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-lg :where(h4 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-lg :where(table):not(:where([class~="not-prose"] *)) {
    font-size: .888889em;
    line-height: 1.5;
  }

  .lg\:prose-lg :where(thead th):not(:where([class~="not-prose"] *)) {
    padding-bottom: .75em;
    padding-left: .75em;
    padding-right: .75em;
  }

  .lg\:prose-lg :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }

  .lg\:prose-lg :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }

  .lg\:prose-lg :where(tbody td):not(:where([class~="not-prose"] *)) {
    padding: .75em;
  }

  .lg\:prose-lg :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }

  .lg\:prose-lg :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }

  .lg\:prose-lg > :where(:first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-lg > :where(:last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:top-\[140px\] {
    top: 140px;
  }

  .lg\:left-\[35px\] {
    left: 35px;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-none {
    order: 0;
  }

  .lg\:\!mt-0 {
    margin-top: 0 !important;
  }

  .lg\:-mt-\[460px\] {
    margin-top: -460px;
  }

  .lg\:mt-14 {
    margin-top: 3.5rem;
  }

  .lg\:mt-0 {
    margin-top: 0;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[190px\] {
    height: 190px;
  }

  .lg\:min-h-\[490px\] {
    min-height: 490px;
  }

  .lg\:w-\[190px\] {
    width: 190px;
  }

  .lg\:w-4\/12 {
    width: 33.3333%;
  }

  .lg\:w-\[515px\] {
    width: 515px;
  }

  .lg\:w-6\/12 {
    width: 50%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-10\/12 {
    width: 83.3333%;
  }

  .lg\:w-2\/12 {
    width: 16.6667%;
  }

  .lg\:w-8\/12 {
    width: 66.6667%;
  }

  .lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-9\/12 {
    width: 75%;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:place-content-start {
    align-content: start;
    justify-content: start;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse) );
    border-top-width: calc(0px * (1 - var(--tw-divide-y-reverse) ) );
  }

  .lg\:divide-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-left-width: calc(2px * (1 - var(--tw-divide-x-reverse) ) );
    border-right-width: calc(2px * var(--tw-divide-x-reverse) );
  }

  .lg\:bg-herobg {
    background-image: url("https://go.1worldsync.com/rs/980-UUZ-493/images/abstract-bg.png");
  }

  .lg\:p-0 {
    padding: 0;
  }

  .lg\:py-\[55px\] {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .lg\:px-\[17px\] {
    padding-left: 17px;
    padding-right: 17px;
  }

  .lg\:py-\[17px\] {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .lg\:py-0 {
    padding-bottom: 0;
  }

  .lg\:pt-0, .lg\:py-0 {
    padding-top: 0;
  }

  .lg\:pl-0 {
    padding-left: 0;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:leading-tight {
    line-height: 1.25;
  }

  .lg\:shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  }
}

@media (min-width: 1280px) {
  .xl\:top-\[218px\] {
    top: 218px;
  }

  .xl\:left-\[40px\] {
    left: 40px;
  }

  .xl\:mt-3 {
    margin-top: .75rem;
  }

  .xl\:-mt-\[460px\] {
    margin-top: -460px;
  }

  .xl\:mt-14 {
    margin-top: 3.5rem;
  }

  .xl\:mt-0 {
    margin-top: 0;
  }

  .xl\:mr-\[90px\] {
    margin-right: 90px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-\[240px\] {
    height: 240px;
  }

  .xl\:min-h-\[710px\] {
    min-height: 710px;
  }

  .xl\:w-\[250px\] {
    width: 250px;
  }

  .xl\:w-4\/12 {
    width: 33.3333%;
  }

  .xl\:w-5\/12 {
    width: 41.6667%;
  }

  .xl\:w-\[515px\] {
    width: 515px;
  }

  .xl\:w-7\/12 {
    width: 58.3333%;
  }

  .xl\:w-6\/12 {
    width: 50%;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:w-10\/12 {
    width: 83.3333%;
  }

  .xl\:w-2\/12 {
    width: 16.6667%;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:place-content-start {
    align-content: start;
    justify-content: start;
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:gap-7 {
    gap: 1.75rem;
  }

  .xl\:gap-4 {
    gap: 1rem;
  }

  .xl\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse) );
    border-top-width: calc(0px * (1 - var(--tw-divide-y-reverse) ) );
  }

  .xl\:divide-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-left-width: calc(2px * (1 - var(--tw-divide-x-reverse) ) );
    border-right-width: calc(2px * var(--tw-divide-x-reverse) );
  }

  .xl\:py-\[15px\] {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .xl\:py-\[55px\] {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .xl\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .xl\:py-\[30px\] {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .xl\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .xl\:pt-0 {
    padding-top: 0;
  }

  .xl\:pl-0 {
    padding-left: 0;
  }

  .xl\:pr-\[4px\] {
    padding-right: 4px;
  }

  .xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }

  .xl\:leading-tight {
    line-height: 1.25;
  }

  .xl\:shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  }
}

@media (min-width: 1536px) {
  .\32 xl\:top-\[210px\] {
    top: 210px;
  }

  .\32 xl\:hidden {
    display: none;
  }

  .\32 xl\:h-\[260px\] {
    height: 260px;
  }

  .\32 xl\:min-h-\[710px\] {
    min-height: 710px;
  }

  .\32 xl\:w-\[270px\] {
    width: 270px;
  }

  .\32 xl\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .csm\:bottom-\[28\%\] {
    bottom: 28%;
  }

  .csm\:left-\[28\%\] {
    left: 28%;
  }

  .csm\:h-\[38\%\] {
    height: 38%;
  }

  .csm\:w-\[46\%\] {
    width: 46%;
  }
}
