.lego-side-menu {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity) );
  height: 100%;
  width: 16.6667%;
  border-right-width: 2px;
  position: fixed;
  top: 0;
  left: 0;
}

.lego-side-menu .side-menu {
  margin: 0;
}

.lego-side-menu .side-menu > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  --tw-divide-opacity: 1;
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse) );
  border-color: rgb(229 231 235 / var(--tw-divide-opacity) );
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse) ) );
}

.lego-side-menu .side-menu {
  width: 100%;
  border-top-width: 1px;
  padding-top: 20px;
  padding-left: 0;
}

.lego-side-menu .side-menu li {
  padding: .5rem 1.25rem;
}

.lego-side-menu .side-menu li a {
  --tw-text-opacity: 1;
  color: rgb(0 102 102 / var(--tw-text-opacity) );
  font-weight: 600;
  transition-property: color, background-color, border-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.lego-side-menu .side-menu li a:hover {
  --tw-text-opacity: 1;
  color: rgb(0 136 85 / var(--tw-text-opacity) );
}

.lego-side-menu .side-menu li ul li {
  margin: 0 0 0 25px;
  padding: 0;
  list-style: circle;
}

.lego-side-menu .side-menu li ul li a {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

.lego-content-wrapper {
  width: 98%;
  padding-left: 18.6667%;
}

.lego-content-wrapper h2 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity) );
  font-family: var(--tw-font-display), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  line-height: 1.25 !important;
}

.lego-content-wrapper .dummy-block-outer {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity) );
  border-radius: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

@media (min-width: 1024px) {
  .lego-content-wrapper .dummy-block-outer #benefits-section .w-full.shabow-none {
    margin-top: 0 !important;
  }
}

@media (min-width: 1280px) {
  .lego-content-wrapper .dummy-block-outer #benefits-section .w-full.shabow-none {
    margin-top: 0 !important;
  }
}

.lego-content-wrapper .benefits-section-markup #benefits-section .w-full.bg-white {
  margin-top: 0;
}

.divider-block {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

