/**
 * @license
 *
 * Font Family: Poppins
 * Designed by: Jonny Pinhorn, Indian Type Foundry
 * URL: https://www.fontshare.compoppins
 * © 2022 Indian Type Foundry
 *
 * Font Styles:
 * Poppins Variable(Variable font)
 * Poppins Variable Italic(Variable font)
 * Poppins Thin
 * Poppins Thin Italic
 * Poppins Extra Light
 * Poppins Extra Light Italic
 * Poppins Light
 * Poppins Light Italic
 * Poppins Regular
 * Poppins Italic
 * Poppins Medium
 * Poppins Medium Italic
 * Poppins Semi Bold
 * Poppins Semi Bold Italic
 * Poppins Bold
 * Poppins Bold Italic
 * Poppins Extra Bold
 * Poppins Extra Bold Italic
 * Poppins Black
 * Poppins Black Italic
 *
*/


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 100.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
  font-family: 'Poppins-Variable';
  src: url('Poppins-Variable.woff2') format('woff2'),
       url('Poppins-Variable.woff') format('woff'),
       url('Poppins-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 100.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
  font-family: 'Poppins-VariableItalic';
  src: url('Poppins-VariableItalic.woff2') format('woff2'),
       url('Poppins-VariableItalic.woff') format('woff'),
       url('Poppins-VariableItalic.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Thin';
  src: url('Poppins-Thin.woff2') format('woff2'),
       url('Poppins-Thin.woff') format('woff'),
       url('Poppins-Thin.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url('Poppins-ThinItalic.woff2') format('woff2'),
       url('Poppins-ThinItalic.woff') format('woff'),
       url('Poppins-ThinItalic.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('Poppins-ExtraLight.woff2') format('woff2'),
       url('Poppins-ExtraLight.woff') format('woff'),
       url('Poppins-ExtraLight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url('Poppins-ExtraLightItalic.woff2') format('woff2'),
       url('Poppins-ExtraLightItalic.woff') format('woff'),
       url('Poppins-ExtraLightItalic.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Light';
  src: url('Poppins-Light.woff2') format('woff2'),
       url('Poppins-Light.woff') format('woff'),
       url('Poppins-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('Poppins-LightItalic.woff2') format('woff2'),
       url('Poppins-LightItalic.woff') format('woff'),
       url('Poppins-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Regular';
  src: url('Poppins-Regular.woff2') format('woff2'),
       url('Poppins-Regular.woff') format('woff'),
       url('Poppins-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-Italic';
  src: url('Poppins-Italic.woff2') format('woff2'),
       url('Poppins-Italic.woff') format('woff'),
       url('Poppins-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Medium';
  src: url('Poppins-Medium.woff2') format('woff2'),
       url('Poppins-Medium.woff') format('woff'),
       url('Poppins-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url('Poppins-MediumItalic.woff2') format('woff2'),
       url('Poppins-MediumItalic.woff') format('woff'),
       url('Poppins-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('Poppins-SemiBold.woff2') format('woff2'),
       url('Poppins-SemiBold.woff') format('woff'),
       url('Poppins-SemiBold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('Poppins-SemiBoldItalic.woff2') format('woff2'),
       url('Poppins-SemiBoldItalic.woff') format('woff'),
       url('Poppins-SemiBoldItalic.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.woff2') format('woff2'),
       url('Poppins-Bold.woff') format('woff'),
       url('Poppins-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('Poppins-BoldItalic.woff2') format('woff2'),
       url('Poppins-BoldItalic.woff') format('woff'),
       url('Poppins-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('Poppins-ExtraBold.woff2') format('woff2'),
       url('Poppins-ExtraBold.woff') format('woff'),
       url('Poppins-ExtraBold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('Poppins-ExtraBoldItalic.woff2') format('woff2'),
       url('Poppins-ExtraBoldItalic.woff') format('woff'),
       url('Poppins-ExtraBoldItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Poppins-Black';
  src: url('Poppins-Black.woff2') format('woff2'),
       url('Poppins-Black.woff') format('woff'),
       url('Poppins-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url('Poppins-BlackItalic.woff2') format('woff2'),
       url('Poppins-BlackItalic.woff') format('woff'),
       url('Poppins-BlackItalic.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}
