<template lang="pug">
div(v-if='type === "primary"')
  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
    tbody
      tr
        td(align='center', bgcolor='#008855', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#008855;', valign='middle')
          a(v-bind:href='link', style='display:inline-block;background:#008855;color:#FFFFFF;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:700;line-height:16px;letter-spacing:.2px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
            slot Bold

div(v-else-if='type === "secondary"')
  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
    tbody
      tr
        td(align='center', bgcolor='#E7E8E9', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#E7E8E9;', valign='middle')
          a(v-bind:href='link', style='display:inline-block;background:#E7E8E9;color:#343638;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:10px 24px;mso-padding-alt:0px;border-radius:60px;')
            slot Subtle

div(v-else-if='type === "tertiary"')
  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
    tbody
      tr
        td(align='center', bgcolor='transparent', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:0;background:transparent;', valign='middle')
          a(v-bind:href='link', style='display:inline-block;background:transparent;color:#008855;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:0;mso-padding-alt:0px;border-radius:60px;')
            slot Link
            img(alt='alt', src='/images/arrow.png', style='vertical-align: middle; display: inline; margin-left: 6px', width='32', height='32')

div(v-else)
  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
    tbody
      tr
        td(align='center', bgcolor='#787D84', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#787D84;', valign='middle')
          a(v-bind:href='link', style='display:inline-block;background:#787D84;color:#ffffff;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
            slot Default
</template>

<style scoped>
  table,
  td {
    border-collapse: collapse;
    padding: 0;
  }
</style>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'default'
    },
    link: {
      type: String,
      default: 'javascript:void(0)'
    }
  }
}
</script>
