<template lang="pug">

div(v-if='type === "bold-subtle"')
  div.canvas(style='margin:0px auto;max-width:600px;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:8px 0;text-align:center;')
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='right', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='#008855', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#008855;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:#008855;color:#FFFFFF;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:700;line-height:16px;letter-spacing:.2px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
                                        slot Register
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='left', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='#E7E8E9', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#E7E8E9;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:#E7E8E9;color:#343638;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
                                        slot Log in



div(v-else-if='type === "bold-link"')
  div.canvas(style='margin:0px auto;max-width:600px;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:8px 0;text-align:center;')
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='right', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='#008855', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#008855;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:#008855;color:#FFFFFF;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:700;line-height:16px;letter-spacing:.2px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
                                      slot Create Account
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='left', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='transparent', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:0;background:transparent;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:transparent;color:#008855;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:0;mso-padding-alt:0px;border-radius:60px;')
                                        slot Portal Login
                                        img(alt='alt', height='32', src='https://static.basedcdn.com/1ws/src/assets/arrow.png', style='vertical-align: middle; display: inline; margin-left: 6px', width='32')


div(v-else-if='type === "subtle-link"')
  div.canvas(style='margin:0px auto;max-width:600px;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:8px 0;text-align:center;')
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='right', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='#E7E8E9', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:12px 24px;background:#E7E8E9;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:#E7E8E9;color:#343638;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px;mso-padding-alt:0px;border-radius:60px;')
                                      slot Learn More
            .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                tbody
                  tr
                    td(style='vertical-align:top;padding:8px 12px;')
                      table(border='0', cellpadding='0', cellspacing='0', role='presentation', width='100%')
                        tbody
                          tr
                            td(align='left', vertical-align='middle', style='font-size:0px;padding:0;word-break:break-word;')
                              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                                tbody
                                  tr
                                    td(align='center', bgcolor='transparent', role='presentation', style='border:none;border-radius:60px;cursor:auto;mso-padding-alt:0;background:transparent;', valign='middle')
                                      a(v-bind:href='link', style='display:inline-block;background:transparent;color:#008855;font-family:Inter, Arial, sans-serif;font-size:14px;font-weight:600;line-height:16px;letter-spacing:.1px;margin:0;text-decoration:none;text-transform:none;padding:0;mso-padding-alt:0px;border-radius:60px;')
                                        slot View All
                                        img(alt='alt', height='32', src='https://static.basedcdn.com/1ws/src/assets/arrow.png', style='vertical-align: middle; display: inline; margin-left: 6px', width='32')

div(v-else)

</template>

<style scoped>
table, td, tr {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  border-collapse: collapse;
}
table { display: table; }
tr { display: table-row; }
td { display: table-cell; }
</style>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'default'
    },
    link: {
      type: String,
      default: 'javascript:void(0)'
    }
  }
}
</script>
