/* ibm-plex-mono-300 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('ibm-plex-mono-latin-300.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-300.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-300.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-300.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-300.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-300italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('ibm-plex-mono-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-300italic.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-300italic.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-300italic.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-300italic.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('ibm-plex-mono-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-regular.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-regular.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-regular.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-regular.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('ibm-plex-mono-latin-italic.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-italic.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-italic.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-italic.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-italic.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('ibm-plex-mono-latin-500.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-500.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-500.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-500.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-500.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('ibm-plex-mono-latin-500italic.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-500italic.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-500italic.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-500italic.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-500italic.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('ibm-plex-mono-latin-600.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-600.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-600.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-600.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-600.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('ibm-plex-mono-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-700.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-700.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-700.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-700.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-600italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('ibm-plex-mono-latin-600italic.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-600italic.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-600italic.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-600italic.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-600italic.ttf') format('truetype');/* Safari, Android, iOS */
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('ibm-plex-mono-latin-700italic.eot');
  /* IE9 Compat Modes */
  src: url('ibm-plex-mono-latin-700italic.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('ibm-plex-mono-latin-700italic.woff2') format('woff2'),/* Super Modern Browsers */
  url('ibm-plex-mono-latin-700italic.woff') format('woff'),/* Modern Browsers */
  url('ibm-plex-mono-latin-700italic.ttf') format('truetype');/* Safari, Android, iOS */
}
