<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component" class="auto-columns">
    <NuxtLink to="forms" class="btn" target="_blank">Preview Form</NuxtLink>
  </div>
</view-component>
</template>

<script>
export default {
  name: 'BlockForms',
  data() {
    return {
      name: 'Form Styles',
      tabs: 1,
      code: `

<!-- Styles are included in theme. -->
`,
      mkto: `
<!-- Replace _XXXX with your Marketo form ID into your webpage -->
<script src="//go.1worldsync.com/js/forms2/js/forms2.min.js"><\/script>
<form id="mktoForm_XXXX"><\/form>
<script>MktoForms2.loadForm("//go.1worldsync.com", "980-UUZ-493", XXXX);<\/script>

<!-- Click the gear icon on the Form Theme screen to edit CSS styles
Paste @import snippet in the Plain Custom CSS Window and click Save -->
@import url("https://1worldsync.com/wp-content/uploads/mkto-forms.css");
`,
    }
  }
}
</script>
