<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div id="subscribe" slot="component" class="auto-columns">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-6 xl:grid-cols-4 xl:gap-2">
      <div v-for="item in plans" v-bind:class="{ 'plan': item.popular !== 1, 'plan highlight': item.popular === 1 }" class="grid p-1 rounded-2xl">
        <div class="grid h-full bg-white rounded-xl">
          <div class="item-start">
            <div v-bind:class="{ '': item.popular !== 1, 'indicator': item.popular === 1 }" class="table-head">
              <p v-if="item.popular == 1" class="badge indicator-item indicator-center bg-accent"><small class="badge-label">Most Popular</small></p>
              <p class="pb-4 text-3xl tracking-wide font-bold uppercase font-display text-accent">{{ item.name }}</p>
              <p class="h-full text-sm capsized">{{ item.overview }}</p>
            </div>
            <div class="grid gap-4 p-4 pb-0">
              <p class="text-base font-semibold leading-6 text-primary-dark">{{ item.includes }}</p>
              <div class="grid gap-2">
                <p class="heading-sm">{{ item.featureHead }}</p>
                <ul role="list" class="grid gap-2 text-sm">
                  <li class="flex gap-2 items-baseline" v-for="feature in item.featureList">
                    <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i>
                    <span>{{ feature }}</span>
                  </li>
                </ul>
              </div>
              <div class="grid gap-2">
                <p v-html="item.benefitHead" class="heading-sm"></p>
                <ul role="list" class="grid gap-2 text-sm">
                  <li class="flex gap-2 items-baseline" v-for="benefit in item.benefitList">
                    <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i>
                    <span>{{ benefit }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="self-end p-3">
            <button v-on:click="toggleModal(item.name)" class="font-bold bg-white btn btn-md btn-block gap-2 hover:bg-light justify-between lightbox-button px-4 uppercase w-full">Get Quote <i class="opacity-80 fas fa-long-arrow-right fa-lg" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- LIGHBOX -->
    <div v-if="showModal" class="fixed inset-0 z-40 bg-zinc-800 opacity-80 transition-opacity"></div>
    <div v-show="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-start md:items-center flex p-8">
      <div class="relative w-auto my-8 md:my-0 mx-auto max-w-6xl">
        <div class="border-0 rounded-2xl shadow-xl relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <div class="flex items-center justify-between py-4 px-8 border-b border-solid border-slate-200 rounded-t">
            <h3 class="text-2xl font-display font-bold text-accent mr-auto capitalize">The {{ showForm }} Plan</h3>
            <button class="btn btn-square ml-auto font-bold -mr-4" v-on:click="toggleModal()"><i class="text-lg far fa-times"></i></button>
          </div>
          <div class="relative py-6 px-8 flex-auto">
            <div class="p-4 mb-4 text-primary-dark font-medium border-primary/20 border-[1.5px] bg-primary-light/10 rounded-lg flex gap-2 items-center">
              <i class="far fa-info-circle fa-lg opacity-80 text-primary"></i> Fill out the form below to get a quote and speak to a 1WorldSync expert.
            </div>

            <!-- START EXAMPLE FORM -->
            <form id="mktoForm_XXXX" novalidate="novalidate" class="mktoForm mktoHasWidth mktoLayoutLeft" style="font-family: inherit; font-size: 13px; color: rgb(51, 51, 51); width: 1041px;">
              <style type="text/css"></style>
              <div class="mktoFormRow">
                <input type="hidden" name="subscriptionPlanInterest" class="mktoField mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <input type="hidden" name="honeyPot" class="mktoField mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="FirstName" id="LblFirstName" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>First Name:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <input id="FirstName" name="FirstName" maxlength="255" aria-labelledby="LblFirstName InstructFirstName" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructFirstName" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="LastName" id="LblLastName" class="mktoLabel mktoHasWidth" style="width: 116px;">
                    <div class="mktoAsterix">*</div>Last Name:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <input id="LastName" name="LastName" maxlength="255" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructLastName" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Email" id="LblEmail" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Email Address:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div><input id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructEmail" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Company" id="LblCompany" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Company Name:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div><input id="Company" name="Company" maxlength="255" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructCompany" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Title" id="LblTitle" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Job Title:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div><input id="Title" name="Title" maxlength="255" type="text" class="mktoField mktoTextField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructTitle" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="LeadRole" id="LblLeadRole" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Department/Role:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <select id="LeadRole" name="LeadRole" class="mktoField mktoHasWidth mktoRequired" style="width: 150px;">
                      <option>Select...</option>
                      <option>Executive/Management</option>
                      <option>eCommerce</option>
                      <option>Finance/Accounting</option>
                      <option>Information Technology</option>
                      <option>Marketing</option>
                      <option>Master Data Management</option>
                      <option>Operations</option>
                      <option>Product Management</option>
                      <option>Purchasing/Category Management</option>
                      <option>Sales</option>
                    </select>
                    <span id="InstructLeadRole" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Phone" id="LblPhone" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Phone Number:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div><input id="Phone" name="Phone" maxlength="255" type="tel" class="mktoField mktoTelField mktoHasWidth mktoRequired" style="width: 150px;">
                    <span id="InstructPhone" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Country" id="LblCountry" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Country:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <select id="Country" name="Country" class="mktoField mktoHasWidth mktoRequired" style="width: 150px;">
                      <option>Select...</option>
                    </select>
                    <span id="InstructCountry" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoPlaceholder mktoPlaceholderState"></div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="Industry" id="LblIndustry" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Industry:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <select id="Industry" name="Industry" class="mktoField mktoHasWidth mktoRequired" style="width: 150px;">
                      <option>Select...</option>
                      <option>CPG/Retail</option>
                      <option>DIY/Hardlines</option>
                      <option>Foodservice</option>
                      <option>Healthcare</option>
                      <option>Other</option>
                    </select>
                    <span id="InstructIndustry" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap mktoRequiredField">
                    <label for="companySize" id="LblcompanySize" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Company Size:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <select id="companySize" name="companySize" class="mktoField mktoHasWidth mktoRequired" style="width: 150px;">
                      <option>Select...</option>
                      <option>Revenue less than 1 Billion USD</option>
                      <option>Revenue more than 1 Billion USD</option>
                    </select>
                    <span id="InstructcompanySize" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap">
                    <label for="commentCapture" id="LblcommentCapture" class="mktoLabel mktoHasWidth" style="width: 100px;">
                    <div class="mktoAsterix">*</div>Comments:</label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <textarea id="commentCapture" name="commentCapture" rows="2" class="mktoField mktoHasWidth mktoValid" maxlength="2000" style="width: 150px;" aria-invalid="false"></textarea>
                    <span id="InstructcommentCapture" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFieldDescriptor mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset" style="width: 5px;"></div>
                  <div class="mktoFieldWrap">
                    <label for="mktoOptIn" id="LblmktoOptIn" class="mktoLabel mktoHasWidth" style="width: 431px;">
                    <div class="mktoAsterix">*</div> I consent to the use of my name and e-mail to recive 1WorldSync communications.
                    </label>
                    <div class="mktoGutter mktoHasWidth" style="width: 5px;"></div>
                    <div class="mktoLogicalField mktoCheckboxList mktoHasWidth" style="width: 32px;">
                      <input name="mktoOptIn" id="mktoOptIn" type="checkbox" class="mktoField">
                      <label for="mktoOptIn" id="LblmktoOptIn"></label>
                    </div>
                    <span id="InstructmktoOptIn" tabindex="-1" class="mktoInstruction"></span>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoFormRow">
                <div class="mktoFormCol" style="margin-bottom: 5px;">
                  <div class="mktoOffset mktoHasWidth" style="width: 5px;"></div>
                  <div class="mktoFieldWrap">
                    <div class="mktoHtmlText mktoHasWidth" style="width: 100px;">
                      At anytime visit our <a href="https://go.1worldsync.com/Subscription-Center.html">Subscription Center</a> manage or unsubscribe.
                      Information on the handling of your data can be found in our <a href="https://www.1worldsync.com/privacy-policy/" target="_blank">Privacy Policy</a>.
                    </div>
                    <div class="mktoClear"></div>
                  </div>
                  <div class="mktoClear"></div>
                </div>
                <div class="mktoClear"></div>
              </div>
              <div class="mktoButtonRow"><span class="mktoButtonWrap mktoNative" style="margin-left: 110px;"><button type="button" class="mktoButton">Submit</button></span></div>
              <input type="hidden" name="formid" class="mktoField mktoFieldDescriptor">
              <input type="hidden" name="munchkinId" class="mktoField mktoFieldDescriptor">
            </form>
            <!-- END EXAMPLE FORM -->
          </div>
        </div>
      </div>
    </div>
    <!-- LIGHTBOX -->

  </div>
</view-component>
</template>

<style lang="postcss">
  body.modal-open {
    overflow: hidden;
  }
  @import "@@/assets/blocks/pricing.css";
  @import "@@/assets/forms.css";

  [id*=mktoForm_].mktoForm [for="mktoOptIn"], [id^=mktoForm_].mktoForm [for="mktoOptIn"] {
      font-size: unset;
      line-height: 1.75;
  }
  [id*=mktoForm_].mktoForm [for="mktoOptIn"].mktoLabel, [id^=mktoForm_].mktoForm [for="mktoOptIn"].mktoLabel {
    margin-left: 1.75rem;
    margin-bottom: unset;
    margin-top: unset;
    font-weight: 400 !important;
  }
  [id*=mktoForm_].mktoForm .mktoHtmlText, [id^=mktoForm_].mktoForm .mktoHtmlText {
    font-size: unset;
  }
  .mktoButtonRow {
    padding-top: 1em;
  }
</style>

<script>
export default {
  data() {
    return {
      name: 'Plans Table',
      showModal: false,
      showForm: null,
      tabs: 1,
      plans: [
        {
          name: "Base",
          popular: 0,
          overview: "Validate and publish your content to a global network of recipients, instantly, with 1WorldSync Item Management.",
          includes: "Includes:",
          featureHead: "Setup & Manage",
          featureList: [
            "Unlimited Users",
            "Unlimited Products",
            "Unlimited Storage",
            "Digital Asset Management (DAM)",
            "Onboarding Support",
            "24/7 Technical Support",
            "Access to Peer Community Platform",
            "Multiple Integration Options",
          ],
          benefitHead: "Syndicate",
          benefitList: [
            "Unlimited Access to 2000+ Recipient Network",
            "Real-Time Content Insights & Analytics",
          ],
        },
        {
          name: "Plus",
          popular: 0,
          overview: "Take content creation off your plate via our world-class imagery solutions and item setup managed services.",
          includes: "Everything in BASE and:",
          featureHead: "Content Creation",
          featureList: [
            "Image Capture & 360-Degree Photography",
            "Off-pack content capture",
            "Automated Attribute Generation",
            "Quality Assurance Guarantee",
            "Auto-Generated Product Description",
          ],
          benefitHead: "Item Setup Automation",
          benefitList: [
            "Image Loading",
            "Logistics & Hierarchy Details",
            "Certifications, Features & Benefits",
            "Weight & Measurement Validation",
            "SEO Copy & Keyword Upload",
            "Guaranteed Accuracy",
          ],
        },
        {
          name: "Pro",
          popular: 1,
          overview: "Leverage your content for sales and marketing efforts and check off key transparency and compliance initiatives.",
          includes: "Everything in PLUS and:",
          featureHead: "Digital Catalog",
          featureList: [
            "Dynamic Sales & Marketing Materials in Your Branding",
            "Enable Transparency & Compliance Initiatives",
            "Real-Time Content Updates",
            "Flexible Access & Visibility Settings",
          ],
          benefitHead: "SmartLabel <i aria-hidden='true' class='far fa-copyright text-[10px]'></i> <span class='badge badge-sm'><small class='badge-sm-label'>New</small></span>",
          benefitList: [
            "One-Click Page Creation",
            "Meet Transparency & Compliance Requirements",
            "Adapt to Consumer Trends",
            "Preview Capabilities & Quality Assurance",
          ],
        },
        {
          name: "Premire",
          popular: 0,
          overview: "The complete product content experience! Amplify your e-commerce presence with high-impact rich content.",
          includes: "Everything in PRO and:",
          featureHead: "Rich Content Syndication",
          featureList: [
            "Powerful Inline Content Builder",
            "Imagery, Video, Comparison Charts, AR Compatibility & More",
            "Hot Spot Image Creation",
            "Seamless Delivery to Global E-Commerce Network",
            "Quality Assurance Guaranteed",
            "Integrate with Digital Catalog",
          ],
          benefitHead: "Rich Content Analytics",
          benefitList: [
            "Content Usage & Performance Insights",
            "Content Interactions by Retailer",
            "Campaign Reporting",
          ],
        }
      ],
      code: `
  <div id="subscribe" class="py-8 rounded-[2em]">
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-6 xl:grid-cols-4 xl:gap-2">
    <div v-for="item in plans" v-bind:class="{ 'plan': item.popular !== 1, 'plan highlight': item.popular === 1 }" class="grid p-1 rounded-2xl">
      <div class="grid h-full bg-white rounded-xl">
        <div class="item-start">
          <div v-bind:class="{ '': item.popular !== 1, 'indicator': item.popular === 1 }" class="table-head">
            <p v-if="item.popular == 1" class="badge indicator-item indicator-center bg-accent"><small class="badge-label">Most Popular</small></p>
            <p class="pb-4 text-4xl font-bold font-display text-accent">{{ item.name }}</p>
            <p class="h-full text-sm capsized">{{ item.overview }}</p>
          </div>
          <div class="grid gap-4 p-4 pb-0">
            <p class="text-base font-semibold leading-6 text-primary-dark">{{ item.includes }}</p>
            <div class="grid gap-2">
              <p class="heading-sm">{{ item.featureHead }}</p>
              <ul role="list" class="grid gap-2 text-sm text-gray-700">
                <li class="flex gap-2 items-baseline" v-for="feature in item.featureList">
                  <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i><span>{{ feature }}</span>
                </li>
              </ul>
            </div>
            <div class="grid gap-2">
              <p v-html="item.benefitHead" class="heading-sm"></p>
              <ul role="list" class="grid gap-2 text-sm text-gray-700">
                <li class="flex gap-2 items-baseline" v-for="benefit in item.benefitList">
                  <i class="text-sm text-primary-light fa-lg fas fa-check" aria-hidden="true"></i><span>{{ benefit }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="self-end p-3">
          <a href="javascript:void(0)" class="btn-table btn btn-block btn-ghost lightbox-button">Get Quote <i class="opacity-80 fas fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>`,
      mkto: null,
      active: null,
    }
  },
  watch: {
    active: function () {
      document.body.style.overflow = this.active ? 'hidden' : ''
    }
  },
  methods: {
    toggleModal: function(activeForm){
      this.showModal = !this.showModal;
      this.showForm = activeForm;
      this.active = !this.active;
    },
  }
}
</script>
