<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <aside slot="component" class="btn-navs">
    <div class="btn-group">
      <a @click="isActive = '1'" :class="{ 'btn-active' : isActive === '1'}" class="btn btn-ghost iframe-lightbox-link" href="/lib/mocks/clothing.html">Clothing</a>
      <a @click="isActive = '2'" :class="{ 'btn-active' : isActive === '2'}" class="btn btn-ghost iframe-lightbox-link" href="/lib/mocks/consumer-electronics.html">Consumer Electronics</a>
      <a @click="isActive = '3'" :class="{ 'btn-active' : isActive === '3'}" class="btn btn-ghost iframe-lightbox-link" href="/lib/mocks/food-beverage.html">Food &amp; Beverage</a>
      <a @click="isActive = '4'" :class="{ 'btn-active' : isActive === '4'}" class="btn btn-ghost iframe-lightbox-link" href="/lib/mocks/health-beauty.html">Health &amp; Beauty</a>
      <a @click="isActive = '5'" :class="{ 'btn-active' : isActive === '5'}" class="btn btn-ghost iframe-lightbox-link" href="/lib/mocks/sporting-goods.html">Sporting Goods</a>
    </div>
    <div v-html="iFrameLightbox"></div>
  </aside>
</view-component>
</template>

<style lang="postcss">
@import "@@/assets/blocks/lightbox-iframe.css";
.btn-navs {
  @apply bg-white rounded-2xl flex h-16 w-fit shadow-xl;
  .btn-group {
    @apply w-full bg-white text-zinc-700 rounded-xl grid gap-x-4 auto-cols-auto grid-flow-col grid-rows-1 px-6 shadow-[0_0_0_1px_var(--tw-shadow-color)] shadow-slate-700/10;
  }
  .btn {
    @apply border-0 h-full rounded-lg font-medium hover:bg-transparent hover:text-primary hover:underline px-5;
    &-active {
      @apply bg-transparent relative font-semibold text-primary;
      &::after {
        @apply content-[""] h-[4px] bg-primary-light w-full absolute bottom-0 rounded-t;
      }
    }
  }
}
</style>

<script>
export default {
  __dangerouslyDisableSanitizers: ['iFrameLightbox'],
  data() {
    return {
      name: 'Content Viewer',
      dark: false,
      isActive: false,
      iFrameLightbox: "<script src='/lib/iframe-lightbox/script.js'><\/script>",
      code: `...`,
      mkto: null,
    }
  },
}
</script>
