/* inter-100 - latin v8*/
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('inter-latin-100.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-100.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-100.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-100.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-100.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('inter-latin-200.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-200.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-200.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-200.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-200.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('inter-latin-300.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-300.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-300.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-300.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-300.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('inter-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-regular.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-regular.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-regular.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-regular.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('inter-latin-500.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-500.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-500.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-500.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-500.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('inter-latin-600.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-600.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-600.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-600.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-600.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('inter-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-700.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-700.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-700.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-700.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('inter-latin-800.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-800.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-800.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-800.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-800.ttf') format('truetype');/* Safari, Android, iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('inter-latin-900.eot');
  /* IE9 Compat Modes */
  src: url('inter-latin-900.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('inter-latin-900.woff2') format('woff2'),/* Super Modern Browsers */
  url('inter-latin-900.woff') format('woff'),/* Modern Browsers */
  url('inter-latin-900.ttf') format('truetype');/* Safari, Android, iOS */
}
