<template>
<view-component :name="name" :code="code" :mkto="mkto">
  <div slot="component">
    <section class="py-20 lg:py-[120px]">
      <div class="container">
        <div class="overflow-hidden relative z-10 py-12 px-8 rounded bg-dark md:p-[70px]">
          <div class="flex flex-wrap items-center -mx-4">
            <div class="px-4 w-full lg:w-1/2">
              <span class="mb-2 text-base font-semibold text-white">
                Find Your Next Dream App
              </span>
              <h2 class="mb-6 text-3xl font-bold leading-tight text-white sm:mb-8 lg:mb-0 sm:text-[38px]">
                Get started with <br class="hidden xs:block">
                our free trial
              </h2>
            </div>
            <div class="px-4 w-full lg:w-1/2">
              <div class="flex flex-wrap lg:justify-end">
                <a href="javascript:void(0)" class="
		                    inline-block
		                    py-4
		                    px-6
		                    md:px-9
		                    lg:px-6
		                    xl:px-9
		                    rounded
		                    text-base
		                    font-medium
		                    bg-white bg-opacity-[15%]
		                    text-white
		                    hover:bg-opacity-100 hover:text-primary
		                    mr-4
		                    my-1
		                    transition
		                  ">
                  Get Pro Version
                </a>
                <a href="javascript:void(0)" class="inline-block py-4 px-6 my-1 text-base font-medium text-white rounded transition md:px-9 lg:px-6 xl:px-9 hover:bg-opacity-90 bg-primary">
                  Start Free Trial
                </a>
              </div>
            </div>
          </div>
          <div>
            <span class="absolute top-0 left-0 z-[-1]">
              <svg width="189" height="162" viewBox="0 0 189 162" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="16" cy="-16.5" rx="173" ry="178.5" transform="rotate(180 16 -16.5)" fill="url(#paint0_linear)"></ellipse>
                <defs>
                  <linearGradient id="paint0_linear" x1="-157" y1="-107.754" x2="98.5011" y2="-106.425" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0.07"></stop>
                    <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </span>
            <span class="absolute right-0 bottom-0 z-[-1]">
              <svg width="191" height="208" viewBox="0 0 191 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="173" cy="178.5" rx="173" ry="178.5" fill="url(#paint0_linear)"></ellipse>
                <defs>
                  <linearGradient id="paint0_linear" x1="-3.27832e-05" y1="87.2457" x2="255.501" y2="88.5747" gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" stop-opacity="0.07"></stop>
                    <stop offset="1" stop-color="white" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</view-component>
</template>

<script>
export default {
  // name: 'ButtonIcons',
  data() {
    return {
      name: 'With Icon',
      code: `
<button class="gap-2 btn">Arrow <i class="text-lg far fa-long-arrow-alt-right"></i></button>
<button class="gap-2 btn">Chevron <i class="fas fa-chevron-right"></i></button>
<button class="gap-2 btn"><i class="fas fa-search"></i> Seach</button>
<button class="gap-2 btn"><i class="fas fa-external-link-alt"></i> External</button>
`,
    mkto: null,
    }
  }
}
</script>
