<template>
<div class="p-4">
  <h1>{{ name }}</h1>
  <div>
    <span v-for="day in days" :key="day.id">
      {{ day.name }}
    </span>
  </div>
  <ul>
    <li v-for="size in sizes" :key="size.id">
      {{ size.name }}
    </li>
  </ul>
</div>
</template>

<script>
export default {
  data() {
    return {
      name: "IterateArray",
      days: [
        {
          id: 1,
          name: "Mon"
        },
        {
          id: 2,
          name: "Tue"
        },
        {
          id: 3,
          name: "Wed"
        },
        {
          id: 4,
          name: "Thurs"
        },
        {
          id: 5,
          name: "Fri"
        },
        {
          id: 6,
          name: "Sat"
        },
        {
          id: 7,
          name: "Sun"
        }
      ],
      sizes: [
        {
          id: 1,
          name: "XS"
        },
        {
          id: 2,
          name: "S"
        },
        {
          id: 3,
          name: "M"
        },
        {
          id: 4,
          name: "L"
        }
      ]
    };
  }
};
</script>
