<template>
<aside slot="component" id="cta-simple" class="container gap-8 sm:flex sm:flex-col space-4">
  <div>
    <h1 class="text-5xl font-bold font-display text-accent">{{ headline }}</h1>
    <p class="mt-4 text-xl text-dark/60">
      {{ copy }}
    </p>
  </div>
  <div><a class="rounded-full btn btn-primary btn-lg btn-wide font-display">Learn More</a></div>
</aside>
</template>

<script>
export default {
  data() {
    return {
      name: "BlockSimple",
      headline: "Subscription Plans",
      copy: "Access the industry’s most comprehensive product content management platform. Choose your subscription to get a quote. Not sure where to start? Our commerce experts are on hand to craft the right plan for your team.",
      button: [
        {
          label: "Learn More",
          link: "#subscribe",
        },
      ],
    };
  },
};
</script>
