<template>
<div slot="component" class="container py-8 rounded-[2em]">
  <div class="gap-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
    <div class="rounded-2xl bg-slate-300 hover:shadow-lg grid p-1 hover:bg-gradient-to-b from-emerald-500 via-primary-light to-teal-500">
      <div class="bg-white rounded-xl h-full grid">
        <div class="grid gap-2 p-4 -mb-4">
          <h2 class="capsized font-bold tracking-wide text-primary-dark font-display uppercase h-6">
            Base
          </h2>
          <div class="h-16">
            <div class="text-slate-600 uppercase text-tag leading-5">
              Starts at
            </div>
            <p class="flex gap-1">
              <span class="text-sm font-bold text-slate-900">$</span>
              <span class="text-4xl font-extrabold text-slate-900">499</span>
              <span class="text-lg text-slate-500">/</span>
              <span class="text-sm font-medium text-slate-500">mo</span>
            </p>
          </div>
          <p class="capsized-sm">
            Publish the content you have to a global network of recipients, instantly.
          </p>
        </div>
        <div class="grid gap-4 p-4">
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Setup &amp; Manage
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited Users</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited SKUs (GTINs)</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Digital Asset Management (DAM)</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited Storage</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Onboarding Support</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>24/7 Technical Support</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Access to Community Platform</span>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Syndicate
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <a class="link" href="#">Access to 2000+ Recipient Network</a>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Multiple connection options</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-3 self-end">
          <a class="btn btn-block btn-ghost btn-table">
            Get Quote
            <i class="far fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="rounded-2xl bg-slate-300 hover:shadow-lg grid p-1 hover:bg-gradient-to-b from-emerald-500 via-primary-light to-teal-500">
      <div class="bg-white rounded-xl h-full grid">
        <div class="grid gap-2 p-4 -mb-4">
          <h2 class="capsized font-bold tracking-wide text-primary-dark font-display uppercase h-6">
            Plus
          </h2>
          <div class="h-16">
            <div class="text-slate-600 uppercase text-tag leading-5">
              Starts at
            </div>
            <p class="flex gap-1">
              <span class="text-sm font-bold text-slate-900">$</span>
              <span class="text-4xl font-extrabold text-slate-900">749</span>
              <span class="text-lg text-slate-500">/</span>
              <span class="text-sm font-medium text-slate-500">mo</span>
            </p>
          </div>
          <p class="capsized-sm">
            Take content creation off your plate via our world-class
            photography and imagery solutions and item setup managed
            services.
          </p>
        </div>
        <div class="grid gap-4 p-4">
          <p class="text-base font-semibold leading-6 text-primary-dark">
            Everything In ‘Base’ Plus:
          </p>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Content Creation
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Image Capture</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Off-pack content capture</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Quality Assurance Guarantee</span>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Item Setup Automation
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Image loading</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check self-start" aria-hidden="true"></i>
                <span>Logistics information</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Certifications, features, differentiation</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Weight and Measure Validation</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Keywords</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Linking and publishing</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Up to 20 SKUs</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-3 self-end">
          <a class="btn btn-block btn-ghost btn-table">
            Get Quote
            <i class="far fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="rounded-2xl bg-slate-300 hover:shadow-lg grid p-1 bg-gradient-to-b from-emerald-500 hover:via-primary-light hover:to-teal-500 to-transparent">
      <div class="bg-white rounded-xl h-full grid">
        <div class="grid p-4 -mb-4 indicator">
          <span class="p-4 border-0 indicator-item indicator-top indicator-center badge badge-accent -mb-4"><small class="font-semibold font-display text-white uppercase tracking-widest -my-1">Most Popular</small></span>
          <h2 class="capsized font-bold tracking-wide text-primary-dark font-display uppercase h-6">
            Pro
          </h2>
          <div class="h-16">
            <div class="text-slate-600 uppercase text-tag leading-5">
              Starts at
            </div>
            <p class="flex gap-1 items-start">
              <span class="text-sm font-bold text-slate-900">$</span>
              <span class="text-4xl font-extrabold text-slate-900">999</span>
              <span class="text-lg text-slate-500">/</span>
              <span class="text-sm font-medium text-slate-500">mo</span>
            </p>
          </div>
          <p class="capsized-sm">
            Leverage your content for sales and marketing efforts and
            check off key transparency initiatives.
          </p>
        </div>
        <div class="grid gap-4 p-4">
          <p class="text-base font-semibold leading-6 text-primary-dark">
            Everything In ‘Base’ Plus:
          </p>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Digital Catalog
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Build your custom product catalog</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Dynamic sales and marketing materials in your
                  branding</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited users</span>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <div class="flex gap-1 items-center">
              <p class="inline-flex gap-1 text-accent uppercase text-tag leading-6 font-bold">
                SmartLabel
                <strong class="self-center w-3 h-3 text-[10px] far fa-copyright capsized-xs" aria-hidden="true"></strong>
              </p>
              <p class="badge">
                <small class="font-display text-primary-dark font-bold uppercase tracking-widest capsized-xs">New</small>
              </p>
            </div>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <a href="#">Meet Transparency Goals</a>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited Users</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>QR Codes</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Up to 20 SKUs</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-3 self-end">
          <a class="btn btn-block btn-ghost btn-table">
            Get Quote
            <i class="far fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="rounded-2xl bg-slate-300 hover:shadow-lg grid p-1 hover:bg-gradient-to-b from-emerald-500 via-primary-light to-teal-500">
      <div class="bg-white rounded-xl h-full grid">
        <div class="grid gap-2 p-4 -mb-4">
          <h2 class="capsized font-bold tracking-wide text-primary-dark font-display uppercase h-6">
            Premier
          </h2>
          <div class="h-16">
            <div class="text-slate-600 uppercase text-tag leading-5">
              Starts at
            </div>
            <p class="flex gap-1">
              <span class="text-sm font-bold text-slate-900">$</span>
              <span class="text-4xl font-extrabold text-slate-900">1499</span>
              <span class="text-lg text-slate-500">/</span>
              <span class="text-sm font-medium text-slate-500">mo</span>
            </p>
          </div>
          <p class="capsized-sm">
            Customize your plan to meet your exact content strategy needs.
            We have you covered from supply chain to e-commerce and more.
          </p>
        </div>
        <div class="grid gap-4 p-4">
          <p class="text-base font-semibold leading-6 text-primary-dark">
            Additional Options:
          </p>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Rich Content Syndication
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Powerful in ln-line content builder application for
                  product detail page rich content spreads</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Imagery, Video, comparison charts, and more</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Global e-commerce network</span>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Unlimited users</span>
              </li>
            </ul>
          </div>
          <div class="grid gap-2">
            <p class="text-accent uppercase text-tag leading-6 font-bold">
              Augmented Reality Content
            </p>
            <ul role="list" class="grid gap-2 text-sm leading-tight text-slate-800">
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <a href="#">Virtual shopping enabled</a>
              </li>
              <li class="flex gap-2 items-baseline">
                <i class="text-primary-light fa-lg far fa-check" aria-hidden="true"></i>
                <span>Compatible with all AR platforms</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-3 self-end">
          <a class="btn btn-block btn-ghost btn-table">
            Get Quote
            <i class="far fa-long-arrow-right fa-lg" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <p class="text-xs font-normal text-primary-dark pt-4 leading-8">
    * based on percentage of company revenue
  </p>
</div>
</template>

<style lang="postcss" scoped>
.capsized {
  font-size: 1em;
  line-height: 1.5;
}
.capsized::before {
  content: "";
  margin-bottom: -0.3864em;
  display: table;
}
.capsized::after {
  content: "";
  margin-top: -0.3864em;
  display: table;
}
.capsized-sm {
  font-size: 0.875rem;
  line-height: 1.375;
}
.capsized-sm::before {
  content: "";
  margin-bottom: -0.3506em;
  display: table;
}
.capsized-sm::after {
  content: "";
  margin-top: -0.3506em;
  display: table;
}
.capsized-xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.capsized-xs::before {
  content: "";
  margin-bottom: -0.303em;
  display: table;
}
.capsized-xs::after {
  content: "";
  margin-top: -0.303em;
}
.btn-table {
  @apply hover:bg-light text-primary justify-between font-semibold font-display self-end uppercase tracking-wide;
}
</style>

<script>
export default {
  data() {
    return {
      name: "SaaS Pricing Alt",
    };
  },
};
</script>
