<template lang="pug">
view-component(:name='name' :code='code' :mkto='mkto')
  .auto-rows(slot='component')
</template>
<script>
// import BrandHeader from "@@/static/images/logo-horizontal.svg?inline";
export default {
  // name: 'MegaMenu',
  // components: {
  //   BrandHeader
  // },
  data() {
    return {
      name: 'Header',
      code: `
Work in progress...
      `,
      mkto: null,
    };
  },
};
</script>
