<template lang="pug">
view-component(:name='name' :code='code' :mkto='mkto')
  .auto-rows(slot='component')
    p Setting up component type...
      br
      | Includes: Dropdowns, Mega Menu Panels, Footer Lists, Post Table of Contents and Tabbed Content
</template>

<script>
export default {
  // name: 'InputExample',
  data() {
    return {
      name: null,
      code: null,
      mkto: null,
    }
  },
}
</script>
