
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Inter:slnt,wght@-10,400;-10,500;-10,600;0,300;0,400;0,500;0,600;0,700;0,800&display=swap'); */

@import url('fonts/inter/index.css');
@import url('fonts/plex/index.css');

:root {
  /* theming */
  --uie-color-accent-ultralight: #1d4ed8;
  --uie-color-accent-light: #1e40af;
  --uie-color-accent-medium: #1e3a8a;
  --uie-color-accent-dark: #374151;
  --uie-color-accent-ultradark: #111827;
  --uie-color-neutral-10: #f3f4f6;
  --uie-color-neutral-20: #e5e7eb;
  --uie-color-neutral-30: #d1d5db;
  --uie-color-neutral-50: #9ca3af;
  --uie-color-neutral-70: #6b7280;
  --uie-color-neutral-80: #374151;
  --uie-color-neutral-90: #1f2937;
  --uie-color-navigation-text-hover: var(--uie-color-accent-medium);
  /* overrides */
  --uie-font-family-fallback: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --uie-font-family-code: "IBM Plex Mono",ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --uie-font-family-bold: "Inter",var(--uie-font-family-fallback);
  --uie-font-family-light: "Inter",var(--uie-font-family-fallback);
  --uie-font-family-regular: "Inter",var(--uie-font-family-fallback);
  --uie-font-family-bolditalic: "Inter",var(--uie-font-family-fallback);
  --uie-font-family-lightitalic: "Inter",var(--uie-font-family-fallback);
  --uie-font-weight-light: 400;
  --uie-font-weight-regular: 400;
  --uie-font-weight-italic: 400;
  --uie-font-weight-bold: 600;
  --uie-font-size-xs: 0.75rem;
  --uie-font-size-s: 0.875rem;
  --uie-font-size-m: 1rem;
  --uie-font-size-l: 1.125rem;
  --uie-font-size-xl: 1.25rem;
  --uie-font-size-xxl: 1.5rem;
  --uie-font-size-xxxl: 1.875rem;
  --uie-line-height: 1.625;
  --uie-line-height-heading: 1.25;
  --uie-base-border-radius: 0.375rem;
  --uie-base-font-size-s: var(--uie-font-size-l);
  --uie-base-font-size-m: var(--uie-font-size-l);
  --uie-base-font-size-l: var(--uie-font-size-l);
  --uie-color-label-bg: var(--uie-color-neutral-70);
  --uie-color-label-text: var(--uie-color-inverted-text);
  --uie-color-label-border: transparent;
  --uie-color-topbar-text-hover: var(--uie-color-neutral-30);
  --uie-color-main-text: var(--uie-color-neutral-80);
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  letter-spacing: -0.02ch;
  word-spacing: 0.04ch;
}

.in-page-nav__heading,
li.navigation__item--level-0 > .navigation__link {
  letter-spacing: 0.04ch;
}

.preview__options .preview__options-inner {
  justify-content: flex-start !important;
}

.contentheader__option {
  padding: var(--uie-space-l) var(--uie-space-m) !important;
}

/*.code > div.code__segment:first-child {
  display: none!important;
}*/

.content mark:not([class]),
.content pre {
  border-radius: var(--uie-base-border-radius);
}

pre.hljs {
  font-size: var(--uie-font-size-xs);
  padding: var(--uie-space-s) var(--uie-space-m) !important;
  font-weight: 400;
}

.uie p code:not([class]) {
  font-size: var(--uie-font-size-xs);
  display: inline-block;
  border-style: none;
  font-weight: 400;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgb(107 33 168/var(--tw-text-opacity));
}

.code__segment .code__title {
  font-size: var(--uie-font-size-s);
  font-weight: medium;
}

.uie code {
  font-size: var(--uie-font-size-xs) !important;
}

.code__segment pre.hljs {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

h1.contentheader__title {
  font-weight: 700;
}

.content ul:not([class]) {
  list-style-type: disc;
  padding-left: 0.5rem;
}

.content {
  margin-bottom: var(--uie-space-l);
}

.icon,
.navigation__icon {
  height: 20px !important;
  width: 20px !important;
}

.preview__options-inner button:last-child .preview__option-text svg {
  margin: -0.25em auto !important;
  height: 16px !important;
  width: 16px !important;
}

.footer {
  letter-spacing: 0.0125ch;
}

.footer .footer__version {
  font-weight: 400;
}

.code .code__segment:first-child{
  display: none !important;
}
