/*
 * https://codepen.io/englishextra/pen/jmjayV
 */

.iframe-lightbox {
  @apply hidden fixed opacity-0 transition-opacity z-[999999];

  &,
  .backdrop {
    @apply w-full h-full top-0 left-0;
  }

  .backdrop {
    @apply absolute bg-black/70 cursor-default;
  }

  .content-holder {
    @apply w-4/5 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -mr-[50%];
  }

  .content {
    @apply relative pb-[56.25%] max-h-[90vh] min-h-[90vh];

    @screen xl {
      @apply pb-[28%];
    }

    > .body {
      @apply absolute top-0 left-0 w-full h-full;

      .half-circle-spinner {
        @apply h-16 w-16 rounded-full relative m-0;
        @apply fixed top-1/2 left-1/2 -mr-[50%] -translate-y-1/2 -translate-x-1/2;

        &,
        * {
          @apply box-border;
        }

        .circle {
          @apply content-[""] absolute w-full h-full rounded-full border-[calc(60px/10)] border-transparent;
        }

        .circle.circle-1 {
          @apply border-t-white animate-spin;
        }

        .circle.circle-2 {
          @apply border-b-white animate-spin;
        }
      }
    }

    > .body.is-loaded {
      @apply p-2 rounded-lg bg-white shadow-2xl shadow-gray-900;

      @screen md {
        @apply p-4 rounded-xl;
      }

      @screen lg {
        @apply p-6 rounded-2xl;
      }

      .half-circle-spinner {
        @apply hidden;
      }
    }
  }

  iframe {
    @apply block h-full w-full border-0 transition-opacity;
  }

  &.is-showing {
    @apply block;
  }

  &.is-opened {
    @apply opacity-100;
  }

  .btn-close {
    @apply fixed top-2.5 right-2.5 m-4;

    &::after {
      @apply content-["\f00d"] font-icon font-normal text-lg;
    }
  }
}

body.iframe-lightbox--open {
  @apply overflow-hidden;
}
