/*
  TODO: Apply responsive font-sizing
  TODO: Add responsive styles to table header height
*/

.plan {
  @apply bg-slate-300 from-emerald-500 via-primary-light to-teal-500;

  --font-scale: 0.875rem;

  &:hover {
    @apply bg-gradient-to-b shadow-lg;
  }

  &.highlight {
    @apply bg-slate-300 from-emerald-500 to-transparent bg-gradient-to-b;

    &:hover {
      @apply to-teal-500 via-primary-light;
    }
  }

  .badge {
    @apply inline-flex items-center justify-center w-fit;
    @apply h-5 text-sm leading-5 px-[0.563rem];
    @apply border-0 text-slate-700 rounded-full p-4;

    &-sm {
      @apply text-xs bg-[#BBE088] py-0 px-2;
    }

    &-label {
      @apply font-semibold font-display text-white uppercase tracking-widest -my-1;
    }

    &-sm-label {
      @apply antialiased font-sans font-extrabold inline-flex leading-none self-center text-green-900 text-[10px] tracking-wider uppercase;
    }
  }

  .indicator {
    @apply relative inline-flex w-fit;

    .indicator-item {
      @apply absolute transform z-auto;
      @apply right-0 left-auto top-0 bottom-auto translate-x-1/2 -translate-y-1/2;

      &.indicator-start {
        @apply right-auto left-0 -translate-x-1/2;
      }

      &.indicator-center {
        @apply right-1/2 left-1/2 -translate-x-1/2;
      }

      &.indicator-end {
        @apply right-0 left-auto translate-x-1/2;
      }

      &.indicator-bottom {
        @apply top-auto bottom-0 translate-y-1/2;
      }

      &.indicator-middle {
        @apply top-1/2 bottom-1/2 -translate-y-1/2;
      }

      &.indicator-top {
        @apply top-0 bottom-auto -translate-y-1/2;
      }
    }
  }

  .table-head {
    @apply flex flex-col px-4 pt-8 pb-2;
  }

  .capsized {
    @apply text-gray-700;

    font-size: clamp(0.75rem, 0.875rem, 1rem);
  }

  .heading-sm {
    @apply font-semibold font-display leading-6 self-center text-accent text-xs tracking-wider uppercase;
  }

  /*
  .btn-table {
    @apply border-0 font-display font-semibold justify-between self-end text-primary tracking-wide uppercase;

    &:hover {
      @apply bg-light;
    }
  }
  */
}
